.resources-list .resource li.tableMinListItem {
    border: none;
    padding-bottom: 0px;
    padding-top: 25px;
    padding: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.resourceList .resource .resourceElementHeader {
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.resourceList .resource .boards {
    clear: both;
}
.resourceList .resource .boards {
    padding-left: 25px;
    padding-right: 25px;
}

.resourceList .resource .boards .board span.boardContent {
    font-size: 12px;
}
.resourceList .resource .boards .entities .boardEntity .entityHeader {
    display: block;
    overflow: hidden;
    padding-left: 8px;
    border-bottom: solid 1px #f3f3f3;

}
.resourceList .resource .boards .entities .boardEntity .entityHeader h4.entityHeaderTitle {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-top: 0px;
    padding-left: 7px;
}
.resourceList .resource .boards .entities .boardEntity .entityHeader .entityHeaderEntityType {
    float: right;
    font-size: 12px;
}

.resourceList .resource .boards .board {
    border-bottom: none;
    padding-bottom: 9px;
    margin-bottom: 14px;
    padding-top: 5px;
    margin-top: 9px;
}
.resourceList .resource .boards .board span.boardContent {
    font-size: 12px;
}
.resourceList .resource .boards .board h4 {
    font-size: 18px;
    margin-bottom: 0px;
}
.resourceList .resource .boards .board {

    /* border-bottom: solid 1px #CCC3C3; */
    padding-bottom: 2px;
    margin-bottom: 14px;
    padding-top: 5px;
    margin-top: 9px;
}
button.tableMinControlsLink.teamSettingsLink.tableMinLinkDelete {
    float: left;
    display: inline-block;
    padding-left: 10px;
}
a.tableMinControlsLink.ajaxLink.tableMinLinkPeople {
    display: inline-block;
}
.resource .tableMinListControls.processListControls {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 22px;
    border: none;
    position: relative;
    top: 0px;
    clear: both;
    display: block;
}

.resourceList .resource .resourceElementHeader .tableMinListControls.processListControls {
    right: -7px;
    top: 24px;
    position: absolute;
    display: block;
} 

.resourceList .resource .resourceElementHeader .tableMinListControls.processListControls button.icon-trash {
    color: gray;
    opacity: 0.6;
    font-size: 12px;
}


.resource button.tableMinControlsLink.teamSettingsLink.tableMinLinkDelete {
    border: none;
    box-shadow: none;
    background-color: #FF1E1E;
    background-image: linear-gradient(to left bottom, rgba(244,120,120,0) 0%, rgba(167, 9, 62, 0.6) 100%);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    font-weight: 900;
    border-radius: 3px;
    padding-left: 20px;
    font-family: 'Open Sans';
    color: white;
    font-size: 12px;
}
.resource-list .resource li.tableMinListItem {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.resource-list .boardEntity form.updateEntityForm, .dataTables .inlineEntityFormNewForm {
    display: none;
}
.resources-list .boardEntity form.updateEntityForm {
  display: none;
}

.resource-list .tableMinListFilter.search-resource-input.filterLayer {
    margin-right: 27px;
    margin-top: 15px;
    margin-bottom: -20px;
}

.dataTables .showEditEntityForm {
    border: none;
    box-shadow: none;
    background-color: #FFC107;
    background-image: linear-gradient(to left bottom, rgba(244,120,120,0) 0%, rgb(222, 196, 117) 100%);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    border-radius: 3px;
    padding-left: 20px;
    font-family: 'Open Sans';
    color: white;
    font-size: 12px;
    padding: 10px 27px;
    margin-bottom: 5px;
    margin-top: 11px;
    font-weight: 700;
}



ul#tablemin.resourceList {
    background-color: transparent;
    margin-top: 25px;
}
.resourceList .resource {
    margin-bottom: 27px;
    background-color: white;
    border-radius: 4px;
    padding-bottom: 18px;
    width: 20%;
    display: inline-block;
    margin-right: 17px;
}
.resourceList .resource .resourceElementHeader h2.tableMinListName {
    margin-top: 0px;
    text-align: center;
    width: 100%;
}

.resourceList .resource .boards .entities {

}
.resourceList .resource .boards .entities .boardEntity {
    display: inline-block;
    width: 100%;
}
.resourceList .resource .boards .entities a.btn.success.btn-success {
    display: block;
    width: 13%;
    color: white;
    float: right;
}

.resourceList .resource .boards .boardEntity form {
    margin-bottom: 10px;
}
.resourceList .resource .boards .entities .slats {
    clear: both;
    display: block;
    background-color: #F7EFEF;
    padding: 18px 18px;
}
.resourceList .resource .boards .slats a.btn.success.btn-success {
    display: block;
    clear: both;
    width: 140px !important;
    float: none;
    color: white;
}
.container.form-container {
    background-color: white;
    padding: 9px 54px;
    padding-bottom: 23px;
}
.dataTablesTable .add-resource-field {
    width: 459px;
    margin-right: 29px;
    display: block;
}
#entityCreateBtn {
    margin-top: -60px;
}
.resources-list .tableMinListFilter.search-process-input.add-resource-field.filterLayer {
    float: left;
    margin-left: 30px;
}
.resources-list button#createResourceBtn {
    float: right;
    margin-right: 31px;
    padding-left: 16px;
}
.resources-list button#createResourceBtn.offed {
}
.formNewEntityNav button#createResourceBtn {
    padding: 7px 12px;
    font-size: 13px;
}

.tableMinListFilter.search-resource-input.filterLayer {
    margin-right: 27px;
    margin-top: 23px;
    margin-bottom: -25px;
}
.formNewEntityNav button#createResourceBtn.plugedin {
    box-shadow:1px 1px 8px #797979 inset
}
.dataTables .showEditEntityForm.plugedin {
  box-shadow:1px 1px 8px #797979 inset
}
.dataTables button#createResourceBtn:focus {
    background-color: #49cc90;
}
.dataTables .formNewEntityNav {
    display: block;
    width: 100%;
    float: right;
    margin-right: -21px;
}
/***
 Empty placeholder
 */
.dataTables .dataEmptyPlaceholder {
    display: block;
    width: 94%;
    background: white;
    margin-top: 75px;
    color: #4C5264;
    padding: 50px 32px;
    clear: both;
    margin-left: 32px;
    text-align: center;
    font-size: 24px;
}
.dataTables .dataEmptyPlaceholder p.small {
    font-weight: 100;
    font-size: 17px;
}
.dataTables .dataEmptyPlaceholder span.uicon-svg62222 {
    position: absolute;
    left: 7%;
    font-size: 121px;
    top: 34px;
    color: #E4E4E4;
}
.dataTables .dataEmptyPlaceholder {
    position: relative;
}
.inlineEntityForm dd.info {
    display: none;
}
.inlineEntityForm label {
    font-size: 13px;
    color: #4C5264;
    font-weight: 500;
    text-align: center;
}
.updateEntityForm {
    display: inline-block;
    float: left;
    margin-bottom: 44px;
    width: 95%;
}
.inlineEntityFormDelete {
    display: inline-block;
    float: left;
}
.inlineEntityForm dl {
    width: 22%;
    height: 28px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 46px;
}
.inlineEntityForm {
    padding-bottom: 34px;
}
.resources-list .newResourceForm .inlineEntityForm {
    clear: both;
    margin-left: 31px;
    display: block;
    margin-top: 108px;
}
.resources-list .newResourceForm {
    background: white;
    padding-bottom: 55px;
    padding-top: 31px;
    padding-left: 6px;
    margin-right: 27px;
    border-radius: 4px;
}
.createResourceForm h3 {
    margin-left: 28px;
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'museo';
    font-weight: 500;
}

.createResourceForm label {
    font-weight: 100;
}
.resources-list .newResourceForm .tableMinListFilter .tableMinListFilterInput {
    border-bottom: solid #515C74 1px;
    height: 19px;
    padding-left: 6px;
    padding-bottom: 2px;

}
.resources-list .newResourceForm .newResourceFormContainer {
    margin-bottom: 72px;
    display: block;
}
.resources-list .newResourceForm .inlineEntityForm h4 {
    font-size: 16px;
    color: gray;
}
.resources-list .newResourceForm .newResourceFormContainer {
    margin-bottom: 72px;
    display: block;
}
.resources-list .newResourceForm .inlineEntityForm h4 {
    font-size: 16px;
    color: #4C5264;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Open Sans', Helvetica;
}
.resources-list .inlineEntityForm textarea {
    height: 35px;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px gray;
    border-radius: 0px;
}
.resources-list .inlineEntityForm input {
    height: 35px;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px gray;
    border-radius: 0px;
}
.resources-list .inlineEntityForm select {
    height: 35px;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px gray;
    border-radius: 0px;
}
button.btn.danger.deleteEntity span.moicon.icon-trash {
    font-size: 17px;
}
.inlineEntityForm .form-actions {
    margin-top: 25px;
}
.inlineEntityForm .form-actions .btn {
    margin-top: 32px;
}
button.btn.danger.deleteEntity {
    margin-left: -31px;
    margin-top: 21px;
}
.inlineEntityFormNewForm {
    width: 95%;
}
.inlineEntityFormNewForm button.btn {
    margin-left: -9px;
}




.resourceList .resource .boards .board span.boardContent {
    display: none;
}

.resourceList .resource .boards .board h4.board-title {
    display: none;
}

























.ng-table-pager {
    display: none !important;
}
.app-container app main {
    display: block;
    clear: both;
    width: 100%;
    height: 100%;
    overflow: hidden;
    width: 1170px;
    margin: 0 auto;
}
.app-container app .data-container-nav {
    margin-top: -1px;
    background: #5c6a84;
}
.app-container app .data-container-nav a {
    color: white;
    text-shadow: none;
    text-decoration: none;
}
.app-container app .data-container-nav a.active {
    color: #709aea;
}
