.resources-list .resource li.tableMinListItem {
    border: none;
    padding-bottom: 0px;
}
.boards {
    clear: both;
}
.boards .board span.boardContent {
    font-size: 12px;
}
.boards .board h4 {
    font-size: 18px;
    margin-bottom: 0px;
}
.boards .board {
    border-bottom: none;
    padding-bottom: 9px;
    margin-bottom: 14px;
    padding-top: 5px;
    margin-top: 9px;
}
.boards .board span.boardContent {
    font-size: 12px;
}
.boards .board h4 {
    font-size: 18px;
    margin-bottom: 0px;
}
.boards .board {

    /* border-bottom: solid 1px #CCC3C3; */
    padding-bottom: 2px;
    margin-bottom: 14px;
    padding-top: 5px;
    margin-top: 9px;
}
button.tableMinControlsLink.teamSettingsLink.tableMinLinkDelete {
    float: left;
    display: inline-block;
    padding-left: 10px;
}
a.tableMinControlsLink.ajaxLink.tableMinLinkPeople {
    display: inline-block;
}
.resource .tableMinListControls.processListControls {
    width: 39px;
    margin-left: 0px;
    margin-right: 22px;
    border: none;
}
.resource button.tableMinControlsLink.teamSettingsLink.tableMinLinkDelete {
    border: none;
    box-shadow: none;
}
ul#tablemin.resourceList {
    background-color: transparent;
}
.resourceList .resource {
    margin-bottom: 27px;
    background-color: white;
    border-radius: 4px;
    padding-top: 53px;
    padding-bottom: 18px;
}
.boards .entities .boardEntity {
    display: inline-block;
    width: 100%;
}
.boards .entities a.btn.success.btn-success {
    display: block;
    width: 13%;
    color: white;
    float: right;
}
.boards .entities {
    margin-bottom: 25px;
    margin-top: 14px;
}
.boards .boardEntity form {
    margin-bottom: 10px;
}
.boards .entities .slats {
    clear: both;
    display: block;
    background-color: #F7EFEF;
    padding: 18px 18px;
}
.boards .slats a.btn.success.btn-success {
    display: block;
    clear: both;
    width: 140px !important;
    float: none;
    color: white;
}
.container.form-container {
    background-color: white;
    padding: 9px 54px;
    padding-bottom: 23px;
}
.dataTablesTable .add-resource-field {
    width: 459px;
    margin-right: 29px;
    display: block;
}
#entityCreateBtn {
    margin-top: -60px;
}
.resources-list .tableMinListFilter.search-process-input.add-resource-field.filterLayer {
    float: left;
    margin-left: 30px;
}
.resources-list button#createResourceBtn {
    float: right;
    margin-right: 31px;
    padding-left: 16px;
}
.resources-list button#createResourceBtn.offed {
    display: none;
}
.resources-list .boardEntity form {
    display: inline-block;
}

/***
 Empty placeholder
 */
.dataTables .dataEmptyPlaceholder {
    display: block;
    width: 94%;
    background: white;
    margin-top: 75px;
    color: #4C5264;
    padding: 50px 32px;
    clear: both;
    margin-left: 32px;
    text-align: center;
    font-size: 24px;
}
.dataTables .dataEmptyPlaceholder p.small {
    font-weight: 100;
    font-size: 17px;
}
.dataTables .dataEmptyPlaceholder span.uicon-svg62222 {
    position: absolute;
    left: 7%;
    font-size: 121px;
    top: 34px;
    color: #E4E4E4;
}
.dataTables .dataEmptyPlaceholder {
    position: relative;
}
.inlineEntityForm dd.info {
    display: none;
}
.inlineEntityForm label {
    font-size: 13px;
    color: #4C5264;
    font-weight: 500;
    text-align: center;
}
.updateEntityForm {
    display: inline-block;
    float: left;
    margin-bottom: 44px;
    width: 95%;
}
.inlineEntityFormDelete {
    display: inline-block;
    float: left;
}
.inlineEntityForm dl {
    width: 22%;
    height: 28px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 46px;
}
.inlineEntityForm {
    padding-bottom: 34px;
}
.resources-list .newResourceForm .inlineEntityForm {
    clear: both;
    margin-left: 31px;
    display: block;
    margin-top: 108px;
}
.resources-list .newResourceForm {
    background: white;
    padding-bottom: 55px;
    padding-top: 31px;
    padding-left: 6px;
    margin-left: 29px;
    margin-right: 27px;
    border-radius: 4px;
}
.createResourceForm h3 {
    margin-left: 28px;
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'museo';
    font-weight: 500;
}

.createResourceForm label {
    font-weight: 100;
}
.resources-list .newResourceForm .tableMinListFilter .tableMinListFilterInput {
    border-bottom: solid #515C74 1px;
    height: 19px;
    padding-left: 6px;
    padding-bottom: 2px;

}
.resources-list .newResourceForm .newResourceFormContainer {
    margin-bottom: 72px;
    display: block;
}
.resources-list .newResourceForm .inlineEntityForm h4 {
    font-size: 16px;
    color: gray;
}
.resources-list .newResourceForm .newResourceFormContainer {
    margin-bottom: 72px;
    display: block;
}
.resources-list .newResourceForm .inlineEntityForm h4 {
    font-size: 16px;
    color: #4C5264;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Open Sans', Helvetica;
}
.resources-list .inlineEntityForm textarea {
    height: 35px;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px gray;
    border-radius: 0px;
}
.resources-list .inlineEntityForm input {
    height: 35px;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px gray;
    border-radius: 0px;
}
.resources-list .inlineEntityForm select {
    height: 35px;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px gray;
    border-radius: 0px;
}
button.btn.danger.deleteEntity span.moicon.icon-trash {
    font-size: 17px;
}
.inlineEntityForm .form-actions {
    margin-top: 25px;
}
.inlineEntityForm .form-actions .btn {
    margin-top: 32px;
}
button.btn.danger.deleteEntity {
    margin-left: -31px;
    margin-top: 21px;
}
.inlineEntityFormNewForm {
    width: 95%;
}
.inlineEntityFormNewForm button.btn {
    margin-left: -9px;
}
