/*
   Pro pages
  */

.pro-layout {
    background-color: white;
    margin-top: 50px;
    padding: 30px 30px 30px 50px;
    font-family: "AvenirNextCyr-Good", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    max-width: 1280px;
}
.pro-section h1 {
    text-align: center;
}
.pro-section h4 {
    text-align: center;
}

.pro-section-header span.uicon-svg852 {
    font-size: 117px;
    text-align: center;
    color: #484848;
    font-weight: 100;
}
.pro-section-header span.uicon-svg492 {
    font-size: 117px;
    text-align: center;
    color: #484848;
    font-weight: 100;
}
.pro-section-header {
    text-align: center;
}
.pro-layout .ea-section {
    margin-top: 50px;
}
.pro-layout a.btn.btn-ghost.btn-accent.btn-large.pro-activated, .pro-layout a.btn.btn-ghost.btn-accent.btn-large.ea-activated {
    background-color: #BCBDBC;
    color: white;
    padding: 6px 17px;
}
.pro-layout a.btn.btn-ghost.btn-accent.btn-large.ea-submit, .pro-layout a.btn.btn-ghost.btn-accent.btn-large.pro-submit {
    background-color: #44A92C;
    color: white;
    border-radius: 2px;
    padding: 6px 17px;
}

.row-fluid.first-row {
    display: block;
    margin-bottom: 185px;
    margin-top: 42px;
}
.pro-layout .intro-content h5 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.row-fluid.second-row {
    margin-top: 227px;
    margin-bottom: 409px;
}
a#teamSettingsLink.proLink {
    color: rgb(173, 162, 123);
}

a#teamSettingsLink.proLink:hover {
    color: #FBE289;
}
a#teamSettingsLink.proLink:hover span {
    color: #FBE289 !important;
}
.proLinkItem a#teamSettingsLink.active:before, .proLinkItem a:hover:before {
    border-color: #E2CC7D
}


.pro-layout .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA;
}
.pro-layout .rightcol {
    padding-left: 100px;
}

