.teamCreation {
    text-shadow: none;
    background-color: #2b2f3e;
    position: absolute;
    left: 0;
    width: 240px;
    bottom: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #34394a;
}
.teamCreation input[type="text"] {
    -webkit-box-shadow: 0 0 1px 1px #d5dae3;
    box-shadow: 0 0 1px 1px #d5dae3;
    background-color: #fff;
    color: #333;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #44495a;
    color: #fff !important;
    -webkit-box-shadow: 0 0 1px 1px #4e5364;
    box-shadow: 0 0 1px 1px #4e5364;
    font-size: 14px;
    border: none;
    height: 28px;
    padding-left: 9px;
    margin-top: -3px;
}
.teamCreation input::-webkit-input-placeholder {
    font-size: 14px;
}
.teamCreation {
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    margin-left: 9px;
    padding-left: 4px;
}
.teamCreation button.button.small.blue {
    display: inline;
    width: 50px;
    min-width: 50px;
    padding: 0;
    margin-top: -4px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    height: 30px;
    box-shadow: none;
    border: none;
    background: #2fca84;
}
span.DeleteFromGroup {
    display: block;
}
span.addToTeam {
    display: block;
    padding-bottom: 20px;
}
.ungrouped {
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 25px;
}
.grouped {
    display: inline-block;
    clear: both;
    width: 49%;
}
span.DeleteFromGroup {
    display: block;
}
span.addToTeam {
    display: block;
}
.addUsersToGroupForm {
    height: auto !important;
    overflow: visible !important;
}
form.addAllowedUser.addUsersToGroup {
    position: static;
}
.account-checkbox {
    display: block;
    width: 100px;
    height: 25px;
    padding-top: 15px;
    padding-bottom: 19px;
}