a.redButton {
    height: 31px;
    width: 50px;
    display: block;
    background: white;
    position: absolute;
    border-radius: 3px;
    transition: all .5s;
    border: solid 2px #8BC34A;
    color: #8BC34A;
    padding: 4px 11px;
    font-size: 12px;
    text-shadow: none;
    border-color: transparent;
}
a.redButton:hover {
text-decoration: none;
    background: rgb(139, 195, 74);
    color: white;
}
a.redButton:hover:active {
    background: #406f0a;
    border-color: #325805;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16) inset;
}

a.redButton:before {
    position: absolute;
    width: 54px;
    height: 35px;
    content: ' ';
    z-index: -1;
    top: -4px;
    left: -4px;
    background: linear-gradient(to right, rgb(200, 228, 166) 0%, rgba(145,232,66,1) 100%);
    border-radius: 4px;
}

a.redButton:hover:before {
    background: linear-gradient(to right, rgb(147, 171, 118) 0%, rgb(107, 183, 21) 100%);
}

a.redButton:active:hover:before {
    background: linear-gradient(to right, rgb(78, 93, 61) 0%, rgb(48, 78, 12) 100%);
}


a#launchProcessButton:focus {
    background: #406f0a;
}

a.fastElFormButton {
    height: 37px;
    width: 26px;
    display: block;
    border-radius: 3px;
    border: #7CBB1C;
    cursor: pointer;
    font-weight: 100;
    color: #9E9E9E;
    opacity: 0.4;
    font-size: 23px;
    padding: 7px 6px;
    line-height: 19px;
    border: solid 1px #9E9E9E;
    transition: all 1s;
}
a.fastElFormButton:hover {
  opacity: 1;
  text-decoration: none;
}
.fastElCreateBtn.fastElCreateCloseBtn {
    position: absolute;
    left: 4px;
    top: 72px;
    margin-left: 0px;
}
.fastElCreateBtn.fastElCreateCloseBtn a.fastElFormButton {
    width: 28px;
    padding: 7px 10px;
}

.fastElCreateBtn {
    z-index: 1;
    visibility: visible;
    display: inline-block;
    float: left;
    margin-top: -67px;
    clear: both;
    margin-left: 146px;
}
.process-thumb p.tableMinListGithub {
  left: 2px;
  top: 10px;
}
.process-thumb a.fastElFormButton {
  right: -29px !important;
  padding: 1px 4px;
}
.process-thumb:active p.tableMinListGithub {
  opacity: 1;
}
.process-thumb:active p.tableMinListGithub a.redButton {

}
button.redButton {
  height: 37px;
  width: 38px;
  display: block;
  background: #e74c3c;
  position: absolute;
  border-radius: 35px;
  border: #e74c3c;
}

.process-thumb p.tableMinListGithub {
  left: 2px;
  top: 10px;
}
.process-thumb:active p.tableMinListGithub {
  opacity: 1;
}
.process-thumb:active p.tableMinListGithub button.redButton {
  background: #c0392b;
}
.process_content {
  top: -26px;
  position: relative;
  display: inline-block;
  left: 0px;
  width: auto;
  border: 1px solid #ffffff;
  /*
  border: 1px solid rgb(213, 222, 236);
  */
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 6px;
  border-radius: 6px;
}
.process .process_content {
  top: -73px;
}
.dish-state {
  position: relative;
}
.process .launches-bar {
  width: 109.6%;
  margin-left: -64px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
span.state-percent.vertical-center {
  margin-top: 25px;
  position: absolute;
  top: 2px;
  font-size: 11px;
  left: 0%;
  text-align: center;
  width: 46px;
  height: 47px;
}
.dish-state.left {
  cursor: pointer;
}
.process_content .tree-thumb.process-tree {
  width: auto;
  margin-right: 0;
  padding-bottom: 5px;
  max-width: 268px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  opacity: 0.6;
}
.process_content .tree-thumb.process-tree .elem-card {
  display: inline-block !important;
}
.process_content .tree-thumb.process-tree .angular-ui-tree-nodes .angular-ui-tree-nodes {
  display: inline-block;
}
.process-status .tableMinListControls {
    margin-right: 70px;
    border: none;
}
.process_content li.angular-ui-tree-node {
  display: inline-block;
}
.process_content .tree-thumb.process-tree .elem-card {
  display: inline-block !important;
}
.process_content .elem-card {
  display: inline-block;
  padding: 2px 9px;
}
.process_content ol.ng-pristine.ng-untouched.ng-valid.ng-scope.angular-ui-tree-nodes {
  display: inline-block;
}
ul.type-tabs {
    width: 59px;
    margin-top: 0px;
    margin-left: -8px;
    padding-left: 0px;
    height: 57px;
    border-radius: 0px;
    display: block;
    background: rgba(166,166,166,0.67);
    z-index: 2;
    display: none;
    position: absolute;
    display: none;
    top: 0px;
}
ul.type-tabs li {
  display: inline-block;
  font-size: 16px;
  float: left;
  height: 24px;
  margin-right: 0px;
  margin-left: 7px;
  margin-top: -5px;
  color: black;
}
.info .type:hover ul.type-tabs {
  display: block !important;
  text-indent: 1px !important;
}
ul.type-tabs li a {
  color: black;
  text-decoration: none;
}
ul.type-tabs li a:hover {
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.info .type:hover {
  text-indent: -9999px;
}
.proc-element .form-horizontal .form-group {
  margin-left: 11px;
  padding-top: 12px;
}
.proc-element .form-horizontal {
  padding-bottom: 1px;
  margin-bottom: 0px;
  background: white;
}

.processList .process_content {
    margin-left: 173px;
    float: left;
    display: inline-block;
    margin-bottom: -50px;
}

.process .process-status h2.tableMinListName {
  width: 13%;
}
.stations .progress .progress-bar span {
  width: 100%;
}
.session-process .process_content {
  background: white;
  margin-top: 110px;
}
span.number.true.paused {
  background-color: #f1c40f;
}
span.number.true.finished {
  background-color: #2c3e50;
}
.station-filters {
  position: absolute;
  top: 40%;
  width: 18%;
  margin-top: 28px;
}
@import 'session_filters';

/****
 Fast element creation
*/
.form-fast-element-create h3 {
    font-family: "AvenirNextCyr-Good", "AvenirNextCyr", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 300;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 12px;
    text-align: left;
}
li.tableMinListItem.fastElementForm {
  padding-top: 0px;
}
.fastElementForm label.control-label.col-sm-1 {
    font-family: "AvenirNextCyr-Good", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 32px;
    font-weight: 200;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.form-fast-element-create input#inputTitle {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #3F3F44;
  background-color: #fff;
  background-image: none;
  border: 1px solid #CBCBD2;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
label.control-label {
  font-family: "AvenirNextCyr-Good", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 200;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}
.form-fast-element-create .head-fields {
  display: inline-block;
  float: left;
  width: 55%;
}
.form-fast-element-create .ref-select-container {
    width: 60%;
    margin-right: 0px;
}



.fastNewElemFormContainer input.ui-select-search.input-xs {
    border: none;
    width: 100% !important;
    display: block;
    clear: both;
    padding-bottom: 6px;
}

.fastNewElemFormContainer.ui-select-container {
    padding-bottom: 0px;
}

.fastNewElemFormContainer .ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control {
    padding-bottom: 0px;
    margin-bottom: 32px;
    height: 100%;
}

.fastNewElemFormContainer span.ui-select-match span {
    display: block;
    margin-bottom: 3px;
}





.form-fast-element-create .fast-element-aside {
    display: inline-block;
    float: right;
    margin-right: 28px;
}

.fast-element-aside {
    float: right;
    margin-right: 19px;
}
.fast-element-aside .tree-thumb.process-tree {
    width: 100%;
    display: block;
    overflow-y: scroll;
    min-height: 176px;
    padding-right: 5px;
}
.fast-element-aside .elem-card {
    padding-right: 9px;
}

.fast-element-aside .fast-element-form-close {
    text-align: right;
    font-weight: 100;
}
.fast-element-aside .fast-element-show-model {
    text-align: right;
    margin-top: 12px;
    position: absolute;
    right: 145px;
    top: 168px;
    height: 32px;
    width: 103px;
    display: block;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 100;
    color: #9E9E9E;
    opacity: 0.4;
    font-size: 23px;
    padding: 5px 30px;
    line-height: 10px;
    border: solid 1px #9E9E9E;
}
.fast-element-aside .fast-element-show-model a {
    font-size: 11px !important;
    margin-left: -4px;
    text-shadow: none;
    font-family: 'Open Sans';
    font-weight: 900 !important;
}


.fast-element-aside .fast-element-show-model a span.fast-element-show-model-title {
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-left: 5px;
}


.fast-element-aside .fast-element-tree {
    margin-right: 100px
}

.fast-element-aside ol.ng-pristine.ng-untouched.ng-valid.ng-scope.angular-ui-tree-nodes {
    display: block;
    margin-top: 5px;
}

.fast-element-aside .fast-element-show-model {
    text-align: right;
}

.form-fast-element-create label.control-label.type-label {
    margin-left: 16px;
    margin-top: -8px;
    font-size: 14px;
}
.form-fast-element-create a.expand-ref-select span.moicon.moicon-info.expand-ref-select {
    top: 1px;
}
.form-fast-element-create label.control-label.type-label {
    margin-top: -4px !important;
}
.form-fast-element-create input#fastElemTitle {
    padding-bottom: 8px;
    height: 100%;
}

.cardTablesTable .cardBoardHeader {
  margin-top: 60px;
  background: #C9D6DC;
  padding: 6px 0px 10px 9px;
}
.cardTablesTable .cardBoardHeader h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #365A6B;
  font-family: 'Open Sans', Helvetica;
  font-weight: 600;
}
@media (max-width:1200px) {
  .process-thumb {
    right: 3%;
  }
  .process-status .tableMinListControls {
    margin-right: 9%;
  }
}
@media (max-width:985px) {
  .processList .process_content {
    display: none !important;
  }
}
@media (min-width:768px) {
li.tableMinListItem.fastElementForm .templateButton .ref {
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    float: left;
    margin-right: 0px;
}
  .form-fast-element-create .form-group.element-form-fields.control-group label {
    margin-left: -15px;
  }
  .form-fast-element-create .form-group.element-form-fields.control-group label.type-label {
    margin-left: 0px;
  }
}
