<div class="container">
  <h1>User detail</h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>

      <div class="controls">
        <input type="text" id="inputTitle" ng-model="user.title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Business id:</label>
      {{ user.elements }}
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="user.business"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="cancel()" class="btn btn-small">cancel</a>
        <a ng-click="updateUser()" class="btn btn-small btn-primary">update user</a>
      </div>
    </div>
  </form>
</div>