

<div class="vertical-menu">
  <ul id="dashTab">
    <li>
      <a href="#dashboard" data-toggle="tab"> <span class="segment-label">Dashboard</span></a>
    </li>
    @if(user.isManager) {
    <li>
      <a href="#services" data-toggle="tab"><span class="segment-label">Services</span></a>
    </li>
    }
  </ul>
</div>


<div class="tab-content">

<div class="dashboard tab-pane" id="dashboard">
  <div class="activities">
    <div class="processes" style="
">
      <div class="proc widget widget-1x1">
  
  <div class="widget-overlay"><div class="widget-overlay-inner"><div class="ember-view progress progress-info"><div class="progress-bar" style="width: 98.99999999999979%" data-bindattr-11126="11126"></div>
</div><span class="widget-overlay-state">Validating Credentials</span></div></div><div class="widget-front" style="
">
  <h3 class="widget-title" style="border-bottom: 2px solid rgba(90,76,112, 1)" data-bindattr-11130="11130">
    <span class="state-sign pending" data-bindattr-11131="11131"></span>
    Process Name
    
  </h3>
  <div class="widget-inner">
    <header style="  
">
      <h2 class="widget-chart-title" style="
">0%</h2>
      <h4 class="widget-chart-subtitle" style="
"></h4>
    </header>
    <div class="widget-chart" data-highcharts-chart="3"></div>
    <div class="widget-values">
      <ul class="widget-values-list">
        
        <li>
          <span class="widget-values-list-title">0 Bytes</span>
          <strong class="widget-values-list-value" style="color: #46CBB4" data-bindattr-12831="12831">
            
          </strong>
        </li>
        
        <li>
          <span class="widget-values-list-title">No data</span>
          <strong class="widget-values-list-value" style="color: #FF5858" data-bindattr-12832="12832">
            
          </strong>
        </li>
        
      </ul>
    </div>
    <footer>
      <h4 class="widget-subtitle">Storage &amp; usage</h4>
    </footer>
  </div>

</div><div class="widget-back">
  <div class="widget-inner">
  </div>
</div></div>



      
    </div>
  </div>
  <div class="actions">
    <div class="avalToStart g1of2"><h2>You can start</h2></div>
    <div class="avalToResume g1of2"><h2>You can resume</h2></div>
  </div>
</div>


<div class="g5of6 manager-tab tab-pane" id="services">



  @if(user.isManager) {
  
  <div class="teamChangeBox teamPaddedBox">
  <!-- <h2 class="teamBoxHeading">@Messages("page.managerBoard") </h2> -->
    <div class="teamSettingsCheckbox">
    <h3 class="teamSettingsHeading">@Messages("page.services")</h3>
    <p class="teamSettingsAbout">@Messages("page.servicesDesc")</p>
    <div id="actions">
      <!--<a class="btn success" id="add" href="@routes.BusinessServiceController.create()">Add a service</a>-->
        @form(routes.BusinessServiceController.create_new()) {
        <fieldset>



        @inputText(serviceForm("title"), '_label -> Messages("page.name"), 'class -> "form-control")
        </fieldset>

        <div class="actions">
        <input type="submit" value="Create service" class="btn btn-primary"> 
        </div>
        }
    </div>
    @Option(currentPage.items).filterNot(_.isEmpty).map { entities =>
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header(1, Messages("page.service") )
                    @header(2, "")
                    @header(3, "")
                </tr>
            </thead>
            <tbody>
                @entities.map {
                 case (entity) => {
                        <tr>
                            <td>
<a href="@routes.Application.app()#/bprocesses?service=@entity.id">@entity.title</a></td>
                            <td>
                                <a href="@routes.BusinessServiceController.update(entity.id.get)">@Messages("page.rename")</a>

                            </td>
                            <td>
                              @form(routes.BusinessServiceController.destroy(entity.id.get), 'class -> "topRight") {
                                  <input type="submit" value="Delete service" class="btn danger">
                              }
                            </td>
                        </tr>
                     }
                }
            </tbody>
        </table>
    }
  </div>
  </div>
  }






</div>

</div><!-- tabcontent -->



    
@if(user.isEmployee) {
<div class="g3of4 employee-tab">
  <div class="teamChangeBox teamPaddedBox">
  <h2 class="teamBoxHeading">@Messages("page.employeeBoard")</h2>
<div class="perms">
<h3>Permissions:</h3>
<table class="computers zebra-striped">
            <thead>
                <tr>
                    @header(1, Messages("page.actPermissions"))
                    @header(2, "")
                    @header(3, "")
                </tr>
            </thead>
            <tbody>
                @empParams.get.perms.map{ case (entity) => {
                        <tr>
                            <td><a href="#a/bprocess/@entity.bprocess">@entity.id</a></td>
                           
                            <td>
                             @elemOut(entity)
                            </td>
                        </tr>
                     }
                }
            </tbody>
        </table>


</div>
<div class="acts">
<h3>Acts: </h3>
<table class="computers zebra-striped">
            <thead>
                <tr>
                    @header(1, Messages("page.process"))
                    @header(2, Messages("page.element"))
                </tr>
            </thead>
            <tbody>
                @empParams.get.res_acts.map{ entity =>
                        <tr>
                            <td><a href="#a/bprocess/@entity.bprocess_id">@entity.bprocess_title</a></td>
                            <td>
                         @entity.elem_title
                            </td>
                        </tr>
                     }
            </tbody>
        </table>

</div>


  </div>
</div>
}


</div>