@(changePasswordForm: Form[(String, String)], user: models.User2)(implicit request: RequestHeader)

@import b3.inline.fieldConstructor

@views.html.auth.main("Change password", Some(user)) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>Change</legend>
        @helper.form(action = routes.ChangePasswordController.submit, 'autocomplete -> "off") {
            <p class="info">@Messages("strong.password.info")</p>
            changePasswordForm("current-password")
            @b3.password(changePasswordForm("current-password"), '_hiddenLabel -> "current.password", 'placeholder -> "current.password", 'class -> "form-control input-lg")
            <!-- @@passwordStrength -->
            @b3.password(changePasswordForm("new-password"), '_hiddenLabel -> Messages("new.password"), 'placeholder -> "new.password", 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Change</button>
                </div>
            </div>
        }
    </fieldset>
}
