@(title: String = "", request: RequestHeader)(implicit lang: Lang)

@views.html.auth.main("Not Found") {
<style>
  .loginFlowPage .error {
    text-align: center;
    font-size: 35px;
    color: #6B6B6B;
    line-height: 128px;
    font-family: 'Manifold CF Demi Bold',sans-serif;
    font-weight: 800;
}

.loginFlowPage .error img {
    clear: both;
    display: block;
    margin: 0 auto;
    border: solid 1px #C3C3C3;
    box-shadow: 11px 0px 12px #DADADA;
}
.loginFlowPage .error small {
    font-size: 9px;
    color: #DDE0E8;
}
.loginFlowPage .error small::selection {
    background-color: black;
    color: white;
}

</style>
 <div class="error">
 Page not found. <img src="/assets/images/notfound.gif">
  </div>
}
