@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword
@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader, lang: Lang, env:securesocial.core.RuntimeEnvironment)
@views.html.custom.main("Login") {

@errorMsg.map { msg =>
<div class="messageBoxWrap">
  <p class="message">
  @Messages(msg) </p>
</div>
}
@request.flash.get("success").map { msg =>
<div class="messageBoxWrap">
  <p class="message">
  @Messages(msg) </p>
</div>
}
@request.flash.get("error").map { msg =>
<div class="messageBoxWrap">
  <p class="message">
  @Messages(msg) </p>
</div>
}

<div class="loginPage loginPage__login loginPage__active">
    <div class="loginView">
      <div class="page-header">
         <h1 class="loginHeading">@Messages("custom.signIn")</h1>
      </div>
    @defining( env.providers.values.filter( _.id != UsernamePassword) ) { externalProviders =>
        @if( externalProviders.size > 0 ) {
            <div class="clearfix">
                <!--  <p>@Messages("securesocial.login.instructions")</p> -->
                <p> <!--
                    @for(p <- externalProviders) {
                        @views.html.custom.provider(p.id)
                    }-->
                </p>
            </div>
        }
        @env.providers.get(UsernamePassword).map { up =>
            <div class="clearfix">
                @if( externalProviders.size > 0 ) {
                    <!--<p>@Messages("securesocial.login.useEmailAndPassword")</p>-->
                      <p class="loginText loginTextAfterOr" style="display: none;"></p>
                } else {
                    <!--<p>@Messages("securesocial.login.useEmailAndPasswordOnly")</p>-->
                      <p class="loginText loginTextAfterOr" style="display: none;"></p>
                }
               @views.html.custom.provider("userpass", Some(loginForm))
            </div>
        }
    }
  </div>
</div>

<div class="loginPage loginPage__register">
  <div class="loginView">
  <h1 class="loginHeading">@Messages("custom.signUp")</h1>
  <form action="@env.routes.handleStartSignUpUrl" method="post" accept-charset="utf-8" class="loginInputs">
    <div>
      <input required placeholder="Work Email" class="textField block" type="email" name="email" value="" id="r_email" tabindex="11" />
    </div>
    <p class="loginText">
      <button type="submit" id="r_submit" class="loginButton block actionOk" tabindex="13">@Messages("custom.signUpFor")</button>
    </p>
  </form>

  <p class="loginText">@Messages("custom.haveAccount")<a class="switchView" tabindex="14" href="/login">@Messages("custom.signIn")</a>.</p>
  <p class="loginText smaller">@Messages("custom.byClicking") <a tabindex="15" href="#">@Messages("footer.terms")</a> @Messages("custom.and") <a tabindex="15" href="https://www.iubenda.com/privacy-policy/">@Messages("footer.privacy")y</a>.</p>
  </div>
</div>
}
