@(boards: List[models.Board], activeSort: String, user: Option[models.User] = None)

@main("Boards", user) {
  <div class="row">
    <div class="span12">
      <h2>Available boards</h2>
      <div id="sort">
        <span>Sort by:</span>
        <ul class="nav nav-pills">
          <li @if(activeSort == "title"){class="active"}><a href="@routes.BoardController.index?sort=title">title</a></li>
          <li @if(activeSort == "-title"){class="active"}><a href="@routes.BoardController.index?sort=-title">-title</a></li>
          <li @if(activeSort == "publisher"){class="active"}><a href="@routes.BoardController.index?sort=publisher">publisher</a></li>
          <li @if(activeSort == "-publisher"){class="active"}><a href="@routes.BoardController.index?sort=-publisher">-publisher</a></li>
          <li @if(activeSort == "creationDate"){class="active"}><a href="@routes.BoardController.index?sort=creationDate">creation</a></li>
          <li @if(activeSort == "-creationDate"){class="active"}><a href="@routes.BoardController.index?sort=-creationDate">-creation</a></li>
          <li @if(activeSort == "updateDate"){class="active"}><a href="@routes.BoardController.index?sort=updateDate">update</a></li>
          <li @if(activeSort == "-updateDate"){class="active"}><a href="@routes.BoardController.index?sort=-updateDate">-update</a></li>
          <li @if(activeSort == "none"){class="active"}><a href="@routes.BoardController.index">none</a></li>
        </ul>
      </div>
      @if(boards.isEmpty) {
        <p>No boards available yet.</p>
      } else {
      <ul>
      @boards.map { board =>
        <li><a href="@routes.BoardController.showEditForm(board.id.get.stringify)">@board.title</a> <em>by @board.publisher</em> (last modified : @board.updateDate.map(u => org.joda.time.format.DateTimeFormat.forPattern("MMM dd, yyyy").print(u)).orElse(Some("n/a"))) - <a href="@routes.BoardController.delete(board.id.get.stringify)" class="delete">delete</a></li>
      }
      </ul>
      }
      <div>
        <a href="@routes.BoardController.showCreationForm">Create</a>
      </div>
    </div>
  </div>
}