<div class="container elements-list">
<div class="traverse-marker"></div>

<div class="tab-content">
<!--
<div class="tab-pane active" id="edit" ng:show="tree == 1 && bpelems.length > 0" ng:init="tree=1">
  <div ng-include src="'partials/tree.html'"></div>
</div>
-->
</div>


<div class="active-station-alert alert alert-info" style="display:none;">
  {{ 'RUNNED' | translate }} <strong>{{ 'WILL_BE_SHUTDOWN' | translate }}</strong>
{{ 'CREATE_OR_COPY' | translate }} <a ng:click="copyProcess()">{{ 'COPY' | translate }}</a> {{ 'CREATE_OR_COPY2' | translate }}
</div>

<div class="process-info header-frame">
<h3 ng-hide="inSession"><edit-in-place value="bp.title"></edit-in-place></h3>
<h3 ng-click="resetSession()" class="reset-session" ng-show="inSession">{{ bp.title }}</h3>
<ul class="process-control" ng-show="isManagerVal">
 <!--<li><a href="" role="tab" class="createMin change ajaxLink cacheable" data-toggle="tab" ng:click="editProcess()"> {{ 'EDIT' | translate }} </a></li>-->
<!-- <li><a class="allStation" href="/a#/bprocess/{{ bp.id }}/stations">{{ 'STATIONS' | translate }}</a></li> -->
 <li><a class="tableMinControlsLink ajaxLink tableMinLinkPeople" ng-click="editProcess()">{{ 'EDIT' | translate }}</a></li>
 <li><a class="tableMinControlsLink ajaxLink tableMinLinkPeople" ng-click="perm()">{{ 'PEOPLE' | translate }} </a></li>
 <!--<li><a class="tableMinControlsLink teamSettingsLink tableMinLinkSettings" ng-click="modalShare()">{{ 'SHARE' | translate }}</a></li>-->
 <li><a href="" class="addElemTab" ng:show="!inSession" ng:click="$parent.bp.newelemformselected==1 ? $parent.bp.newelemformselected=0 : $parent.bp.newelemformselected=1" ng-class="$parent.bp.newelemformselected==1 ? 'selected' : ''" tooltips tooltip-template="Create element" tooltip-side="left" tooltip="{{bubbleTooltip(session)}}"><span class="glyphicon glyphicon-plus"></span></a></li>
</ul>
</div>

<div ng:show="bp.newelemformselected == 1 && !inSession" class="element-new-form primary-element-create-form fadein fadeout">
        <div ng-include src="'assets/partials/bp_elements/element-new.html'"></div>
</div>
</div>

<div class="tab-content">


<div class="span8 container tab-pane active">


<style>.empty-reponse img {
    width: 71%;
    height: 277px;
    display: block;
    margin: 38px auto;
    border: solid 1px #d4d4d4;
    box-shadow: 1px 2px 3px #8f8c8c;
}
.empty-reponse {
    margin-left: 16px;
    width: 96%;
}
</style>


<div class="empty-reponse" ng-show="bpelems.length === 0" ng-cloak>
  You have no elements. Create one by describing simple step of your work.
<img src="/assets/images/element_create.gif">
</div>

<div class="elements" ng-repeat="bpelem in bpelems | orderBy:'order'">
<div class="proc-element minimal" ng-attr-id="'frontElem'+bpelem.id" ng-class="'elem-'+bpelem.id">
    <div class="element-header">
    <div class="primary-states">
    </div>
    <div class="info">
      <div class="type" ng-class="bpelem.type_title">{{ type_short[bpelem.type_title] }}
         <ul class="type-tabs" ng-init="bpelem.hovered=false" role="tablist" ng-mouseover="bpelem.hovered == true ? bpelem.hovered=false : bpelem.hovered=true" ng-show="(isManagerVal && !inSession && selected == 2) || (bpelem.hovered == true && !inSession)">
           <li><a role="tab" data-toggle="tab" ng:init="selected=1" ng:click="selected == 1 ? selected=2 : selected=1">
           <span class="glyphicon glyphicon-edit"></span></a></li>
           <li><a id="frontElementDeleteButton" ng-click="deleteElem(bpelem)"><span class="glyphicon glyphicon-remove"></span></a></li>
           <li><a id="frontElementUpButton" ng:click="moveUpElem(bpelem)"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
           <li><a id="frontElementDownButton" ng:click="moveDownElem(bpelem)"><span class="glyphicon glyphicon-arrow-down"></span></a></li>
         </ul>
      </div>
      <h4 class="title">{{ bpelem.title }}</h4>
      <h6 class="desc">{{ bpelem.desc }}</h6>
      <div class="session__header session__people">
         <div class="participators">
          <ul class="perms perm-list" ng-repeat="perm in bpelem.perms | limitTo:6" ng-init="perm.account = accFetch(perm)">
            <span class="account-pic" tooltips tooltip-template="{{ perm.account.tooltip }}" tooltip-side="left" tooltip="{{bubbleTooltip(session)}}" tooltip="{{ perm.account.tooltip }}">
                <img ng-src="{{ perm.account.avatarUrl}}" alt="{{ perm.account.tooltip }}">
                <a ng-click="delPermForForm(perm,newBpelem.perms)" class="btn-delete minicon"></a>
            </span>
          </ul>
         </div>
      </div>
    </div>
    <!--<ul class="elem-control elem-tabs" role="tablist" ng-show="isManagerVal && !inSession">
      <li><a role="tab" data-toggle="tab" ng:init="selected=1" ng:click="selected == 1 ? selected=2 : selected=1"><span class="glyphicon glyphicon-edit"></span></a></li>
      <li><a ng-click="deleteElem(bpelem)"><span class="glyphicon glyphicon-remove"></span></a></li>
      <li><a ng:click="moveUpElem(bpelem)"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
      <li><a ng:click="moveDownElem(bpelem)"><span class="glyphicon glyphicon-arrow-down"></span></a></li>
    </ul>-->
    <ul class="elem-control elem-tabs" role="tablist" ng-show="inSession">
      <p ng-show="bpelem.states.length > 0">
        <abbr class="session__header__created_at" title="{{ bpelem.states[0].updated_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="bpelem.states[0].updated_at"></abbr>
      </p>
    </ul>
    <ul class="elem-control elem-tabs input-logs" ng-show="inSession && bpelem.ilogs.length > 0">
      <li ng-repeat="ilog in bpelem.ilogs">{{ ilog.uid }}</li>
    </ul>
    </div>
    <div class="tab-pane active" id="edit" class="proc-element-edit" ng:show="selected == 2">
        <div ng-include src="'assets/partials/bp_elements/element-edit.html'"></div>
    </div>
    <div class="right-bar" ng:init="exp=false" ng-class="stateClass(masterState(bpelem))" ng-class="exp == active ? 'exp-active' : 'exp-disabled'">
      <div class="states-row">
        <div class="state-row">
          <div class="row-top">
            <div class="state">
              <div class="switcher" ng-repeat="switcher in bpelem.states | limitTo: 1">
              <div class="state-thumbnail" ng-class="stateActiveClass(masterState(bpelem))">
                  <div class="neutral">{{ masterState(bpelem).neutral }}</div>
                  <div class="middleable">{{ masterState(bpelem).middle }}</div>
                  <div class="oposite">{{ masterState(bpelem).oposite }}</div>
                  <div class="ended">{{ masterState(bpelem).title }}</div>
              <span class="switcher-icon" ng-class="switcher.switch_type"></span>
              </div>
            </div>
            </div>

          </div>
          <div class="row-bottom">

          </div>
        </div>
      </div>
      <div class="expanded-element" ng:show="exp == active">
            <div class="reactions">
              <div class="reaction" ng-repeat="reaction in bpelem.reactions">
                <span class="reaction-icon minicon minicon-gear-fill-right"></span>
                <div class="reaction-title">{{ capitalizeFirstLetter(reaction.reaction.title) }}</div>
                  <span class="reaction_list__reaction__state_outs" ng-repeat="state_out in reaction.reaction_state_outs">
                  {{ stateOutAct(state_out) }} {{ stateByStateRef(state_out.state_ref) }}
                  </span>
              </div>
            </div>
            <div class="state" ng-class="stateClass(state)" ng-repeat="state in bpelem.states">
              <div class="switcher" ng-repeat="switcher in state.switches">
                <div class="state-thumbnail" ng-class="stateActiveClass(state)">
                  <div class="neutral">{{ state.neutral }}</div>
                  <div class="middleable">{{ state.middle }}</div>
                  <div class="oposite">{{ state.oposite }}</div>
                  <div class="ended">{{ state.title }}</div>
                  <span class="switcher-icon" ng-class="switcher.switch_type"></span>
                  <!-- {{ stateDecoration(state) }} {{ switcherDecoration(switcher) }}
                  -->
                </div>
            </div>
            </div>
      </div>
      <div class="row-selector"></div>
      <div class="elem-expander" ng:click="exp == false ? exp=active : exp=false"><span class="uicon-svg93"></span>
      </div>
    </div>

<div class="proc-element-spaces">
      <!--<div class="proc-space">
        <div class="space-subbricks">
          <div class="space-subbrick">
            <div class="element-header">
                  <div class="primary-states">
                  </div>
                  <div class="info">
                    <h4 class="title">Subbrick</h4>
                  </div>
                  </div>

          </div>
        </div>
        <div class="space-elements">
            <div class="space-element">
            <div class="element-header">
                <div class="primary-states">
                </div>
                <div class="info">
                  <div class="type">CF</div>
                  <h4 class="title">Element</h4>
                  <h6 class="desc">On front</h6>
                </div>
                </div>
                <div class="right-bar">
                  <div class="states-row">
                    <div class="state-row">
                      <div class="row-top">
                        s top <b>Bold </b>
                      </div>
                      <div class="row-bottom">
                        s bottom
                      </div>
                    </div>
                  </div>
                  <div class="row-selector"></div>
                </div>
            </div>
        </div>
      </div>-->
<div class="proc-element-spaces">
          <div ng-include src="'assets/partials/bp_elements/elem_container_tmp.html'"></div>
</div>
        </div>
  </div>


    <div class="dataPipe" ng-repeat="cost in bpelem.costs" ng-show="bpelem.costs.length > 0">
      <div class="pipe">
        <div class="pipeHeader"> {{ cost.resource.resource.title }}</div>
        <div class="pipeContent">
          <div class="pipeContentTitle">{{ entityDecorator(cost.entities, cost.resource) }}</div>
        </div>
        <div class="pipeContent" ng-repeat="entity in cost.entities">
          <div class="pipeContentTitle">{{ entity.title }}</div>
          <div class="pipeContentValue" ng-show="inSession" ng-repeat="slat in slatFilter(entity, cost.slats)">
              <a ng-click="slat.refill=true;" ng-hide="slat.refill"><span>{{ slat.sval }}</span></a>
              <div class="pipeContentValueRefill" ng-init="slat.refill=false" ng-show="slat.refill">
                <input type="text" id="inputContentBlankValue" class="form-control" ng-model="slat.sval" required="">
                <a class="btn btn-small btn-success btn-fill" ng-click="reFillValue(cost, entity, slat)">ReFill</a>
                <a class="btn btn-small" ng-click="slat.refill=false;">x</a>
              </div>
          </div>
          <div class="pipeContentBlankValue" ng-show="inSession && slatFilter(entity, cost.slats).length < 1">
                <input type="text" id="inputContentBlankValue" class="form-control" ng-init="entity.newModelValue=defaultValueParser(entity.default)" ng-model="entity.newModelValue" required="">
                <a class="btn btn-small btn-success btn-fill" ng-click="fillValue(cost, entity, entity.newModelValue)">Fill</a>
        </div>
        </div>
      </div>
    </div>
</div>

 <!--
<div class="front-blocks" ng-repeat="bpelem in bpelems | orderBy:'order'">

  <div class="tab-content">
    <div class="block-card tab-pane active" id="show">
      <div class="card-pipe">
        <span class="primary">{{ bpelem.order }}: {{ bpelem.title }}</span>
        <span class="descr">{{ bpelem.desc }}</span>
        <span class="type">{{ bpelem.b_type }}: {{ bpelem.type_title }}</span>
        <ul class="elem-control elem-tabs" role="tablist" ng-show="isManagerVal">
          <li class="active"><a href="" role="tab" data-toggle="tab" ng:click="selected=1"><span class="glyphicon glyphicon-list-alt"></span></a></li>
          <li><a href="" role="tab" data-toggle="tab" ng:click="selected=2"><span class="glyphicon glyphicon-edit"></span></a></li>
          <li><a ng-click="deleteElem(bpelem)"><span class="glyphicon glyphicon-remove"></span></a></li>
          <li><a href="" ng:click="moveUpElem(bpelem)"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
          <li><a href="" ng:click="moveDownElem(bpelem)"><span class="glyphicon glyphicon-arrow-down"></span></a></li>
        </ul>
      </div>
      <div class="tab-pane active" id="edit" ng:show="selected == 2">
        <div ng-include src="'assets/partials/bp_elements/element-edit.html'"></div>
      </div>

      <div ng-include src="'assets/partials/bp_elements/elem_container_tmp.html'"></div>
    </div>
  </div>
</div>-->




































 </div>





</div>
</div>

<div class="fastInput launchDataFastInput" ng-show="inSession">
<!--<span class="firstInputFiles" ng-repeat="file in files">
    <span class="firstInputFileName">{{ file.name }}</span>
   <button type="button" class="close" ng-click="removeFileFirstInput(file,firstInput)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</span>-->
<a href="javascript:;" lk-google-picker on-picked="onPickedFirstInput(firstInput, docs)" class="fastInputPicker">
  <span class="moicon moicon-paste"></span>
</a>
</div>

<div class="dataPipe launchDataPipe" ng-repeat="cost in warpData.boards" ng-show="inSession && warpData.boards.length > 0">




      <div class="pipe">
        <div class="pipeHeader">Launch Data</div>
        <div class="pipeContent">
          <div class="pipeContentTitle"></div>
        </div>
        <div class="pipeContent" ng-class="entity.etype" ng-repeat="entity in warpData.entities">
          <div class="pipeContentTitle">{{ entity.etype }}: {{ entity.title }}</div>
          <div class="pipeContentValue" ng-repeat="slat in slatFilter(entity, warpData.slats)">
              <a ng-click="slat.refill=true;" ng-hide="slat.refill">
                <span ng-if="entity.etype != 'file'">{{ slat.sval }}</span>
                <span ng-if="entity.etype == 'file'">
                    <a href="{{ slat.sval}}">{{ slat.sval }}</a>
                </span>
                <a class="btn btn-small btn-delete" ng-click="removeEntity(entity, warpData)">Delete</a>
              </a>
          </div>
          <!-- <div class="pipeContentBlankValue" ng-show="slatFilter(entity, warpData.slats).length < 1">
                <input type="text" id="inputContentBlankValue" class="form-control" ng-init="entity.newModelValue=defaultValueParser(entity.default)" ng-model="entity.newModelValue" required="">
                <a class="btn btn-small btn-success" ng-click="fillValue(cost, entity, entity.newModelValue)">Fill</a>
        </div>-->
        </div>
      </div>
    </div>
</div>

<div class="elements mocking">
  <div class="proc-element minimal">
    <div class="element-header">
    <div class="primary-states">
    </div>
    <div class="info">
      <div class="type">CF</div>
      <h4 class="title">Element</h4>
      <h6 class="desc">Desc with nesting structure</h6>
    </div>
    </div>
    <div class="right-bar">
      <div class="states-row">
        <div class="state-row">
          <div class="row-top">
            s top <b>Bold </b>
          </div>
          <div class="row-bottom">
            s bottom
          </div>
        </div>
      </div>
      <div class="row-selector"></div>
    </div>
    <div class="proc-element-spaces">
      <div class="proc-space">
        <div class="space-subbricks">
          <div class="space-subbrick">
            <div class="element-header">
                  <div class="primary-states">
                  </div>
                  <div class="info">
                    <h4 class="title">Subbrick</h4>
                  </div>
                  </div>

          </div>
        </div>
        <div class="space-elements">
            <div class="space-element">
            <div class="element-header">
                <div class="primary-states">
                </div>
                <div class="info">
                  <div class="type">CF</div>
                  <h4 class="title">Element</h4>
                  <h6 class="desc">On front</h6>
                </div>
                </div>
                <div class="right-bar">
                  <div class="states-row">
                    <div class="state-row">
                      <div class="row-top">
                        s top <b>Bold </b>
                      </div>
                      <div class="row-bottom">
                        s bottom
                      </div>
                    </div>
                  </div>
                  <div class="row-selector"></div>
                </div>
            </div>
        </div>
      </div>

      <div class="proc-space">
        <div class="space-subbricks">
        </div>
        <div class="space-elements">
            <div class="space-element">
            <div class="element-header">
                <div class="primary-states">
                </div>
                <div class="info">
                   <div class="type">CF</div>
                  <h4 class="title">Element</h4>
                  <h6 class="desc">On front</h6>
                </div>
                </div>
                <div class="right-bar">
                  <div class="states-row">
                    <div class="state-row">
                      <div class="row-top">
                        s top <b>Bold </b>
                      </div>
                      <div class="row-bottom">
                        s bottom
                      </div>
                    </div>
                  </div>
                  <div class="row-selector"></div>
                </div>
            </div>
        </div>
      </div>



    </div>
  </div>

</div>

 <!--
<div class="session-info" ng-show="inSession">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="@{session.percent}" aria-valuemin="0" aria-valuemax="100" style="width: {{ session.percent}}%">
            <span>{{ session.percent}}%</span>
          </div>
        </div>
        <div class="started_at">
          Started <abbr class="session__header__created_at" title="{{ session.session.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="session.session.created_at"></abbr>
        </div>
        <div class="expand_sessions">
          <a ng-click="session_bar == 'hiding' ? session_bar='shown' : session_bar='hiding'"><span class="uicon-svg92"></span>Launches</a>
        </div>
</div>-->

<div id="proc-sessions" class="proc-sessions" ng-init="inSession ? session_bar='hiding' : session_bar='shown'">

<div class="progress" ng-show="inSession">
    <div class="progress-lines">
                <div ng-include src="'assets/partials/treeLiner.html'"></div>
    </div>
   <div class="progress-bar" role="progressbar" aria-valuenow="{{session.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{session.percent}}%;">
    <span>{{session.percent}}%</span>
   </div>
</div>

    <div class="proc-session active" ng-click="resetSession()" data-desc="Model">
    </div>
<a href="a#/bprocess/{{session.process.id}}/elements?launch={{session.session.id}}" ng-click="changeSession(session)" ng-repeat="session in sessions | limitTo: 5" class="current-proc-session-info session-link proc-session"  data-desc="Launch {{$index+1 }} - {{ session.percent}}%" ng-class="isSelected(session.session.id)">
   <span class="unpin moicon moicon-pushpin" ng-click="unlisted(session.session)"></span>
</a>


<div class="allSessions"><a href="/a#/launches?process={{ BPid }}">All</a></div>
</div>
</div>




<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600);
</style>











<script>
$(document).ready( function() {
  $('.proc-session').each(function(index, element) {
    // element == this
    $(element).not('.active').addClass('done');
    //$('.done').html('<i class="icon-ok"></i>');
    if($(this).is('.active')) {
      return false;
    }
  });
});
</script>
