 <form novalidate="novalidate" ng-init="" class="form-horizontal form-new-bpelem" ng-class="newBpelem.type_title" id="newFrontElementForm">
   <a href=""
     class="addElemTab"
     ng-show="!inSession"
     ng-click="bp.newelemformselected ? bp.newelemformselected=false : bp.newelemformselected=true"
     ng-class="bp.newelemformselected ? 'selected' : ''"><span class="glyphicon glyphicon-plus"></span></a>




    <div class="form-group element-form-fields">
    <div class="control-group">
      <h3>Create element</h3>

    <div class="form-new-element-nav" style="display: none;" ng-init="newBpelem.showCardElement=false;">
          <a ng-click="setTab(0, newBpelem)" ng-class="isSet(0, newBpelem)? 'active' : ''">Card</a></label>
          <a ng-click="setTab(1, newBpelem)" ng-class="isSet(1, newBpelem)? 'active' : ''">People</a>
          <a ng-click="setTab(2, newBpelem)" style="display:none;" ng-class="isSet(2, newBpelem)? 'active' : ''">Indicators</a></label>
    </div>


    </div>


    <div ng-show="isSet(0, newBpelem)">
      <div ng-include src="'assets/partials/bp_elements/new-elem-card.html'"></div>
    </div>

<div ng-show="isSet(1, newBpelem)">
      <div class="control-group people-control-group">
      <div class="form-group element-form-fields">
      <div class="form-group control-group clearfix">
        <div class="controls col-xs-6" ng-init="newBpelem.perms = [];">
          <div class="perms perm-list" ng-repeat="perm in newBpelem.perms" ng-init="perm.account = accFetch(perm)">
            <span class="account-pic" tooltip="{{ perm.account.tooltip }}">
                <img ng-src="{{ perm.account.avatarUrl}}" alt="{{ perm.account.tooltip }}">
                <a ng-click="delPermForForm(perm,newBpelem.perms)" class="btn-delete minicon"></a>
            </span>
          </div>
          <select id="inputPerm" disable-auto-validate="true" ng-model="newBpelem.perm" class="forUID" ng-options="employeegroup as credFetch(employeegroup) for employeegroup in employees_groups" multiple></select>
          
  <div class="people-select-container">
  <ui-select multiple close-on-select="false" disable-auto-validate="true" ng-init="newBpelem.perm=[];"ng-model="newBpelem.perm" style="min-width: 300px;" title="Choose a persons">
    <ui-select-match placeholder="Select a person in the list or search his name...">{{ credFetch($item) }}</ui-select-match>
    <ui-select-choices repeat="employeegroup in employees_groups">
      <div ng-bind-html="credFetch(employeegroup) | highlight: $select.search"></div>
      <small>
        {{credFetch(employeegroup)}}
      </small>
    </ui-select-choices>
  </ui-select>

  </div>


          <!--<a ng-click="createPermForForm(newBpelem.perm, newBpelem.perms, 'front')" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>-->
        </div>
      </div>
      </div>
    </div>
</div>


  <div ng-show="isSet(2, newBpelem)">
      <div ng-include src="'assets/partials/bp_elements/costs/newElemCost.html'"></div>
  </div>




    <input type="hidden" name="value" disable-auto-validate="true" ng-model="newBpelem.business" value="{{ business() }}">
    <input type="hidden" name="value" disable-auto-validate="true" ng-model="newBpelem.process" value="{{ BPid }}">
    <input type="hidden" id="input_b_type" disable-auto-validate="true" ng-model="newBpelem.b_type"/>
    <input type="hidden" id="input_type_title" disable-auto-validate="true" ng-model="newBpelem.type_title"/>
    <input type="hidden" id="input_space_own" disable-auto-validate="true" ng-model="newBpelem.space_own"/>
    <input type="hidden" id="input_order" disable-auto-validate="true" ng-model="newBpelem.order" value="{{ orderFrontGen(newBpelem) }}"/>
    <input type="hidden" id="input_ref" disable-auto-validate="true" ng-model="newBpelem.ref"/>

<!--
    <formly-form model="newBpelem.middleware" fields="vm.userFields">
    </formly-form>
-->

    <div class="control-group form-submit form-group" style="clear:both;" ng-show="isManagerVal && newBpelem.refSelectHidden" >
      <div class="controls">
        <button type="submit" id="createFrontElementFormButton" ng-click="setTab(1, newBpelem)" class="btn btn-small btTxt submit btn lg solid-green ng-binding" ng-show="isSet(0, newBpelem)">People</button>

        <button type="submit" id="createFrontElementFormButton" ng-show="isSet(1, newBpelem)" ng-click="createNewElem()" class="btn btn-small btTxt submit btn lg solid-green ng-binding">{{ 'CREATE' | translate }}</button>
      </div>
    </div>




</form>
