 <form novalidate="novalidate" ng-init="" ng-submit="createNewElem();" class="form-horizontal form-new-bpelem" ng-class="newBpelem.type_title" id="newFrontElementForm">
   <a href=""
     class="addElemTab"
     ng-show="!inSession"
     ng-click="bp.newelemformselected ? bp.newelemformselected=false : bp.newelemformselected=true"
     ng-class="bp.newelemformselected ? 'selected' : ''"><span class="glyphicon glyphicon-plus"></span></a>




    <div class="form-group element-form-fields">
    <div class="control-group">
      <h3>Create element</h3>

    <div class="form-new-element-nav" ng-init="newBpelem.showCardElement=false;">
      <div class="controls">
        <label class="control-label" for="inputPerm">
          <a ng-click="setTab(0, newBpelem)">Card</a></label>
      </div>
      <div class="controls col-xs-2">
        <label class="control-label col-sm-1" disable-auto-validate="true" for="inputPerm">
          <a ng-click="setTab(1, newBpelem)">People</a>
        </label>
      </div>
      <div class="controls">
        <label class="control-label" for="inputPerm">
          <a ng-click="setTab(2, newBpelem)">Indicators</a></label>
      </div>
    </div>


    </div>


    <div ng-show="isSet(0, newBpelem)">
      <div ng-include src="'assets/partials/bp_elements/new-elem-card.html'"></div>
    </div>

<div ng-show="isSet(1, newBpelem)">
  test 1
      <div class="control-group people-control-group">
      <div class="form-group element-form-fields">
      <div class="form-group control-group clearfix">
        <div class="controls col-xs-6" ng-init="newBpelem.perms = [];newBpelem.showPeople=false;" ng-show="newBpelem.showPeople">
          <div class="perms perm-list" ng-repeat="perm in newBpelem.perms" ng-init="perm.account = accFetch(perm)">
            <span class="account-pic" tooltip="{{ perm.account.tooltip }}">
                <img ng-src="{{ perm.account.avatarUrl}}" alt="{{ perm.account.tooltip }}">
                <a ng-click="delPermForForm(perm,newBpelem.perms)" class="btn-delete minicon"></a>
            </span>
          </div>
          <select id="inputPerm" disable-auto-validate="true" ng-model="newBpelem.perm" class="forUID" ng-options="employeegroup as credFetch(employeegroup) for employeegroup in employees_groups" multiple></select>
          <!--<a ng-click="createPermForForm(newBpelem.perm, newBpelem.perms, 'front')" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>-->
        </div>
      </div>
      </div>
    </div>
</div>


  <div ng-show="isSet(2, newBpelem)">
      <div ng-include src="'assets/partials/bp_elements/costs/newElemCost.html'"></div>
  </div>




    <input type="hidden" name="value" disable-auto-validate="true" ng-model="newBpelem.business" value="{{ business() }}">
    <input type="hidden" name="value" disable-auto-validate="true" ng-model="newBpelem.process" value="{{ BPid }}">
    <input type="hidden" id="input_b_type" disable-auto-validate="true" ng-model="newBpelem.b_type"/>
    <input type="hidden" id="input_type_title" disable-auto-validate="true" ng-model="newBpelem.type_title"/>
    <input type="hidden" id="input_space_own" disable-auto-validate="true" ng-model="newBpelem.space_own"/>
    <input type="hidden" id="input_order" disable-auto-validate="true" ng-model="newBpelem.order" value="{{ orderFrontGen(newBpelem) }}"/>
    <input type="hidden" id="input_ref" disable-auto-validate="true" ng-model="newBpelem.ref"/>

<!--
    <formly-form model="newBpelem.middleware" fields="vm.userFields">
    </formly-form>
-->

    <div class="control-group form-submit form-group" style="clear:both;" ng-show="isManagerVal">
      <div class="controls">
        <button type="submit" id="createFrontElementFormButton" class="btn btn-small btTxt submit btn lg solid-green ng-binding">{{ 'CREATE' | translate }}</button>
      </div>
    </div>




</form>
