.idea/
.idea_modules/
.settings/
.worksheet/
.cache/
target/
rest2/
third-party/
akka-http-stream-example/
slick-pg/
.classpath
.project
project/target
.DS_Store
.sass-cache/
async-socket/

scribe-java/
play-jsmessages/
fonts/

promo/
brief/
swan/

minority.sql
minority2.sql
*.class
*.log
*.crt
*.keystore

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
demo/

.settings/*
*.settings/
*/.settings/