<div class="container">
<h3 class="primary">{{ 'PERMISSIONS' | translate }}:</h3>
<div ng-include src="'partials/tree.html'"></div>


<div class="new">
 <div class="params">
  <!--
          <div class="param">
              <div ng-repeat="perm in newperms" class="controls inputRequests">
                   <div class="request">
                     <select ng-model="perm.uid" class="forUID" ng-options="employee.uid as employee.uid for employee in employees" required></select><br>
                     <select ng-model="perm.front_elem_id" class="forFrontElem" ng-options="elem.id as elem.title for elem in bpelems" required>
                      <option value="" selected></option>
                     </select><br>
                     <select ng-model="perm.space_elem_id" class="forSpaceElem"ng-options="elem.id as elem.title for elem in spaceelems" required>
                      <option value="" selected></option>
                     </select><br>
                     <a ng-click="createPerm(perm)" class="btn btn-big btn-success">Add</a>
                </div></div>
          </div></div>
        
          <button ng-click="addPerm()">Add another one permission</button>
          -->
          
           <div class="params">
          <div class="param">
              <div ng-repeat="bpelem in bpelems | filter:filterPerms" class="controls inputRequests">
                   <div class="request">
                    <p>{{bpelem.title}}</p>
                     <select ng-model="bpelem.perm.uid" class="forUID" ng-options="employee.uid as credFetch(employee.uid) for employee in employees" required></select><br>
                     <a ng-click="createPerm(bpelem.perm, bpelem, 'front')" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>
              <div class="perms" ng-repeat="perm in perms | filter:byObjId(bpelem)">
                <pre>{{ credFetch(perm.uid)  }} {{ bpelem.title }}</pre>
                <a ng-click="delPerm(perm)" class="btn btn-danger btn-big">{{ 'DELETE' | translate }}</a>
              </div>
                </div>
              <div ng-repeat="spaceelem in spaceelems | filter:filterPerms" class="controls inputRequests">
                   <div class="request">
                    <p>{{spaceelem.title}}</p>
                     <select ng-model="spaceelem.perm.uid" class="forUID" ng-options="employee.uid as credFetch(employee.uid) for employee in employees" required></select><br>

                     <a ng-click="createPerm(spaceelem.perm, spaceelem, 'space')" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>
                </div>
                <div class="perms" ng-repeat="perm in perms | filter:byObjId(spaceelem)">
                <pre>{{ credFetch(perm.uid) }} {{ spaceelem.title }}</pre>
                <a ng-click="delPerm(perm)" class="btn btn-danger btn-big">{{ 'DELETE' | translate }}</a>
                </div>
              </div>
              </div>

        </div>
        
          
          
          
          

</div>
</div>