@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.EmployeeDTO
@import models.DAO.resources.BusinessDTO
@import helper._
@(currentPage: Page[EmployeeDTO], currentOrderBy: Int, currentFilter: String, businesses: List[BusinessDTO], assignedBiz: List[BusinessDTO])(user: Option[securesocial.core.BasicProfile] = None)

@****************************************
* Helper generating navigation links *
****************************************@


@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="#">@title</a>
    </th>
}


@main("Employees", user) {
<div class="manageWholeTeam peoplePanel">

<div class="panelLike organisationsGrid">

<div class="organisationsGridMenu">
  <h2 class="organisationsGridHeadline">Members</h2>
  <ul>
        <li data-attr="show" data-target=".tabsWrap" data-filter="all" class="filterGridItems changeData active">All <span class="badgeLike">4</span></li>
    <li data-attr="show" data-target=".tabsWrap" data-filter="admin" class="filterGridItems changeData">Administrators <span class="badgeLike">3</span></li>
    <li data-attr="show" data-target=".tabsWrap" data-filter="member" class="filterGridItems changeData">Members <span class="badgeLike">1</span></li>
    <li data-attr="show" data-target=".tabsWrap" data-filter="invite" class="filterGridItems changeData">Invitations <span class="badgeLike">2</span></li>
    <!--<li><a class="btn success" id="add" href="@users.routes.EmployeeController.create()">Add a new Employee</a></li>-->
  </ul>
</div>

<div class="organisationsGridCards">

  <div class="addPeople grids">
    <div class="infoMessage"></div>
    <div id="addMembersForm">
      <form class="addAllowedUser addUsersToGroup" data-where="ul.profilesList">
        <textarea class="flatTextarea" id="newUsersForGroup" required="required" name="emails" placeholder="E-mail address(es) comma separated" cols="50" rows="3"></textarea>
        <div class="grids">
          <div class="g1of2">
            <span class="flatCheckbox"><input id="teamAdminRole" type="checkbox" name="admin">&nbsp;<label for="teamAdminRole">Administrator&nbsp;Role</label></span>
          </div>
          <div class="g1of2">
            <button type="submit" class="button small blue flatButton posRight"><i></i><span>Send Invites</span></button>
            <button class="cancelButton dark button small flatButton"><i></i><span>Cancel</span></button>
          </div>
        </div>
        <div class="clr"></div>
      </form>
    </div>
    <span data-target="#addMembersForm" data-focus="#addMembersForm" data-toggle-class="zeroH" class="hiddenToggler isHidden addMembersLink"><span class="badgeIco"><span class="vIco vAddMembers vShineState"></span></span> Add People to Team</span>
    <div class="teamApisListFilter filterLayer">
      <span class="magnifyGlass vIco vLoupe vLight2State"></span>
      <input type="text" size="47" data-list=".profilesList &gt; li.userCard.listItem" data-fresh="1" data-playevents="1" data-childs=".userName" data-toggle-class="hidden" class="filterInput teamApisListFilterInput" placeholder="Search People">
    </div>
  </div>

<div class="tabsWrap" data-show="all">
  <ul data-menu=".organisationsGridMenu" class="profilesList userCard list grids">
    @Option(currentPage.items).filterNot(_.isEmpty).map { entities =>
        @entities.map {
         case (entity) => {
      <li class="userCard listItem" data-role="member" data-type="Invite" data-id="@entity.id">
        <div class="userCardFront">
        <figure class="userAvatar">
          <img src="https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=70&amp;d=https%3A%2F%2Fapiary.a.ssl.fastly.net%2Fassets%2Fimages%2Fdefault_user_avatar-8f601fa59d98081b.png" height="70" width="70" />
        </figure>

        <span class="infoIco icon-time" title="Waiting user invitation acceptance."></span>

        <span class="userName">
        <b class="block">Anonymous — @{entity.uid}</b>
          </span>
        <span class="infoIco opposite icon-star hidden" title="Member"></span>
         <!--
          <li class="userCard userCardMenu okMenu inactiveMenu">
              <ul>
                <li class="dropdownListItem onlyMember morphAdmin"><a class="dropdownLink" data-csrftoken="GSUBn9opNZQEct5zCHuRh%2FvYODV1WQtOyAdt0%3D" data-type="POST" data-target-role="Admin" href="/organisations/promote/">Promote to Admin</a></li>
                <li class="dropdownListItem onlyAdmin morphMember"><a class="dropdownLink" data-csrftoken="GSUBn9opNZQEct5zCHuRh%2FvYODV1WQtOyAdt0%3D" data-type="POST" data-target-role="Member" href="/organisations/demote/">Demote to Member</a></li>
                <li class="dropdownListItem onlyAdmin removeAdmin"><a class="dropdownLink" data-csrftoken="GSUBn9opNZQEct5zCHuRh%2FvYODV1WQtOyAdt0%3D" data-type="DELETE" href="/organisations/remove/admin/">Remove Admin</a></li>
                <li class="dropdownListItem onlyMember removeMember"><a class="dropdownLink" data-csrftoken="GSUBn9opNZQEct5zCHuRh%2FvYODV1WQtOyAdt0%3D" data-type="DELETE" href="/organisations/remove/member/"> @form(users.routes.EmployeeController.destroy(entity.id.get), 'class -> "topRight") {
                                          <input type="submit" value="Remove Member" class="btn danger">
        }</a></li>
                <li class="dropdownListItem onlyInvite resendInvite"><a class="dropdownLink" data-csrftoken="GSUBn9opNZQEct5zCHuRh%2FvYODV1WQtOyAdt0%3D" data-type="POST" href="/organisations/resend/">Resend invitation mail</a></li>
                <li class="dropdownListItem onlyInvite removeInvite"><a class="dropdownLink" data-csrftoken="GSUBn9opNZQEct5zCHuRh%2FvYODV1WQtOyAdt0%3D" data-type="GET" href="/organisations/invitations/53e3a33ca1fce6020000000d/decline/">Cancel invitation</a></li>
              </ul>
          </li>-->

        <!--
                                      Assign to:
                                      @businesses.map { business =>
                                          <b><a href="@users.routes.EmployeeController.assign_business(entity.id.get, business.id.get)">@business.title</a></b>
                                      }

                                    Assigned:
                                      @assignedBiz.map { business =>
                                          <b><a href="@users.routes.EmployeeController.unassign_business(entity.id.get, business.id.get)">@business.title</a></b>
                                      }-->
          <span class="userCardMenuHandle">&#x2261;</span>
        </div>
      </li>  
}
}
}


                              


<li class="userCard listItem" data-role="admin" data-type="Invite" data-id="xxxxxx.ru" data-query="code=KAuePx">
<div class="userCardFront">

<figure class="userAvatar">
  <img src="https://secure.gravatar.com/avatar/f5b6312db683c2d10bc21d3794e05923.png?s=70&amp;d=https%3A%2F%2Fapiary.a.ssl.fastly.net%2Fassets%2Fimages%2Fdefault_user_avatar-8f601fa59d98081b.png" height="70" width="70" />
</figure>

<span class="infoIco icon-time" title="Waiting user invitation acceptance."></span>

<span class="userName">
<b class="block">Anonymous</b>
  xxxxxx.ru</span>
<span class="infoIco opposite icon-star hintMe" title="Admin"></span>
<span class="userCardMenuHandle">&#x2261;</span></div>

</li>         


<li class="userCard listItem" data-role="admin" data-type="Admin" data-id="509045720dfd280200000240">
<div class="userCardFront">

<figure class="userAvatar">
  <img src="https://avatars.githubusercontent.com/u/485466?s=70&amp;d=https%3A%2F%2Fapiary.a.ssl.fastly.net%2Fassets%2Fimages%2Fdefault_user_avatar-8f601fa59d98081b.png" height="70" width="70" />
</figure>


<span class="userName">
<b class="block">Stanislav Sobolev</b>
  <a href="mailto:iamjackegmail.com">iamjackegmail.com</a>
</span>
<span class="infoIco opposite icon-star hintMe" title="Admin"></span>
<span class="userCardMenuHandle">&#x2261;</span></div>

</li>                                


<li class="userCard listItem" data-selfie="1" data-role="admin" data-type="Admin" data-id="540bca8e7621d50200003e0b">
<div class="userCardFront">

<figure class="userAvatar">
  <img src="https://secure.gravatar.com/avatar/0?s=70&amp;d=https%3A%2F%2Fapiary.a.ssl.fastly.net%2Fassets%2Fimages%2Fdefault_user_avatar-8f601fa59d98081b.png" height="70" width="70" />
</figure>


<span class="userName">
<b class="block">fasfa </b>
  <a href="mailto:thenaswerzonegmai.com">thenaswerzoneATgmai.com</a>
</span>
<span class="infoIco opposite icon-star hintMe" title="Admin"></span>
</div>
</li>          


    <li class="userCardBlankSlate">
      <span class="switchByDataAttr" data-role="all">
        <i class="vIco vPeople vDefaultState"></i><br>
        <strong>You have no members at the moment</strong>
        Click on Add Members to invite them.
      </span>
      <span class="switchByDataAttr" data-role="member">
        <i class="vIco vEmpty"></i><br>
        Members can by default edit Team API Blueprints.
      </span>
      <span class="switchByDataAttr" data-role="admin">
        <i class="vIco vEmpty"></i><br>
        Admins of the Team are able to <!-- change Team Settings &amp;  --> manage Team Members.
      </span>
      <span class="switchByDataAttr" data-type="Invite">
        <i class="vIco vEmpty"></i><br>
        There are no pending Team Invitations.<br>
        Click on Add Members to invite new members.
      </span>
    </li>


  </ul></div>
</div>

</div></div>

  </div>    

   
<script>
$('#addMembersForm button.posRight').on('click', function(event) {

event.preventDefault();
  var emails = $('textarea#newUsersForGroup').val().split(',');
  var admin =  $('#teamAdminRole').prop("checked");
if (emails.length > 0) {
jsRoutes.controllers.users.EmployeeController.create_new().ajax({data: JSON.stringify({emails: emails, manager: admin}), dataType: "json", contentType: 'application/json',
            xhrFields: {
                withCredentials: !0
            },
            accepts: {
                json: "application/json"
            }}).done(function( data ) { console.log(data);

//$('.form-horizontal')[0].submit();
}).fail(function( jqXHR, textStatus) {
    //$('.loginFlowPage').prepend('<div class="messageBoxWrap"><p class="message">'+ JSON.parse(jqXHR.responseText).error +'</p></div>');
  })
;

} 
})
;




</script>
}