
@import minority.utils._
@(boardId: String, entity_id:String, id: Option[String], form: Form[minority.utils.Slat], user: models.User2, entity:Option[Entity]=None)(implicit request: RequestHeader)

@entityTitle = {
   @id match {
     case Some(id) => { "Edit an slat" }
     case _ => { "Add an slat"  }
   }
}
@dataForm(entityTitle.toString.replace("\"", ""), user) {
  <div class="row">
  <div class="span8">

  @helper.form(if(!id.isDefined) routes.DataController.create_slat(entity_id) else routes.DataController.update_slat(entity_id, id.getOrElse("") )) {
    
      @entity match {
        case Some(e) => {
            @helper.inputText(form("title").copy(value=Some(e.title+" ") ), 'class -> "form-control", '_label -> "Title")
            <p>Type — @e.etype </p>
        }
        case _ => {
            @helper.inputText(form("title"), 'class -> "form-control", '_label -> "Title")
        }
      }
      @helper.textarea(form("sval"), 'class -> "form-control", '_label -> "Value")
      @helper.textarea(form("meta"), 'class -> "form-control", '_label -> "Metadata")
      <div class="form-actions">
        <input class="btn btn-primary" type="submit">
      </div>
  }
  </div>

}
