
@import controllers.employeeParams
@import models.DAO.resources.ActPermission
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO

@import controllers._
@import minority.utils._
@import helper._
@(user: models.User2, isManager: Boolean = false, resourceForms: ResourceFormContainer, resContainer: List[ResourceContainer], entityForm: Form[minority.utils.Entity], ping: Boolean = false)(implicit request: RequestHeader)
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import helper._

@main(Messages("page.data"), user) {
<script src='/jsroutes.js'></script>

<div class="app-container">

<div class="container app" ng-app="app" ng-controller="DataTableController">



<div class="data-container-nav">
  <a ng-click="setTab(0)" ng-class="isSet(0)? 'active' : ''">Indicators</a></label>
  <a ng-click="setTab(1)" ng-class="isSet(1)? 'active' : ''">Acts</a>
</div>



<div class="act-data-table" ng-show="isSet(1)">
  <div class="act-object inprogress">
    <div class="act-icon">
    <svg width="45" height="43" xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>background</title>
     </g>
     <g>
      <title>Layer 1</title>
      <path stroke="#000" id="svg_3" d="m5.16413,19.910958c0,-8.003891 6.238545,-14.415326 14.557101,-14.487045c8.318556,-0.071719 14.557096,6.483154 14.557096,14.487045c0,8.003896 -5.548631,14.48705 -14.557096,14.48705c-9.00847,0 -14.557101,-6.483154 -14.557101,-14.48705z" stroke-opacity="null" shape-rendering="auto" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" fill-opacity="null" fill="#fff"/>
      
      <path shape-rendering="auto" d="m20.499914,36.828959c4.373481,0 8.746962,-1.591958 12.076296,-4.775875c0.511601,-0.488755 0.511601,-1.281479 0,-1.770234s-1.340007,-0.489256 -1.851084,0c-5.639131,5.391326 -14.81234,5.390825 -20.450423,0c-5.638083,-5.392327 -5.638083,-14.165376 0,-19.557703c5.638607,-5.391326 14.811816,-5.391326 20.450423,0c0.511601,0.489256 1.340007,0.489256 1.851084,0s0.511601,-1.28198 0,-1.770234c-6.659191,-6.368335 -17.493925,-6.368335 -24.152592,0c-6.659191,6.368335 -6.659191,16.729836 0,23.098171c3.329334,3.183917 7.702815,4.775875 12.076296,4.775875z" stroke-width="1px" stroke="black" id="svg_101"/>

      <path stroke="null" shape-rendering="auto" d="m42.31135,19.702715c-0.000998,-0.00097 -0.001497,-0.00097 -0.002495,-0.001941l-5.308327,-5.161894c-0.487428,-0.473982 -1.276692,-0.473982 -1.763622,0s-0.487428,1.241474 0,1.714971l3.183,3.095196l-14.721127,0c-0.51387,-1.408362 -1.89184,-2.418425 -3.516267,-2.418425c-2.062464,0 -3.734288,1.625705 -3.734288,3.631276c0,2.00557 1.671824,3.631276 3.734288,3.631276c1.624428,0 3.002397,-1.010062 3.516267,-2.418425l14.720628,0l-3.183,3.095196c-0.487428,0.473982 -0.487428,1.241474 0,1.714971c0.243465,0.236749 0.562762,0.355123 0.88206,0.355123s0.638097,-0.118374 0.88206,-0.355123l6.193879,-6.023018l-0.880564,-0.856273c-0.000998,-0.00097 -0.001497,-0.001941 -0.002495,-0.002911z" id="svg_2"/>
      <path id="svg_4" d="m52,26.662354" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff"/>
     </g>
     <g>
      <title>background</title>
      <rect fill="none" id="canvas_background" height="45" width="47" y="-1" x="-1"/>
     </g>
    </svg>


    </div>

    <div class="act-header">
    <div class="act-title">
      Act
    </div>
    <div class="act-process">
      Process
    </div>
    </div>

    <div class="act-acted"><abbr class="session__header__created_at" title="Tuesday, July 5th 2016, 12:00:00 am" am-time-ago="session.created_at">July 5th 2016, 12:00 am</abbr></div>
    <div class="act-essentials">
      <div class="act-input empty">
        Input
      </div>
      <div class="act-base">
        <div class="act-base-object">
         <div class="act-base-object-pair pair-verb">
          <div class="act-base-object-key">Verb</div>
          <div class="act-base-object-value">GET</div>
        </div>
         <div class="act-base-object-pair pair-url">
          <div class="act-base-object-key">Url</div>
          <div class="act-base-object-value">https://google.com</div>
        </div>
         <div class="act-base-object-pair pair-headers">
          <div class="act-base-object-key">Headers</div>
          <div class="act-base-object-value">GET</div>
        </div>

        </div>
      </div>
      <div class="act-outputs">
        <div class="act-output-object">
          <div class="act-output-object-pair pair-status">
            <div class="act-output-object-key">
              Status
            </div>
          </div>
          <div class="act-output-object-pair pair-duration">
            <div class="act-output-object-key">            
              Duration
            </div>
          </div>
          <div class="act-output-object-pair pair-response">
            <div class="act-output-object-key">            
              Response
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

  <div class="act-object finished">
    <div class="act-icon">
    <svg width="45" height="43" xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>background</title>
     </g>
     <g>
      <title>Layer 1</title>
      <path stroke="#000" id="svg_3" d="m5.16413,19.910958c0,-8.003891 6.238545,-14.415326 14.557101,-14.487045c8.318556,-0.071719 14.557096,6.483154 14.557096,14.487045c0,8.003896 -5.548631,14.48705 -14.557096,14.48705c-9.00847,0 -14.557101,-6.483154 -14.557101,-14.48705z" stroke-opacity="null" shape-rendering="auto" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" fill-opacity="null" fill="#fff"/>
      
      <path shape-rendering="auto" d="m20.499914,36.828959c4.373481,0 8.746962,-1.591958 12.076296,-4.775875c0.511601,-0.488755 0.511601,-1.281479 0,-1.770234s-1.340007,-0.489256 -1.851084,0c-5.639131,5.391326 -14.81234,5.390825 -20.450423,0c-5.638083,-5.392327 -5.638083,-14.165376 0,-19.557703c5.638607,-5.391326 14.811816,-5.391326 20.450423,0c0.511601,0.489256 1.340007,0.489256 1.851084,0s0.511601,-1.28198 0,-1.770234c-6.659191,-6.368335 -17.493925,-6.368335 -24.152592,0c-6.659191,6.368335 -6.659191,16.729836 0,23.098171c3.329334,3.183917 7.702815,4.775875 12.076296,4.775875z" stroke-width="1px" stroke="black" id="svg_101"/>

      <path stroke="null" shape-rendering="auto" d="m42.31135,19.702715c-0.000998,-0.00097 -0.001497,-0.00097 -0.002495,-0.001941l-5.308327,-5.161894c-0.487428,-0.473982 -1.276692,-0.473982 -1.763622,0s-0.487428,1.241474 0,1.714971l3.183,3.095196l-14.721127,0c-0.51387,-1.408362 -1.89184,-2.418425 -3.516267,-2.418425c-2.062464,0 -3.734288,1.625705 -3.734288,3.631276c0,2.00557 1.671824,3.631276 3.734288,3.631276c1.624428,0 3.002397,-1.010062 3.516267,-2.418425l14.720628,0l-3.183,3.095196c-0.487428,0.473982 -0.487428,1.241474 0,1.714971c0.243465,0.236749 0.562762,0.355123 0.88206,0.355123s0.638097,-0.118374 0.88206,-0.355123l6.193879,-6.023018l-0.880564,-0.856273c-0.000998,-0.00097 -0.001497,-0.001941 -0.002495,-0.002911z" id="svg_2"/>
      <path id="svg_4" d="m52,26.662354" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff"/>
     </g>
     <g>
      <title>background</title>
      <rect fill="none" id="canvas_background" height="45" width="47" y="-1" x="-1"/>
     </g>
    </svg>


    </div>

    <div class="act-header">
    <div class="act-title">
      Act
    </div>
    <div class="act-process">
      Process
    </div>
    </div>
    
    <div class="act-acted"><abbr class="session__header__created_at" title="Tuesday, July 5th 2016, 12:00:00 am" am-time-ago="session.created_at">July 5th 2016, 12:00 am</abbr></div>
    <div class="act-essentials">
      <div class="act-input empty">
        Input
      </div>
      <div class="act-base">
        <div class="act-base-object">
         <div class="act-base-object-pair pair-verb">
          <div class="act-base-object-key">Verb</div>
          <div class="act-base-object-value">GET</div>
        </div>
         <div class="act-base-object-pair pair-url">
          <div class="act-base-object-key">Url</div>
          <div class="act-base-object-value">https://google.com</div>
        </div>
         <div class="act-base-object-pair pair-headers">
          <div class="act-base-object-key">Headers</div>
          <div class="act-base-object-value">GET</div>
        </div>

        </div>
      </div>
      <div class="act-outputs">
        <div class="act-output-object">
          <div class="act-output-object-pair pair-status">
            <div class="act-output-object-key">
              Status
            </div>
            <div class="act-output-object-value">
                Finished
            </div>
          </div>
          <div class="act-output-object-pair pair-duration">
            <div class="act-output-object-key">            
              Duration
            </div>
            <div class="act-output-object-value">
                Finished
            </div>
          </div>
          <div class="act-output-object-pair pair-response">
            <div class="act-output-object-key">            
              Response
            </div>
            <div class="act-output-object-value">
                Finished
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

  <div class="act-object canceled">
    <div class="act-icon">
    <svg width="45" height="43" xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>background</title>
     </g>
     <g>
      <title>Layer 1</title>
      <path stroke="#000" id="svg_3" d="m5.16413,19.910958c0,-8.003891 6.238545,-14.415326 14.557101,-14.487045c8.318556,-0.071719 14.557096,6.483154 14.557096,14.487045c0,8.003896 -5.548631,14.48705 -14.557096,14.48705c-9.00847,0 -14.557101,-6.483154 -14.557101,-14.48705z" stroke-opacity="null" shape-rendering="auto" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" fill-opacity="null" fill="#fff"/>
      
      <path shape-rendering="auto" d="m20.499914,36.828959c4.373481,0 8.746962,-1.591958 12.076296,-4.775875c0.511601,-0.488755 0.511601,-1.281479 0,-1.770234s-1.340007,-0.489256 -1.851084,0c-5.639131,5.391326 -14.81234,5.390825 -20.450423,0c-5.638083,-5.392327 -5.638083,-14.165376 0,-19.557703c5.638607,-5.391326 14.811816,-5.391326 20.450423,0c0.511601,0.489256 1.340007,0.489256 1.851084,0s0.511601,-1.28198 0,-1.770234c-6.659191,-6.368335 -17.493925,-6.368335 -24.152592,0c-6.659191,6.368335 -6.659191,16.729836 0,23.098171c3.329334,3.183917 7.702815,4.775875 12.076296,4.775875z" stroke-width="1px" stroke="black" id="svg_101"/>

      <path stroke="null" shape-rendering="auto" d="m42.31135,19.702715c-0.000998,-0.00097 -0.001497,-0.00097 -0.002495,-0.001941l-5.308327,-5.161894c-0.487428,-0.473982 -1.276692,-0.473982 -1.763622,0s-0.487428,1.241474 0,1.714971l3.183,3.095196l-14.721127,0c-0.51387,-1.408362 -1.89184,-2.418425 -3.516267,-2.418425c-2.062464,0 -3.734288,1.625705 -3.734288,3.631276c0,2.00557 1.671824,3.631276 3.734288,3.631276c1.624428,0 3.002397,-1.010062 3.516267,-2.418425l14.720628,0l-3.183,3.095196c-0.487428,0.473982 -0.487428,1.241474 0,1.714971c0.243465,0.236749 0.562762,0.355123 0.88206,0.355123s0.638097,-0.118374 0.88206,-0.355123l6.193879,-6.023018l-0.880564,-0.856273c-0.000998,-0.00097 -0.001497,-0.001941 -0.002495,-0.002911z" id="svg_2"/>
      <path id="svg_4" d="m52,26.662354" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff"/>
     </g>
     <g>
      <title>background</title>
      <rect fill="none" id="canvas_background" height="45" width="47" y="-1" x="-1"/>
     </g>
    </svg>


    </div>

    <div class="act-header">
    <div class="act-title">
      Act
    </div>
    <div class="act-process">
      Process
    </div>
    </div>
    
    <div class="act-acted"><abbr class="session__header__created_at" title="Tuesday, July 5th 2016, 12:00:00 am" am-time-ago="session.created_at">July 5th 2016, 12:00 am</abbr></div>
    <div class="act-essentials">
      <div class="act-input empty">
        Input
      </div>
      <div class="act-base">
        <div class="act-base-object">
         <div class="act-base-object-pair pair-verb">
          <div class="act-base-object-key">Verb</div>
          <div class="act-base-object-value">GET</div>
        </div>
         <div class="act-base-object-pair pair-url">
          <div class="act-base-object-key">Url</div>
          <div class="act-base-object-value">https://google.com</div>
        </div>
         <div class="act-base-object-pair pair-headers">
          <div class="act-base-object-key">Headers</div>
          <div class="act-base-object-value">GET</div>
        </div>

        </div>
      </div>
      <div class="act-outputs">
        <div class="act-output-object">
          <div class="act-output-object-pair pair-status">
            <div class="act-output-object-key">
              Status
            </div>
          </div>
          <div class="act-output-object-pair pair-duration">
            <div class="act-output-object-key">            
              Duration
            </div>
          </div>
          <div class="act-output-object-pair pair-response">
            <div class="act-output-object-key">            
              Response
            </div>
          </div>
        </div>
      </div>  
    </div>

  </div>    

</div>








<div id="main" class="container dataTables resources-list" ng-init="isSet(0)" ng-show="isSet(0)">
<div class="tableMinListWrap dataTablesTable">

@if(ping) {
<div class="newResourceForm">
<div class="newResourceFormContainer">
@form(routes.DataController.create_resource(), 'id -> "createResourceFormObject", 'class -> "createResourceForm") {

   <h3>Create indicator</h3>
  <button type="submit" id="createResourceBtn" class="createMin ajaxLink cacheable resource-add-btn offed">Create</button>
  <div class="tableMinListFilter search-process-input add-resource-field filterLayer">
    <!-- <span class="magnifyGlass vIco vLoupe vLight2State"></span>-->
    <label for="resourceTitle">Indicator name</label>
    <input type="text" id="resourceTitle" name="title" value="" class="filterInput tableMinListFilterInput">
    <!-- <input type="text" size="71" data-toggle-class="hidden" class="filterInput tableMinListFilterInput" placeholder="Name"> -->
  </div>
}

</div>
<div class="inlineEntityForm" id="newResourceEntityForm" style="display: none !important;">
  <div class="" style="display:none;">
  <h4>Attribute</h4>
  @helper.form(routes.DataController.create_entity("")) {

              @helper.inputText(entityForm("title"), 'class -> "form-control", 'id -> "newInlineAttrTitleField", '_label -> "Title")
              @helper.textarea(entityForm("description"), 'class -> "form-control", 'id -> "newInlineAttrDescField", '_label -> "Description")
              @helper.select(entityForm("etype"), Seq("number"->"Number", "text"->"Text", "boolean" -> "Boolean"), 'class -> "form-control", 'id -> "newInlineAttrEtypeField",'_label -> "Type")
              @helper.inputText(entityForm("default"), 'class -> "form-control", 'id -> "newInlineAttrDefaultField", '_label -> "Default value")
              <input type="hidden" name="newInlineAttrMetaField" name="@entityForm("meta").name" value='""' >
  }
  </div>
</div>
</div>
}

@if(resContainer.length < 1) {
  <div class="dataEmptyPlaceholder">
        <span class="uicon-svg62222"></span>
        <p class="primary">Start adding indicators</p>
        <p class="small">As an example they may be time or expendable materials</p>
  </div>
} else {
  <div class="tableMinListFilter search-resource-input filterLayer">
    <span class="magnifyGlass vIco vLoupe vLight2State"></span>
    <input type="text" size="41"
    data-toggle-class="hidden"
    class="filterInput tableMinListFilterInput" placeholder="Search indicators" style="">
  </div>
}


<div class="panelLike organisationsGridLike redDataGrid">
  <ul ul id="tablemin" class="tableMinList processList resourceList">
  @resContainer.map { cn =>
  <div class="resource" id="resource-@{cn.resource.id.getOrElse(0)}">
    <div class="process-status">
    <li class="tableMinListItem">
      <h2 class="tableMinListName">
        <a class="tableMinName vIcoIn" href="#">@cn.resource.title</a>
      </h2>
        @cn.board_cn.map { bcn =>
        <div class="boards">
           @bcn.boards.filter(board => board.meta.find(m => m.key == "resource_id" && m.value == cn.resource.id.get.toString).isDefined).map { board =>
          <div class="board">
            <h4>@board.title</h4>
            <span class="boardContent">@board.content</span>
            <div class="entities" style="">
              <!--<a href="@routes.DataController.create_entity_form(cn.resource.id.getOrElse(0), board.getId)" class="btn success btn-success createEntity" id="entityCreateBtn">Create Attribute</a>-->

                @bcn.entities.filter(e => e.boardId.toString == board.getId).map { entity =>
              <div class="boardEntity">
                  <h4>@entity.title - @entity.etype @entity.default</h4>

                <!-- entity form -->
          <div class="inlineEntityForm">
            @helper.form(routes.DataController.update_entity(entity.getId), 'class -> "updateEntityForm", 'id -> s"entity-${entity.getId}") {
              @helper.inputText(entityForm("title").copy(value=Some(entity.title)),   'class -> "form-control", '_label -> "Title")
              @helper.textarea(entityForm("description").copy(value=Some(entity.description)),   'class -> "form-control", '_label -> "Description")
              @helper.select(entityForm("etype").copy(value=Some(entity.etype)), Seq("number"->"Number", "text"->"Text", "boolean" -> "Boolean"), 'class -> "form-control", '_label -> "Type")
              @helper.inputText(entityForm("default").copy(value=Some(entity.default)),   'class -> "form-control", '_label -> "Default value")
              <input type="hidden" name="inlineEntityFormMetaField" name="@entityForm("meta").name" value='@entity.meta' >
              <div class="form-actions">
                <button class="" type="submit" data-toggle="tooltip" data-placement="right" title="Update attribute">
                  <span class="moicon icon-pencil"></span>
                </button>
              </div>
            }

            <div class="inlineEntityFormDelete" style="display: none;">
              <button class="showEditEntityForm"
                       id="showEditEntityForm-@{entity.getId}"
                       data-toggle="tooltip"
                       data-placement="right" data-entity-id="@{entity.getId}" title="Update attribute">
                       Edit
              </button>
            @helper.form(routes.DataController.delete_entity(entity.getId)) {
                 <button type="submit" class="tableMinControlsLink teamSettingsLink tableMinLinkDelete">
                   Delete
                 </button>
            }
            </div>

          </div>


                  <!-- @@entity.meta.map { meta =>  -->
                  <!--   <b>@@meta.key - @@meta.value</b> -->
                  <!-- } -->
                  <div class="slats" style="display: none;">
                      <a href="@routes.DataController.create_slat_form(entity.getId)" class="btn success btn-success">Create Instance</a>
                    @bcn.slats.filter(s => s.entityId.toString == entity.getId).map { slat =>
                      <div class="entitySlat">
                          <a href="@routes.DataController.update_slat_form(entity.getId, slat.getId)">
                            @slat.title
                            @slat.sval
                          </a>
                         @helper.form(routes.DataController.delete_slat(slat.getId)) {

                              <button type="submit" class="btn danger deleteSlat"><span class="moicon icon-trash"></span></button>
                          }

                      </div>
                    }
                  </div>
              </div>
                }
                <!-- new entity form -->
                <div class="inlineEntityForm">
            @helper.form(routes.DataController.create_entity(board.getId), 'class -> "inlineEntityFormNewForm") {

              @helper.inputText(entityForm("title"), 'class -> "form-control", '_label -> "Title")
              @helper.textarea(entityForm("description"), 'class -> "form-control", '_label -> "Description")
              @helper.select(entityForm("etype"), Seq("number"->"Number", "text"->"Text", "boolean" -> "Boolean"), 'class -> "form-control", '_label -> "Type")
              @helper.inputText(entityForm("default"), 'class -> "form-control", '_label -> "Default value")
              <input type="hidden" name="newInlineEntityForm" name="@entityForm("meta").name" value='""' >

              <div class="form-actions">
                <button class="btn" type="submit" data-toggle="tooltip" data-placement="right" title="Create attribute">
                  <span class="moicon icon-plus"></span></button>
              </div>
            }
            <div class="formNewEntityNav" style="display: none;">
              <button id="createResourceBtn"
                      class="createMin ajaxLink cacheable resource-add-btn offed add-entity-toggle">Add attribute</button>
            </div>
            </div>


            </div>
          </div>
        }
      </div>
        }
      <div class="tableMinListControls processListControls">
        <!-- <a class="tableMinControlsLink ajaxLink tableMinLinkPeople"><span class="uicon-svg98"></span>Boards</a>-->
        <!--<a class="tableMinControlsLink teamSettingsLink tableMinLinkSettings" ng-click="modalShare(bprocess.id)"><span class="minicon-share"></span> {{ 'SHARE' | translate }}</a>
        <a class="tableMinControlsLink teamSettingsLink tableMinLinkSettings" href="/a#/launches?process={{ bprocess.id }}"><span class="uicon-svg372"></span>{{ 'STATIONS' | translate }}</a>-->
@if(ping) {
        @form(routes.DataController.delete_resource(cn.resource.id.getOrElse(0)), 'class -> "topRight") {
          <button type="submit" class="tableMinControlsLink teamSettingsLink tableMinLinkDelete" href="@cn.resource.id.getOrElse(0)">
            Delete
          </button>
        }
}
      </div>
    </li>
    </div>
  </div>


<div class="process-indicator-data-table">
<div class="process-indicator-data-table-title">Process</div>
<div class="process-indicator-data-table-expand-process">
  <span class="minicon minicon-line-graph"></span>
</div>

<div class="indicator-data-table-container">
<table ng-table-dynamic="tableParams with cols" 
     class="table table-with-indicators">
<tr ng-repeat="row in $data">
  <td ng-repeat="col in $columns">{{row[col.field]}}</td>
</tr>
</table>
</div>

</div>




  }

  </ul>
</div>
</div>



</div>
</div>




















</div>


<link rel="stylesheet" href="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.css">
<style>
.ng-table-pager {
    display: none !important;
}</style>

<script src="/assets/js/app2.js"></script>
<!--
<script src="http://localhost:8080/app2.bundle.js"></script>
-->

}
