@import play.api.i18n._

@import service.DemoUser
@import helper._

@(user: DemoUser)

@main(Messages("page.application"), user) {

<link rel="stylesheet" href="css/picaso.css">
<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
<link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css">
<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.css">

<link rel="stylesheet" href='@routes.Assets.at("stylesheets/process.css")'>


<div class="container app" ng-app="minorityApp">

<div ng-controller="UserInfoCtrl">
  <!--  <ul>
      <div>
        <li><a href="#/profile">{{ user.email }}</a></li>
        <li><a href="#" ng-click="logout();">>Logout</a></li> 
      </div>   
  </ul>--> 
</div>
<!--  <div>Minority App version:<span app-version></span></div></div>-->
<awesomeError></awesomeError>
<toaster-container></toaster-container>
<div id="main" class="container" data-ng-view>
</div>

  <script src="bower_components/angular/angular.js"></script>
  <!-- Libs -->
  <script src="bower_components/angular-pageslide-directive/src/angular-pageslide-directive.js"></script>

  <script src="bower_components/angular-animate/angular-animate.js" ></script>

  <script src="bower_components/angular-classy/angular-classy.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script type="text/javascript" src="bower_components/angular-moment/angular-moment.js"></script>
  <script type="text/javascript" src="bower_components/ngDialog/js/ngDialog.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>

  <script type="text/javascript" src="bower_components/ui-sortable/src/sortable.js"></script>
  <script type="text/javascript" src="bower_components/angular-underscore/angular-underscore.js"></script>
  <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
  <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.4/toaster.css" rel="stylesheet" />

  <script src="bower_components/angularjs-toaster/toaster.js"></script>
  <script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>
  <script src="bower_components/angular-errors-directive/angular-awesome-error.js"></script>
  <script src="js/ui-bootstrap-custom-0.10.0.js"></script>
  <script src="js/ui-bootstrap-custom-tpls-0.10.0.js"></script>
  <script src="js/angular-translate.js"></script>

  
  <script src="js/app.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/controllers/procPermController.js"></script>
  <script src="js/controllers/procController.js"></script>
  <script src="js/controllers/requestController.js"></script>
  <script src="js/controllers/loggerController.js"></script>
  <script src="js/controllers/stationController.js"></script>
  <script src="js/controllers/procElementController.js"></script>


  <script src="js/directives.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/cssParser.js"></script>

</div>
}
