@import service.DemoUser
@(user: DemoUser)(footerScripts: Html = Html(""))(implicit request: Option[RequestHeader] = None, env: Option[securesocial.core.RuntimeEnvironment[service.DemoUser]] = None)
@import securesocial.core.IdentityProvider

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play

<!-- website-footer -->

<footer class="applicationFooter">

  <div class="applicationFooterRow">
    <div class="applicationFooterColumns">
    <div class="applicationFooterColumn">
    </div>
    <!--<div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">@Messages("footer.platform")(LangDet.getLang(user) )</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/#features">@Messages("footer.howitworks")(LangDet.getLang(user) ) </a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/">@Messages("footer.product")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="min.ority.us/plans">@Messages("footer.pricing")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/contacts">@Messages("footer.help")(LangDet.getLang(user) )</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">@Messages("footer.company")(LangDet.getLang(user) )</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/blog">@Messages("footer.blog")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/team">@Messages("footer.team")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/jobs">@Messages("footer.jobs")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/contacts">@Messages("footer.contact")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/press">@Messages("footer.pressKit")(LangDet.getLang(user) )</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">@Messages("footer.company")(LangDet.getLang(user) )</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/blog">@Messages("footer.blog")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/team">@Messages("footer.team")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/jobs">@Messages("footer.jobs")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/contacts">@Messages("footer.contact")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/press">@Messages("footer.pressKit")(LangDet.getLang(user) )</a></li>
      </ul>
    </div></div>-->
  </div>

  <div class="applicationFooterRow">
    <p class="applicationFooterCopyright"> 2014—2015 &copy; Empire InCloud Inc. @Messages("footer.rights")(LangDet.getLang(user) ). <span class="applicationFooterCopyrightLinks"><a href="http://minorityapp.com/tos" class="applicationFooterCopyrightLink">@Messages("footer.terms")(LangDet.getLang(user) )</a> <a href="https://www.iubenda.com/privacy-policy/" class="applicationFooterCopyrightLink">@Messages("footer.privacy")(LangDet.getLang(user) )</a></span></p>
  </div>
</footer>

<script src="@routes.Assets.versioned("javascripts/bundle.js")"></script>
<script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
@footerScripts

<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-13037685-4', 'auto');ga('send', 'pageview');</script>
<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter30361447 = new Ya.Metrika({ id:30361447, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/30361447" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /website-footer -->
