@import service.DemoUser
@(user: DemoUser)(implicit request: Option[RequestHeader] = None, env: Option[securesocial.core.RuntimeEnvironment[service.DemoUser]] = None)
@import securesocial.core.IdentityProvider

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play

<!-- website-footer -->

<footer class="applicationFooter">

  <div class="applicationFooterRow">
    <div class="applicationFooterColumns">
    <div class="applicationFooterColumn">
    </div>
    <!--<div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">@Messages("footer.platform")(LangDet.getLang(user) )</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/#features">@Messages("footer.howitworks")(LangDet.getLang(user) ) </a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/">@Messages("footer.product")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="min.ority.us/plans">@Messages("footer.pricing")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/contacts">@Messages("footer.help")(LangDet.getLang(user) )</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">@Messages("footer.company")(LangDet.getLang(user) )</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/blog">@Messages("footer.blog")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/team">@Messages("footer.team")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/jobs">@Messages("footer.jobs")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/contacts">@Messages("footer.contact")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/press">@Messages("footer.pressKit")(LangDet.getLang(user) )</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">@Messages("footer.company")(LangDet.getLang(user) )</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/blog">@Messages("footer.blog")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/team">@Messages("footer.team")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/jobs">@Messages("footer.jobs")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/contacts">@Messages("footer.contact")(LangDet.getLang(user) )</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/press">@Messages("footer.pressKit")(LangDet.getLang(user) )</a></li>
      </ul>
    </div></div>-->
  </div>

  <div class="applicationFooterRow">
    <p class="applicationFooterCopyright"> 2014 &copy; Empire InCloud Inc. @Messages("footer.rights")(LangDet.getLang(user) ). <span class="applicationFooterCopyrightLinks"><a href="http://minorityapp.com/tos" class="applicationFooterCopyrightLink">@Messages("footer.terms")(LangDet.getLang(user) )</a> <a href="https://www.iubenda.com/privacy-policy/323220" class="applicationFooterCopyrightLink">@Messages("footer.privacy")(LangDet.getLang(user) )</a></span></p>
  </div>
</footer>


<!-- /website-footer -->
