@(user: Option[securesocial.core.BasicProfile] = None)(implicit request: Option[RequestHeader] = None, env: Option[securesocial.core.RuntimeEnvironment[service.DemoUser]] = None)
@import securesocial.core.IdentityProvider

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play

<header class="fullSize"><div class="apiaryMenu"><div class="wholeMenu menuRow">

  <div role="banner" class="apiaryLogo menuCell"><a class="absFg" title="Minority" href="http://minorityapp.com/"><span class="visuallyhidden">Minority</span></a></div>

  


      
<nav class="apiMenu menuCell menuTeam">
  <ul class="apiMenuList apiMenuTexts">
    <li class="apiMenuItem">
      <a id="teamMembersLink" class="vIcoIn menuTeamLink" href="#">
        <span class="vIco vPeople vDefaultState"></span>
        People      </a>
    </li>
    <li class="apiMenuItem">
      <a id="teamApisLink" class="vIcoIn menuTeamLink" href="@routes.BusinessServiceController.index()">
        <span class="vIco vAPIs vDefaultState"></span>
        Services      </a>
    </li>
    <li class="apiMenuItem">
      <a id="teamSettingsLink" class="vIcoIn menuTeamLink" href="@routes.Application.index()">
        <span class="vIco vSliders vContrastState"></span>
        Settings</a>
    </li>
  </ul>
</nav>
  
  <div class="menuCell menuHelp switcherWrap">
    <span class="helpLinks switcherToggle hint vIcoIn" data-hint="Help"><span class="vIco vHelp vDefaultState"><span class="visuallyhidden">Help</span></span></span>
    <span class="helpPopup switcherLayer visuallyhidden">
      <a class="hideableHelpLink vIcoIn" target="_blank" href="#"><span class="helpText"><span class="vIco vStackOverflow vDimmedState"></span>Help by Phone</span></a>
      <a class="hideableHelpLink vIcoIn" target="_blank" href="#"><span class="helpText"><span class="vIco vBook vDimmedState"></span> Knowledge Base</span></a>
      <a class="vIcoIn" id="Intercom" href="#" title="Contact Minority Support"><span class="helpText"><span class="vIco vSpeech vDimmedState"></span> Contact Minority Support</span></a>
    </span>
  </div>

  <div class="menuCell flexibleSpace"></div>
    <div class="secondaryNav switcherWrap menuCell">
    <div class="switcherToggle">
@if(user.isDefined) {
        @{user.get.userId}                                  
}
        <span class="gravatar"><img src="https://secure.gravatar.com/avatar/0?s=32&amp;d=https%3A%2F%2Fapiary.a.ssl.fastly.net%2Fassets%2Fimages%2Fdefault_team_avatar-5fc886aaf5739d37.png" height="32" width="32" />
</span>
                          </div>
      <nav class="switcherLayer secondaryNavLayer visuallyhidden">
        <ul>
                      <li class="secondaryNavItem"><a id="accountLink" class="accountLink vIcoIn" href="https://login.apiary.io/account">
                                                <span class="smallGravatar"><img src="https://avatars.githubusercontent.com/u/485466?s=30&amp;d=https%3A%2F%2Fapiary.a.ssl.fastly.net%2Fassets%2Fimages%2Fdefault_user_avatar-8f601fa59d98081b.png" height="30" width="30" />
</span>
                                Back to My Account
                          </a></li>

            
                    <li class="secondaryNavItem"><a class="changelogLink vIcoIn" href="http://apiary.io/changelog"><i class="vIco vRadio vDimmedState"></i> What's new?</a></li>
          <li class="secondaryNavItem"><form class="logoutForm" action="https://login.apiary.io/api/logout" method="POST"><button class="logoutBtn vIcoIn" type="submit"><i class="vIco vLogout vDimmedState"></i> Sign Out</button></form></li>
        </ul>
      </nav>
    </div>

</div>
</header>
<script src="https://apiary.a.ssl.fastly.net/assets/js/libs/md5-7f3b41b3a2a28475.js"></script>

