@import service.DemoUser
@import models.DAO.resources._

@(user: DemoUser, perms: List[ActPermission], acts:List[ActPermission])(implicit request: RequestHeader, env: securesocial.core.RuntimeEnvironment[service.DemoUser])
@import securesocial.core.IdentityProvider

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play

@main("Profile", user) {

<div class="teamApisListWrap"><div class="panelLike organisationsGridLike">

<div class="teamSettings">
<div class="grids">
  <div class="page-header">
      <h2><img src="@user.main.avatarUrl.getOrElse("")" alt="@user.main.firstName.getOrElse("")" width="40px" height="40px"/> Welcome @user.main.firstName.getOrElse("")</h2>
  </div>

<div class="g1of4">
  <div class="teamChangeBox">
    <h2>User Details ds</h2>

    <ul>
        <li>User Id: @user.main.userId</li>
        <li>Fist name: @user.main.firstName.getOrElse("")</li>
        <li>Last name: @user.main.lastName.</li>
        <li>Full name: @user.main.fullName.getOrElse("")</li>
        <li>Logged in from: @user.main.providerId</li>
        <li>Email: @user.main.email.map { email => @email }.getOrElse("Not Available")</li>
        <li>Authentication method: @user.main.authMethod</li>
    </ul>

    @user.main.oAuth1Info.map { info =>
        <h2>OAuth1 Info</h2>

        <ul>
            <li>Token: @info.token</li>
            <li>Secret: @info.secret</li>
        </ul>
    }

    @user.main.oAuth2Info.map { info =>
        <h2>OAuth2 Info</h2>

        <ul>
            <li>Access Token: @info.accessToken</li>
            @info.tokenType.map { t => <li>Token Type: @t</li> }
            @info.expiresIn.map { exp => <li>Expires in: @exp seconds</li>}
            @info.refreshToken.map { rt => <li>Refresh Token: @rt</li>}
        </ul>
    }
    <hr>
    @user.main.passwordInfo.map { info =>
        <p class="grids flatButtonLine">
          <a class="flatButton" href="@securesocial.controllers.routes.PasswordChange.page.absoluteURL(IdentityProvider.sslEnabled)">Change Password</a>
    </p>
    }

    <span>Link this account to

    @env.providers.values.map { provider =>
        @if( provider.authMethod == OAuth1 || provider.authMethod == OAuth2 ) {
            @defining( "images/providers/%s.png".format(provider.id) ) { imageUrl =>
            <a href="@env.routes.authenticationUrl(provider.id, Some("/link-result"))"> <img src="securesocial.controllers.routes.Assets.at(imageUrl)"/></a>
            }
        }
    }
    </span>
       <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
</div></div>


<div class="g3of4">




  <div class="teamChangeBox teamPaddedBox">
  <h2 class="teamBoxHeading">Business</h2>
    <div class="teamSettingsCheckbox">
    <h3 class="teamSettingsHeading">Business</h3>
      <a href="#">new business</a>
    <p class="teamSettingsAbout">All newly created Team APIs are set to have Private Documentation and Private Traffic.</p>
  </div>
  </div>

  <div class="teamChangeBox teamPaddedBox">
  <h2 class="teamBoxHeading">Services</h2>
    <div class="teamSettingsCheckbox">
    <h3 class="teamSettingsHeading">Services</h3>
    <a href="#">new services</a>
    <p class="teamSettingsAbout">All newly created Team APIs are set to have Private Documentation and Private Traffic.</p>
  </div>
  </div>
  <div class="teamChangeBox teamPaddedBox">
  <h2 class="teamBoxHeading">Processes</h2>
    <div class="teamSettingsCheckbox">
    <h3 class="teamSettingsHeading">Processes</h3>
    <a href="#">new services</a>
    <p class="teamSettingsAbout">link to angular process sorted by that service.</p>
  </div>
  </div>





</div>
  </div>
<div class="perms">
<h3>Permissions:</h3>
@perms.map { entity =>

                       <a href="#">@entity.id</a>
                        @entity.front_elem_id 
                        @entity.space_elem_id
                
    }
</div>
<div class="acts">
<h3>Acts: </h3>
@acts.map { entity =>

                       <a href="#">@entity.id</a>
                        @entity.space_elem_id 
                        @entity.front_elem_id
    }
</div>


   </div> 
</div>

}