@import service.DemoUser

@(title: String, user: DemoUser, footerScripts: Html = Html(""))(content: Html)

<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Minority</title>
  <meta name="description" content="Minority Application. Process defines result. Application for modeling, executing and optimize any processes.">
  <meta name="author" content="Empia Corp.">

  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <link rel="stylesheet" href='@routes.Assets.versioned("css/font-awesome.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("css/new.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("css/head-foot.css")' media='screen, presentation' />
  <link rel="stylesheet" href='@routes.Assets.versioned("css/multi.css")'>
  <link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")"/>
  <link rel="stylesheet" href="@routes.Assets.versioned("css/auth/fonts.css")"/>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("favicon.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("css/bootstrap.css")">
  <link rel="stylesheet" href="@routes.Assets.versioned("css/selectize.css")"/>
  <link rel="stylesheet" href="@routes.Assets.versioned("css/selectize.bootstrap3.css")"/>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <style>
.overlay_mobile {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 99999;
    font-size: 52px;
    text-align: center;
    padding-top: 37px;
    display: none;
    padding: 10% 8% 16% 8%;
}
.visible_overlay.overlay_mobile {
    display: block;
}
</style>

</head>

<body class="themeDark themeGrad website">
<div class="overlay_mobile">Please use desktop or tablet for best app expirience.<a href="#">Skip</a>
</div>


  <div id="container" class="container-global">
        @header(user)

        @content

        @footer(user)(footerScripts)
 </body>
</html>
