@import play.api.i18n._

@import service.DemoUser
@import helper._

@(user: DemoUser)


@main(Messages("page.application"), user) {
<style>
.applicationFooter {
  display: none; 
}
</style>
<div class="pro-layout container-fluid">
<div class="pro-section">
	<h1>Professional edition</h1>
<div class="row">
                <div class="col-md-3 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Easily Customised</h5>
                        <p>Easily customise Sedna to suit your start up, portfolio or product. Take advantage of the layered Sketch file and bring your product to life.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Modern Design</h5>
                        <p>Designed with modern trends and techniques in mind, Sedna will help your product stand out in an already saturated market.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="" class="icon"></span>
                    </div>
                    <div class="intro-content last">
                        <h5>Responsive Development</h5>
                        <p>Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
                    </div>
                </div>
            </div>
<div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12 leftcol">
                    <h5>EXCLUSIVE TO CODROPS</h5>
                    <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 rightcol">
                    <h5>SPREADING PIXELS AROUND THE WORLD</h5>
                    <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>          	
</div>
<div class="ea-section">
    <h1>Early access</h1>
<div class="row">
                <div class="col-md-3 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Easily Customised</h5>
                        <p>Easily customise Sedna to suit your start up, portfolio or product. Take advantage of the layered Sketch file and bring your product to life.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Modern Design</h5>
                        <p>Designed with modern trends and techniques in mind, Sedna will help your product stand out in an already saturated market.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="" class="icon"></span>
                    </div>
                    <div class="intro-content last">
                        <h5>Responsive Development</h5>
                        <p>Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
                    </div>
                </div>
            </div>
<section class="hero-strip section-padding">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2>
                Customise Sedna with the included <span class="sketch">Sketch <i class="version">3</i></span> file
                </h2>
                <p>Change/swap/edit every aspect of Sedna before you hit development with the included Sketch file.</p>
                <a href="#" class="btn btn-ghost btn-accent btn-large">Require early access</a>
                <div class="logo-placeholder floating-logo"><img src="img/sketch-logo.png" alt="Sketch Logo"></div>
            </div>
        </div>
    </section>       
</div>
</div>

} 
