@(form: Form[(String)])(implicit request: RequestHeader)
@import helper.twitterBootstrap._
@main("Signup") {
    <h1>Signup</h1>
    @form.globalError.map { error =>
      <p class="error">@error.message</p>
    }
    @helper.form(routes.Authentication.sendSignupEmail) {
      @helper.CSRF.formField
      @helper.inputText(form("email"), 'type -> "email", 'placeholder -> "Email", '_label -> "", '_showConstraints -> false)
      <p>
        <button type="submit" id="send-email-button">Send email</button>
      </p>
    }
    <p><a href="/login">Login</a></p>
}
