@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader, lang: Lang, env:securesocial.core.RuntimeEnvironment[_])

@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">

  <title>Minority — Sign in</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Minority">

  <!-- Styles -->
  <link rel="stylesheet" href="https://apiary.a.ssl.fastly.net/assets/styles/fonts-5a302dfcbc022777.css">
  <link rel="stylesheet" href="https://apiary.a.ssl.fastly.net/assets/styles/modules/footer/footer-454b8274181a6f12.css">
  <link rel="stylesheet" href="https://apiary.a.ssl.fastly.net/assets/styles/modules/website-d59e710cba93c461.css">
  <link rel="stylesheet" href="https://apiary.a.ssl.fastly.net/assets/css/loginflow-586672b39ced5cb4.css" />
  <!-- /Styles -->

  <link rel="shortcut icon" href="https://apiary.a.ssl.fastly.net/assets/icons/favicon-aa8fc5808796304b.ico">
  <link rel="apple-touch-icon-precomposed" href="https://apiary.a.ssl.fastly.net/assets/icons/apple-touch-icon-precomposed-16cb9301e5cd0912.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://apiary.a.ssl.fastly.net/assets/icons/apple-touch-icon-72x72-precomposed-88b45e069ad376bd.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://apiary.a.ssl.fastly.net/assets/icons/apple-touch-icon-114x114-precomposed-166416e5d92f4c45.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://apiary.a.ssl.fastly.net/assets/icons/apple-touch-icon-144x144-precomposed-54504235b83a48b2.png">

</head>
<body class="website loginFlow">

<!-- website-header -->
  <header id="websiteHeader"><div class="positioning">
    <a class="headerLogotypeLink" href="http://minorityapp.com/"><h1 class="visuallyhidden" title="Minority">Minority</h1><div class="headerLogotype"></div></a>
    <a class="to_nav" href="#navigation"><span class="visuallyhidden">Go to Navigation</span></a>
  </div></header>
<!-- /website-header -->

<div class="loginFlowPage">


          <div class="loginPage loginPage__login loginPage__active">
      <div class="loginView">

  <h1 class="loginHeading">Sign In</h1>

  <p class="loginText loginTextAfterOr">
    <a class="signWithService signWithGh block" tabindex="1" href="https://github.com/login/oauth/authorize?client_id=f739c33cbd5c32296a43&#38;redirect_uri=https%3A%2F%2Flogin.apiary.io%2Fgithub%2Flogin">Sign in with GitHub</a>
    <span class="visuallyhidden">or</span>
    <a class="signWithService signWithTw block" tabindex="2" href="https://login.apiary.io/twitter/send_to_login">Sign in with Twitter</a>
  </p>

  <form action="https://login.apiary.io/api/login" method="post" accept-charset="utf-8" class="loginInputs">

    <div>
      <input placeholder="Email" class="textField block" name="username" id="l_username" tabindex="3" type="email" value="" autofocus="autofocus" />
      <input placeholder="Password" class="textField block" name="password" id="l_password" tabindex="4" type="password" value="" />
    </div>

    <p class="loginText"><a tabindex="5" class="forgottenPass" href="/password-recovery?resumeKey=1405715440">Forgotten Password?</a></p>

    <div>
                                                        <input type="hidden" name="resumeKey" value="1405715440" />          </div>

    <p class="loginText">
      <button type="submit" id="l_submit" class="loginButton block actionOk" tabindex="6">Sign in</button>
    </p>

  </form>

  <p class="loginText">Need an account? <a tabindex="7" class="switchView" href="/register?resumeKey=1405715440">Sign up now</a>.</p>

</div>
    </div>
      <div class="loginPage loginPage__register">
      <div class="loginView">

  <h1 class="loginHeading">Sign Up</h1>

  <p class="loginText loginTextAfterOr">
    @defining( env.providers.values.filter( _.id != UsernamePassword) ) { externalProviders =>

        @if( externalProviders.size > 0 ) {
            <div class="clearfix">
                <p>@Messages("securesocial.login.instructions")</p>
                <p>
                    @for(p <- externalProviders) {
                        @views.html.custom.provider(p.id)
                    }
                </p>
            </div>
        }

        @env.providers.get(UsernamePassword).map { up =>
            <div class="clearfix">
              fsafafasfa
                @if( externalProviders.size > 0 ) {
                    <p>@Messages("securesocial.login.useEmailAndPassword")</p>
                } else {
                    <p>@Messages("securesocial.login.useEmailAndPasswordOnly")</p>
                }

               @views.html.custom.provider("userpass", Some(loginForm))
            </div>
        }
    }
    
    <a class="signWithService signWithGh block" href="https://github.com/login/oauth/authorize?client_id=f739c33cbd5c32296a43&#38;redirect_uri=https%3A%2F%2Flogin.apiary.io%2Fgithub%2Flogin" tabindex="8">Continue with GitHub</a>
    <span class="visuallyhidden">or</span>
    <a class="signWithService signWithTw block" href="https://login.apiary.io/twitter/send_to_login" tabindex="9">Continue with Twitter</a>
  </p>

@errorMsg
@errorMsg.map { error => 
  <b>error</b>
}

  <form action="/api/register" method="post" accept-charset="utf-8" class="loginInputs">
    <div>
      <input placeholder="Name" class="textField block" type="text" name="name" value="" id="r_name" tabindex="10" />
      <input required placeholder="Email" class="textField block" type="email" name="email" value="" id="r_email" tabindex="11" />
      <input required placeholder="Password" class="textField block" type="password" name="pass" value="" id="r_pass" tabindex="12" />
    </div>

    <div>
                                                        <input type="hidden" name="resumeKey" value="1405715440" />          </div>

    <p class="loginText">
      <button type="submit" id="r_submit" class="loginButton block actionOk" tabindex="13">Sign up for Minority</button>
    </p>

  </form>

  <p class="loginText">Already have an account? <a class="switchView" tabindex="14" href="/login?resumeKey=1405715440">Sign in</a>.</p>

  <p class="loginText smaller">By clicking "Sign up for Minority", you agree to our <a tabindex="15" href="http://apiary.io/tos">terms of service</a> and <a tabindex="15" href="https://www.iubenda.com/privacy-policy/323220">privacy policy</a>.</p>

</div>
    </div>
  

</div>

<script src="https://apiary.a.ssl.fastly.net/assets/components/jquery-d18996df89e346b5.js"></script>


<!-- website-navigation -->
  <div id="navigation">
    <nav class="websiteNav positioning">
      <ul class="clearAfter websiteNavMenu">
        <li class="websiteNavItem"><a class="websiteNavLink" href="http://apiary.io/how-it-works">How It Works</a></li>
        <li class="websiteNavItem"><a class="websiteNavLink" href="http://apiary.io/products">Product</a></li>
        <li class="websiteNavItem"><a class="websiteNavLink" href="http://apiary.io/blueprint">API Blueprint</a></li>
        <li class="websiteNavItem"><a class="websiteNavLink" href="http://blog.apiary.io/">Blog</a></li>
        <li class="websiteNavItem"><a class="websiteNavLink" href="http://apiary.io/company">Company</a></li>
                  <li class="websiteNavItem"><a class="websiteNavLink" href="https://login.apiary.io/login">Sign In</a></li>
              </ul>
              <a class="websiteNavLink websiteNavLinkHighlighted" href="https://login.apiary.io/register" class="signIn">Sign Up</a>
            <a class="websiteNavLink backToTop" href="#~"><span class="visuallyhidden">Back to top</span></a>
    </nav>
  </div>
<!-- /website-navigation -->

<!-- website-footer -->

<footer class="applicationFooter">

  <div class="applicationFooterRow">
    <div class="applicationFooterColumns">
    <div class="applicationFooterColumn">
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Platform</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="http://apiary.io/how-it-works">How It Works</a></li>
        <li><a class="applicationFooterListLink" href="http://apiary.io/products ">Product</a></li>
        <li><a class="applicationFooterListLink" href="http://apiary.io/#pricing">Pricing</a></li>
        <li><a class="applicationFooterListLink" href="http://support.apiary.io ">Help</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Company</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="http://blog.apiary.io/">Blog</a></li>
        <li><a class="applicationFooterListLink" href="http://apiary.io/company#team">Team</a></li>
        <li><a class="applicationFooterListLink" href="http://apiary.io/jobs">Jobs</a></li>
        <li><a class="applicationFooterListLink" href="http://apiary.io/company#contact">Contact</a></li>
        <li><a class="applicationFooterListLink" href="https://apiary.a.ssl.fastly.net/assets/files/apiary-press-kit-e812f68e6b14467e.zip">Press Kit</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Open Source</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="http://apiblueprint.org">API Blueprint</a></li>
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio/snowcrash">Snow Crash</a></li>
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio/gavel">Gavel</a></li>
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio/dredd">Dredd</a></li>
      </ul>
    </div></div>
  </div>

  <div class="applicationFooterRow">
    <p class="applicationFooterCopyright">&copy; Empire InCloud Inc. All rights reserved. <span class="applicationFooterCopyrightLinks">• <a href="http://apiary.io/tos" class="applicationFooterCopyrightLink">Terms</a> • <a href="https://www.iubenda.com/privacy-policy/323220" class="applicationFooterCopyrightLink">Privacy</a></span></p>
  </div>
</footer>
<!-- /website-footer -->

<script src="https://apiary.a.ssl.fastly.net/assets/js/website-scroll-ccf307156889204e.js"></script>
<script>
  websiteScroll();
  document.documentElement.className += ' js';
</script>
<script>
$(function domReadyLoginFlow () {
  $('.loginView a.switchView').on('click', function clickViewSwitch(e) {
    var nextPage;
    e.preventDefault();
    e = $(this).closest('.loginPage');
    if (e.hasClass('loginPage__active')) {
      e.removeClass('loginPage__active');
      nextPage = e.next();
      if (!nextPage || !nextPage.length) {
        nextPage = e.prev();
      }
      if (!nextPage || !nextPage.length) {
        return false;
      }
      nextPage.addClass('loginPage__active')
        .find('input:first-of-type').trigger('focus');
    }
    return false;
  });

  var suggestedEmail = null, $suggestionTip = null, $emailInputs;

  $emailInputs = $('.loginView form').on('click', '.suggestionTip', function (e) {
    var a;
    if (a = suggestedEmail) {
      e = $(this);
      e.prev().val(e.find('strong').text());
      $suggestionTip.el.addClass('notUsed');
      $suggestionTip.el.prev().removeClass('suggestionShowed');
    }
  }).on('blur', 'input[type=email]', function (e) {
    e = $(e.target);
    e.mailcheck({
      suggested: function ($inp, suggestion) {
        if ($suggestionTip && suggestion && suggestion.full) {
          $inp.next().find('strong').text(suggestion.full);
          $inp.addClass('suggestionShowed').next().removeClass('notUsed');
          suggestedEmail = suggestion;
        }
      },
      empty: function ($inp) {
        $suggestionTip.el.addClass('notUsed');
        $suggestionTip.el.prev().removeClass('suggestionShowed');
        suggestedEmail = null;
      }
    });
  }).find('input[type=email]');

  if ($emailInputs.length) {
    $suggestionTip = {
      el: $('<span></span>').addClass('suggestionTip notUsed').append('<span>Did you mean</span> <strong>at</strong><span>?</span>').insertAfter($emailInputs)
    };
    $suggestionTip.addr = $suggestionTip.el.find('strong');
  }


  $('.loginView form').on('submit', function submittedForm (e) {
    var $requireds;
    e.preventDefault();
    e = $(this);
    $requireds = e.find('input[required]').filter(function(){return this.value==="";});
    if ($requireds.length) {
      $requireds.get(0).focus();
      return false;
    }
    e.find('button[type="submit"],input[type="submit"]').attr('disabled', 'disabled').text(function updateTextOfSubmit(ind, text) {
      return text + '...';
    });
    e.off();
    setTimeout(function submitTheForm () {
      e.trigger('submit');
    }, 200);
  });

  var el = $('input.onchangeGenerateSubdomain');
  if (el && el.length) {
    el.on('change keyup', function changeInputVal (e) {
      if (this.value && this.value.trim().length > 0) {
        $('#' + $(this).data('onchange')).text(this.value.trim().replace(/[^a-z0-9]/gi, '').toLowerCase());
      }
    }).trigger('change');
  }
});
</script>
</body>
</html>


