@(providerId: String, loginForm: Option[Form[(String, String)]] = None)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])

@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.Logger
@import helper._
@import play.api.Play

@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@env.providers.get(providerId).map { provider =>
            @if( provider.authMethod == OAuth1 || provider.authMethod == OAuth2 ) {
                @defining( "images/providers/%s.png".format(provider.id) ) { imageUrl =>
                    @if( provider.id == "google" || provider.id == "facebook" ) {
                    <a class="signWithService block @{"signWith" + provider.id.capitalize}" href="@env.routes.authenticationUrl(provider.id)" tabindex="8">Continue with @{provider.id.capitalize}</a><span class="visuallyhidden">or</span>
                    
                    }
                }
            }

            @if( provider.authMethod == UserPassword ) {
                <form action = "@env.routes.authenticationUrl("userpass")"
                      class="form-horizontal" autocomplete="off" method="POST" class="loginInputs">
                    <!-- <fieldset>-->
                        @if( UsernamePasswordProvider.withUserNameSupport ) {
                            @helper.inputText(
                                loginForm.get("username"),
                                '_label -> Messages("securesocial.signup.username"),
                                'class -> "textField block"
                            )
                        } else {
                            @helper.inputText(
                                loginForm.get("username"),
                                '_label -> Messages("securesocial.signup.email1"),
                                'class -> "textField block"
                            )
                        }

                        @helper.inputPassword(
                            loginForm.get("password"),
                            '_label -> Messages("securesocial.signup.password1"),
                            'class -> "textField block"
                        )

                        <div class="form-actions">
                          <p class="loginText">
                            <button type="submit" id="l_submit" class="loginButton block actionOk" tabindex="6">@Messages("securesocial.login.title")</button></p>
                        </div>
                        <div class="clearfix">
                            <p><a class="loginText"><a tabindex="5" class="forgottenPass" href="@env.routes.startResetPasswordUrl">@Messages("securesocial.login.forgotPassword") </a></p>
                        </div>
                        @if(Play.current.configuration.getBoolean("securesocial.registrationEnabled").getOrElse(true) ){
                             <div class="clearfix">
                                <p class="loginText">@Messages("custom.needAccount") <a tabindex="7" class="switchView" href="@env.routes.handleStartSignUpUrl">@Messages("custom.signUp") now</a>.</p>

                                 <!-- <p>@Messages("securesocial.login.signUp") <a href="@env.routes.handleStartSignUpUrl">@Messages("securesocial.login.here")</a></p>-->
                              </div>
                            }
                    <!-- </fieldset>-->
                </form>
            }
}.getOrElse {
    @*****************************************
     * Todo: throw a runtime exception? this might need improvement
     *****************************************@
    @Logger.error("[securesocial] unknown provider '%s'. Can't render it.".format(providerId))
    { throw new RuntimeException("Unknown provider '%s') }
}
