
@(startForm:Form[String])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword


@views.html.custom.main("Sign Up") {
<div class="loginFlowPage">
          <div class="loginPage loginPage__login loginPage__active">
      <div class="loginView">

  <!--<h1 class="loginHeading">Sign up</h1>-->
    <div class="page-header">
        <h1>@Messages("securesocial.signup.title")</h1>
    </div>

    @request.flash.get("error").map { msg =>
    <div class="alert alert-error">
        @Messages(msg)
    </div>
    }
    <pre><!--@env.routes.handleStartSignUpUrl--></pre>
    <form action="@env.routes.handleStartSignUpUrl"
          class="loginInputs"
          autocomplete="off" method="post"
    > @CSRF.formField
        <fieldset>
            @helper.inputText(
            startForm("email"),
            '_label -> Messages("securesocial.signup.email1"),
            'class -> "input-xlarge textField block"
            )

    <p class="loginText">
                <button type="submit" id="l_submit" class="loginButton block actionOk">@Messages("securesocial.signup.createAccount")</button>
                
    </p>

        </fieldset>
    </form>
  <p class="loginText">Have account? <a tabindex="7" class="switchView" href="@env.routes.loginPageUrl">@Messages("custom.logIn")</a>.</p>

</div>
    </div>


}
