<hr>
<hr>
<hr>


<div ng-include src="'partials/tree.html'"></div>

<div class="perms" ng-repeat="perm in perms">
<pre>
  <p>{{ perm.uid }}</p>
  <p>{{ perm.front_elem_id }} {{ perm.space_elem_id }}</p>
</pre>
<a ng-click="delPerm(perm)" class="btn btn-danger btn-big">Delete</a>

</div>
<div class="new">
 <div class="params">
          <div class="param">
              <div ng-repeat="perm in newperms" class="controls inputRequests">
                   <div class="request">
                     <select ng-model="perm.uid" class="forUID" ng-options="employee.uid as employee.uid for employee in employees" required></select><br>
                     <select ng-model="perm.front_elem_id" class="forFrontElem" ng-options="elem.id as elem.title for elem in bpelems" required>
                      <option value="" selected></option>
                     </select><br>
                     <select ng-model="perm.space_elem_id" class="forSpaceElem"ng-options="elem.id as elem.title for elem in spaceelems" required>
                      <option value="" selected></option>
                     </select><br>
                     <a ng-click="createPerm(perm)" class="btn btn-big btn-success">Add</a>
                </div></div>
          </div></div>
        
          <button ng-click="addPerm()">Add another one permission</button>
          
          
          

</div>
