<form novalidate="novalidate" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title:</label>
    <div class="controls">
      <input type="text" id="inputTitle" ng-model="bpelem.title"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputBusinessId">Description:</label>
    <div class="controls">
      <input type="text" id="inputBusinessId" ng-model="bpelem.desc"/>
    </div>
  </div>

      <input type="hidden" name="value" ng-model="bpelem.business" value="1">
      <input type="hidden" name="value" ng-model="bpelem.bprocess" value="{{ BPid }}">
      <input type="hidden" id="inputBusinessId" ng-model="bpelem.b_type"/>
      <input type="hidden" id="inputBusinessId" ng-model="bpelem.type_title"/>
      <input type="hidden" id="inputBusinessId" ng-model="bpelem.order"/>
      <input type="hidden" id="inputBusinessId" ng-model="bpelem.space_own"/>

  <!--
    <div class="control-group">
    <label class="control-label" for="inputBusinessId">Composite:</label>
    <div class="controls">
      <input type="text" id="input_a_string" ng-model="bpelem.comps[0].a_string"/>
      <input type="text" id="input_b_string" ng-model="bpelem.comps[0].b_string"/>
      <input type="number" id="input_a_int" ng-model="bpelem.comps[0].a_int"/>
      <input type="number" id="input_b_int" ng-model="bpelem.comps[0].b_int"/>
      <input type="checkbox" id="input_a_bool" ng-model="bpelem.comps[0].a_bool"/>
      <input type="checkbox" id="input_b_bool" ng-model="bpelem.comps[0].b_bool"/>
    </div>
  </div>
-->

  <div class="control-group">
    <div class="controls">
      <!--
      <a ng-click="templateElem('container', bpelem)" class="btn btn-small btn-primary">Container <span tooltip="Some container" tooltip-placement="bottom" class="glyphicon glyphicon-info-sign"></span></a>
      <a ng-click="templateElem('confirm', bpelem)" class="btn btn-small btn-primary">Confirm <span tooltip="Some confirm" tooltip-placement="bottom" class="glyphicon glyphicon-info-sign"></span></a>
      -->
      <a ng-click="updateElem(bpelem)" class="btn btn-small btn-primary">Update</a>
      <a ng-click="deleteElem(bpelem)" class="btn btn-small btn-primary btn-danger">Delete</a>

    </div>
  </div>
</form>
