<link rel="stylesheet" type="text/css" href="css/default.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />





<script>/*
var ModalEffects = (function() {

  function init() {

    var overlay = document.querySelector( '.md-overlay' );

    [].slice.call( document.querySelectorAll( '.md-trigger' ) ).forEach( function( el, i ) {

      var modal = document.querySelector( '#' + el.getAttribute( 'data-modal' ) ),
        close = modal.querySelector( '.md-close' );

      function removeModal( hasPerspective ) {
        classie.remove( modal, 'md-show' );

        if( hasPerspective ) {
          classie.remove( document.documentElement, 'md-perspective' );
        }
      }

      function removeModalHandler() {
        removeModal( classie.has( el, 'md-setperspective' ) ); 
      }

      el.addEventListener( 'click', function( ev ) {
        classie.add( modal, 'md-show' );
        overlay.removeEventListener( 'click', removeModalHandler );
        overlay.addEventListener( 'click', removeModalHandler );

        if( classie.has( el, 'md-setperspective' ) ) {
          setTimeout( function() {
            classie.add( document.documentElement, 'md-perspective' );
          }, 25 );
        }
      });

      close.addEventListener( 'click', function( ev ) {
        ev.stopPropagation();
        removeModalHandler();
      });

    } );

  }

  init();

})();*/
</script>
  <!--
    <div class="md-modal md-effect-2" id="modal-2">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-3" id="modal-3">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-4" id="modal-4">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-5" id="modal-5">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-6" id="modal-6">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-7" id="modal-7">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-8" id="modal-8">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-9" id="modal-9">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-10" id="modal-10">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-11" id="modal-11">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-12" id="modal-12">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-13" id="modal-13">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-14" id="modal-14">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-15" id="modal-15">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-16" id="modal-16">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-17" id="modal-17">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-18" id="modal-18">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-19" id="modal-19">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-20" id="modal-20">
      <div class="md-content">
        <h3>Modal Dialog</h3>
        <div>
          <p>This is a modal window. You can do the following things with it:</p>
          <ul>
            <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
            <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
          </ul>
          <button class="md-close">Close me!</button>
        </div>
      </div>
    </div>-->
    <div class="container">
      <!--
      <div class="main clearfix">
        <div class="column">
          <button class="md-trigger" data-modal="modal-2">Slide in (right)</button>
          <button class="md-trigger" data-modal="modal-3">Slide in (bottom)</button>
          <button class="md-trigger" data-modal="modal-4">Newspaper</button>
          <button class="md-trigger" data-modal="modal-5">Fall</button>
          <button class="md-trigger" data-modal="modal-6">Side Fall</button>
          <button class="md-trigger" data-modal="modal-7">Sticky Up</button>
          <button class="md-trigger" data-modal="modal-8">3D Flip (horizontal)</button>
          <button class="md-trigger" data-modal="modal-9">3D Flip (vertical)</button>
          <button class="md-trigger" data-modal="modal-10">3D Sign</button>
          <button class="md-trigger" data-modal="modal-11">Super Scaled</button>
          <button class="md-trigger" data-modal="modal-12">Just Me</button>
          <button class="md-trigger" data-modal="modal-13">3D Slit</button>
          <button class="md-trigger" data-modal="modal-14">3D Rotate Bottom</button>
          <button class="md-trigger" data-modal="modal-15">3D Rotate In Left</button>
          <button class="md-trigger" data-modal="modal-16">Blur</button>

          <button class="md-trigger md-setperspective" data-modal="modal-17">Let me in</button>
          <button class="md-trigger md-setperspective" data-modal="modal-18">Make way!</button>
          <button class="md-trigger md-setperspective" data-modal="modal-19">Slip from top</button>
        </div>
      </div>
    </div>
    <div class="md-overlay"></div>
-->











<hr>
<hr>

<div class="span8 container">
  
<div ui-tree>
  <ol ui-tree-nodes="" ng-model="trees">
    <li ng-repeat="trr in trees" ui-tree-node>
        id:{{trr.id}} — {{trr.title}}
      <ol ui-tree-nodes="" ng-model="trr.nodes">
        <li ng-repeat="node in trr.nodes" ui-tree-node>
            Space: {{node.index}}
          <ol ui-tree-nodes="" ng-model="node.space_elem">
            <li ng-repeat="spelem in node.space_elem" ui-tree-node>
               SpaceElem: id:{{spelem.id}} — {{spelem.title}}
            </li>
          </ol>
        </li>
    </li>
  </ol>
</div>


  <ul class="nav nav-tabs" role="tablist">
    <li><a href="" role="tab" data-toggle="tab" ng:click="newselected=1">New Front Element</a></li>
  </ul>
    <div class="tab-content">
<div class="tab-pane active" id="edit" ng:show="newselected == 1">
 <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputTitle" ng-model="newBpelem.title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newBpelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">business:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="newBpelem.business" value="1">
        <!-- <input type="number" id="inputBusinessId" ng-model="newBpelem.business"/> -->
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">bprocess:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newBpelem.bprocess"/> 
       
        <input type="hidden" name="value" ng-model="newBpelem.bprocess" value="{{ BPid }}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">b_type:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newBpelem.b_type"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">type_title:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newBpelem.type_title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_own:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newBpelem.space_own"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">order:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newBpelem.order"/>
      </div>
    </div>
      <div class="control-group">
      <label class="control-label" for="inputBusinessId">Composite:</label>
      <div class="controls">
        <input type="text" id="input_a_string" ng-model="newBpelem.comps[0].a_string"/>
        <input type="text" id="input_b_string" ng-model="newBpelem.comps[0].b_string"/>
        <input type="number" id="input_a_int" ng-model="newBpelem.comps[0].a_int"/>
        <input type="number" id="input_b_int" ng-model="newBpelem.comps[0].b_int"/>
        <input type="checkbox" id="input_a_bool" ng-model="newBpelem.comps[0].a_bool"/>
        <input type="checkbox" id="input_b_bool" ng-model="newBpelem.comps[0].b_bool"/>
      
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
         {{ newBpelem | json }}
        <a ng-click="templateElem('container', newBpelem)" class="btn btn-small btn-primary">Container template fill</a>
        <a ng-click="templateElem('confirm', newBpelem)" class="btn btn-small btn-primary">Confirm template fill</a>
        <a ng-click="createNewElem()" class="btn btn-small btn-primary">create new Elem</a>
        <a ng:click="newselected=0" class="btn btn-small btn-primary">Cancel</a>
      </div>
    </div>
  </form>
</div></div>


<div class="front-blocks" ng-repeat="bpelem in bpelems | orderBy:predicate:order" style="padding: 2px 10px;">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="" role="tab" data-toggle="tab" ng:click="selected=1">Show</a></li>
    <li><a href="" role="tab" data-toggle="tab" ng:click="selected=2">Edit</a></li>
    <li><a href="" role="tab" data-toggle="tab" ng:click="selected=3">New</a></li>
  </ul>
  <!-- data-modal="modal-1"> -->
  <button class="md-trigger" data-ng-attr-data-modal="modal-2{{bpelem.id}}">Edit modal</button>

  <div class="tab-content">
    <div class="block-card tab-pane active" id="show">
      {{ bpelem.title }}
      {{ bpelem.b_type }}
      {{ bpelem.type_title }}
      {{ bpelem.order }}
      <pre>{{ bpelem.comps[0] | json }}</pre>
      <div class="tab-pane active" id="edit" ng:show="bpelem.type_title == 'container_brick'">
       <pre>{{ "xxx" }}</pre>
      <div class="control-group">
            <div class="controls">
              <a ng-click="cancel()" class="btn btn-small">cancel</a>
              <a ng-click="templateElem('container', bpelem)" class="btn btn-small btn-primary">Container template fill</a>
              <a ng-click="templateElem('confirm', bpelem)" class="btn btn-small btn-primary">Confirm block template fill</a>
              <a ng-click="updateElem(bpelem)" class="btn btn-small btn-primary">update Elem</a>
              <a ng-click="deleteElem(bpelem)" class="btn btn-small btn-primary btn-danger">delete Elem</a>
            </div>
      </div>
      </div>
    </div>
  <div class="tab-pane active" id="edit" ng:show="selected == 2">
  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputTitle" ng-model="bpelem.title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">business:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="bpelem.business" value="1">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">bprocess:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="bpelem.bprocess" value="{{ BPid }}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">b_type:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.b_type"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">type_title:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.type_title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_own:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.space_own"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">order:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="bpelem.order"/>
      </div>
    </div>
      <div class="control-group">
      <label class="control-label" for="inputBusinessId">Composite:</label>
      <div class="controls">
        <input type="text" id="input_a_string" ng-model="bpelem.comps[0].a_string"/>
        <input type="text" id="input_b_string" ng-model="bpelem.comps[0].b_string"/>
        <input type="number" id="input_a_int" ng-model="bpelem.comps[0].a_int"/>
        <input type="number" id="input_b_int" ng-model="bpelem.comps[0].b_int"/>
        <input type="checkbox" id="input_a_bool" ng-model="bpelem.comps[0].a_bool"/>
        <input type="checkbox" id="input_b_bool" ng-model="bpelem.comps[0].b_bool"/>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <a ng-click="cancel()" class="btn btn-small">cancel</a>
        <a ng-click="templateElem('container', bpelem)" class="btn btn-small btn-primary">Container template fill</a>
        <a ng-click="templateElem('confirm', bpelem)" class="btn btn-small btn-primary">Confirm block template fill</a>
        <a ng-click="updateElem(bpelem)" class="btn btn-small btn-primary">update Elem</a>
        <a ng-click="deleteElem(bpelem)" class="btn btn-small btn-primary btn-danger">delete Elem</a>
      </div>
    </div>
  </form>
  </div>
</div>



<div ng-attr-id="modal-1{{bpelem.id}}"></div>
<div class="md-modal md-effect-1" ng-attr-id="modal-2{{bpelem.id}}">
      <div class="md-content">
        <h3>Edit</h3>
        <div>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputTitle" ng-model="bpelem.title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">business:</label>
      <div class="controls">

        <input type="hidden" name="value" ng-model="bpelem.business" value="1">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">bprocess:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="bpelem.bprocess" value="{{ BPid }}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">b_type:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.b_type"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">type_title:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.type_title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_own:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="bpelem.space_own"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">order:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="bpelem.order"/>
      </div>
    </div>
      <div class="control-group">
      <label class="control-label" for="inputBusinessId">Composite:</label>
      <div class="controls">
        <input type="text" id="input_a_string" ng-model="bpelem.comps[0].a_string"/>
        <input type="text" id="input_b_string" ng-model="bpelem.comps[0].b_string"/>
        <input type="text" id="input_a_int" ng-model="bpelem.comps[0].a_int"/>
        <input type="text" id="input_b_int" ng-model="bpelem.comps[0].b_int"/>
        <input type="checkbox" id="input_a_bool" ng-model="bpelem.comps[0].a_bool"/>
        <input type="checkbox" id="input_b_bool" ng-model="bpelem.comps[0].b_bool"/>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <a ng-click="cancel()" class="btn btn-small">cancel</a>
        <a ng-click="templateElem('container', bpelem)" class="btn btn-small btn-primary">Container template fill</a>
        <a ng-click="templateElem('confirm', bpelem)" class="btn btn-small btn-primary">Confirm block template fill</a>

        <a ng-click="updateElem(bpelem)" class="btn btn-small btn-primary">update Elem</a>
      </div>
    </div>
  </form>
          <button class="md-close">Close me!</button>
        </div>
      </div>
</div>

<div class="front-blocks" ng:show="selected == 3"> 
 <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputTitle" ng-model="newBpelem.title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newBpelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">business:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="newBpelem.business" value="1">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">bprocess:</label>
      <div class="controls">
       
        <input type="hidden" name="value" ng-model="newBpelem.bprocess" value="{{ BPid }}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">b_type:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newBpelem.b_type"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">type_title:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newBpelem.type_title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_own:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newBpelem.space_own"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">order:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newBpelem.order"/>
      </div>
    </div>
      <div class="control-group">
      <label class="control-label" for="inputBusinessId">Composite:</label>
      <div class="controls">
        <input type="text" id="input_a_string" ng-model="newBpelem.comps[0].a_string"/>
        <input type="text" id="input_b_string" ng-model="newBpelem.comps[0].b_string"/>
        <input type="number" id="input_a_int" ng-model="newBpelem.comps[0].a_int"/>
        <input type="number" id="input_b_int" ng-model="newBpelem.comps[0].b_int"/>
        <input type="checkbox" id="input_a_bool" ng-model="newBpelem.comps[0].a_bool"/>
        <input type="checkbox" id="input_b_bool" ng-model="newBpelem.comps[0].b_bool"/>
      
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
         {{ newBpelem | json }}
        <a ng-click="templateElem('container', newBpelem)" class="btn btn-small btn-primary">Container template fill</a>
        <a ng-click="templateElem('confirm', newBpelem)" class="btn btn-small btn-primary">Confirm block template fill</a>

        <a ng-click="createNewElem()" class="btn btn-small btn-primary">create new Elem</a>
      </div>
    </div>
  </form>
</div>
</div>

























  <ul class="nav nav-tabs" role="tablist">
    <li><a href="" role="tab" data-toggle="tab" ng:click="newselected=2">New Space</a></li>
  </ul>
    <div class="tab-content">
<div class="tab-pane active" id="edit" ng:show="newselected == 2">
<form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Space id:</label>
      <div class="controls">
        <input type="number" id="inputTitle" ng-model="newSpace.id"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.bprocess:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="newSpace.bprocess" value="{{ BPid }}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.index:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newSpace.index"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.container:</label>
      <div class="controls">
        <input type="checkbox" id="inputBusinessId" ng-model="newSpace.container"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.subbrick:</label>
      <div class="controls">
        <input type="checkbox" id="inputBusinessId" ng-model="newSpace.subbrick"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.brick_front:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newSpace.brick_front"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.brick_nested:</label>

      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newSpace.brick_nested"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.nestingLevel:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newSpace.nestingLevel"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="createNewSpace()" class="btn btn-small btn-primary">create new Space</a>
        <a ng:click="newselected=0" class="btn btn-small btn-primary">Cancel</a>
      </div>
    </div>
  </form>
</div></div>


<div class="front-blocks" ng-repeat="space in spaces | orderBy:predicate:order" style="padding: 2px 10px;">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="" role="tab" data-toggle="tab" ng:click="spselected=1">Show</a></li>
    <li><a href="" role="tab" data-toggle="tab" ng:click="spselected=2">Edit</a></li>
  </ul>

  <div class="tab-content">
    <div class="space-card tab-pane active">
       <p>space.id : {{ space.id }}</p>
       <p>space.bprocess : {{ space.bprocess }}</p>
       <p>space.index : {{ space.index }}</p>
    </div>


  <div class="tab-pane active" id="edit" ng:show="spselected == 2">  
    <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Space id:</label>
      <div class="controls">
        <input type="text" id="inputTitle" ng-model="space.id"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.bprocess:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="space.bprocess" value="{{ BPid }}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.index:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="space.index"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.container:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="space.container"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.subbrick:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="space.subbrick"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.brick_front:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="space.brick_front"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.brick_nested:</label>

      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="space.brick_nested"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space.nestingLevel:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="space.nestingLevel"/>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <a ng-click="cancel()" class="btn btn-small">cancel</a>
        <a ng-click="updateSpace(space)" class="btn btn-small btn-primary">update Space</a>
        <a ng-click="deleteSpace(space)" class="btn btn-small btn-danger">delete Space</a>
      </div>
    </div>
  </form>
  </div>




</div>
</div>

</div>


















  <ul class="nav nav-tabs" role="tablist">
    <li><a href="" role="tab" data-toggle="tab" ng:click="newselected=3">New Space Element</a></li>
  </ul>
    <div class="tab-content">
<div class="tab-pane active" id="edit" ng:show="newselected == 3">
 <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputTitle" ng-model="newSpaceelem.title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newSpaceelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">business:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="newSpaceelem.business" value="1">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">bprocess:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="newSpaceelem.bprocess" value="{{ BPid }}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">b_type:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newSpaceelem.b_type"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">type_title:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newSpaceelem.type_title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_own:</label>
      <div class="controls">
           <select ng-model="newSpaceelem.space_own" data-ng-options="a.id as a.id for a in spaces">               
            </select>
        <input type="number" id="inputBusinessId" ng-model="newSpaceelem.space_own"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_owned:</label>
      <div class="controls">
           <select ng-model="newSpaceelem.space_owned" data-ng-options="a.id as a.id for a in spaces">               
          </select>        
        <input type="number" id="inputBusinessId" ng-model="newSpaceelem.space_owned"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_role:</label>
      <div class="controls">
        <input type="hidden" id="inputBusinessId" ng-model="newSpaceelem.space_role" value="container"/>
      </div>
    </div>
        <div class="control-group">
      <label class="control-label" for="inputBusinessId">order:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newSpaceelem.order"/>
      </div>
    </div>
      <div class="control-group">
      <label class="control-label" for="inputBusinessId">Composite:</label>
      <div class="controls">
        {{ newSpaceelem | json }}
        <input type="text" id="input_a_string" ng-model="newSpaceelem.comps[0].a_string"/>
        <input type="text" id="input_b_string" ng-model="newSpaceelem.comps[0].b_string"/>
        <input type="number" id="input_a_int" ng-model="newSpaceelem.comps[0].a_int"/>
        <input type="number" id="input_b_int" ng-model="newSpaceelem.comps[0].b_int"/>
        <input type="text" id="input_a_bool" ng-model="newSpaceelem.comps[0].a_bool"/>
        <input type="text" id="input_b_bool" ng-model="newSpaceelem.comps[0].b_bool"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="templateElem('container', newSpaceelem)" class="btn btn-small btn-primary">Container template fill</a>
        <a ng-click="templateElem('confirm', newSpaceelem)" class="btn btn-small btn-primary">Confirm block template fill</a>
        <a ng-click="createSpaceElem()" class="btn btn-small btn-primary">create new spaceelem</a>
        <a ng:click="newselected=0" class="btn btn-small btn-primary">Cancel</a>
      </div>
    </div>
  </form>
</div></div>

<div class="space-blocks" ng-repeat="spaceelem in spaceelems | orderBy:predicate:order" style="padding: 2px 10px;">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="" role="tab" data-toggle="tab" ng:click="selected=1">Show</a></li>
    <li><a href="" role="tab" data-toggle="tab" ng:click="selected=2">Edit</a></li>
  </ul>

  <div class="tab-content">
    <div class="block-card tab-pane active" id="show">
      {{ spaceelem.title }}
      {{ spaceelem.b_type }}
      {{ spaceelem.type_title }}
      <pre>{{ spaceelem.comps[0] | json }}</pre>
    </div>
  <div class="tab-pane active" id="edit" ng:show="selected == 2">
    <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputTitle" ng-model="spaceelem.title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="spaceelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="spaceelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">business:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="spaceelem.business" value="1">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">bprocess:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="spaceelem.bprocess" value="{{ BPid }}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">b_type:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="spaceelem.b_type"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">type_title:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="spaceelem.type_title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_own:</label>
      <div class="controls">
           <select ng-model="spaceelem.space_own" data-ng-options="a.id as a.id for a in spaces">               
            </select>

        <input type="text" id="inputBusinessId" ng-model="spaceelem.space_own"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_own:</label>
      <div class="controls">
           <select ng-model="spaceelem.space_owned" data-ng-options="a.id as a.id for a in spaces">               
          </select>   
        <input type="text" id="inputBusinessId" ng-model="spaceelem.space_owned"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_own:</label>
      <div class="controls">
        <input type="hidden" id="inputBusinessId" ng-model="spaceelem.space_role" value="container"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">order:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="spaceelem.order"/>
      </div>
    </div>
      <div class="control-group">
      <label class="control-label" for="inputBusinessId">Composite:</label>
      <div class="controls">
        <input type="text" id="input_a_string" ng-model="spaceelem.comps[0].a_string"/>
        <input type="text" id="input_b_string" ng-model="spaceelem.comps[0].b_string"/>
        <input type="text" id="input_a_int" ng-model="spaceelem.comps[0].a_int"/>
        <input type="text" id="input_b_int" ng-model="spaceelem.comps[0].b_int"/>
        <input type="text" id="input_a_bool" ng-model="spaceelem.comps[0].a_bool"/>
        <input type="text" id="input_b_bool" ng-model="spaceelem.comps[0].b_bool"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="cancel()" class="btn btn-small">cancel</a>
        <a ng-click="templateElem('container', spaceelem)" class="btn btn-small btn-primary">Container template fill</a>
        <a ng-click="templateElem('confirm', spaceelem)" class="btn btn-small btn-primary">Confirm block template fill</a>
        <a ng-click="updateSpaceElem(spaceelem)" class="btn btn-small btn-primary">update spaceelem</a>
        <a ng-click="deleteSpaceElem(spaceelem)" class="btn btn-small btn-danger">delete spaceelem</a>
        
      </div>
    </div>
  </form>
  </div>


</div>
</div>


 </div>

 <div class="span6">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th style="min-width: 80px;">Element</th>
        <th style="min-width: 80px;">Title</th>
        <th style="min-width: 80px;">Desc</th>
        <th style="min-width: 80px;">Business</th>
        <th style="min-width: 80px;">BProcess</th>
        <th style="min-width: 80px;">Type</th>
        <th style="min-width: 80px;">Type title</th>
        <th style="min-width: 80px;">Order</th>
        <th style="min-width: 80px;">Comps</th>
        <th style="width:20px;">&nbsp;</th>
        <th style="width:20px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bpelem in bpelems | orderBy:predicate:order">
        <td>{{ bpelem.id }}</td>
        <td>{{ bpelem.title }}</td>
        <td>{{ bpelem.desc }}</td>
        <td>{{ bpelem.business }}</td>
        <td>{{ bpelem.bprocess }}</td>
        <td>{{ bpelem.b_type }}</td>
        <td>{{ bpelem.type_title }}</td>
        <td>{{ bpelem.order }}</td>
        <td><pre>{{ bpelem.comps | json}}</pre></td>
        <td><a ng-click="editElem(bpelem.id)" class="btn btn-small btn-primary">edit</a></td>
        <td><a ng-click="deleteElem(bpelem.id)" class="btn btn-small btn-danger">delete</a></td>
      </tr>
    </tbody>
  </table>
    <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th style="min-width: 80px;">Space Id</th>
        <th style="min-width: 80px;">BODY</th>
        <th style="width:20px;">&nbsp;</th>
        <th style="width:20px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="space in spaces">
        <td>{{ space.id }}</td>
        <td><pre>{{ space | json}}</pre></td>
        <td><a ng-click="editSpace(bpelem.id)" class="btn btn-small btn-primary">edit</a></td>
        <td><a ng-click="deleteSpace(bpelem.id)" class="btn btn-small btn-danger">delete</a></td>
      </tr>
    </tbody>
  </table>


  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th style="min-width: 80px;">Element</th>
        <th style="min-width: 80px;">Title</th>
        <th style="min-width: 80px;">Desc</th>
        <th style="min-width: 80px;">Business</th>
        <th style="min-width: 80px;">BProcess</th>
        <th style="min-width: 80px;">Type</th>
        <th style="min-width: 80px;">Type title</th>
        <th style="min-width: 80px;">Order</th>
        <th style="min-width: 80px;">Comps</th>
        <th style="width:20px;">&nbsp;</th>
        <th style="width:20px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="spaceelem in spaceelems | orderBy:predicate:order">
        <td>{{ spaceelem.id }}</td>
        <td>{{ spaceelem.title }}</td>
        <td>{{ spaceelem.desc }}</td>
        <td>{{ spaceelem.business }}</td>
        <td>{{ spaceelem.bprocess }}</td>
        <td>{{ spaceelem.b_type }}</td>
        <td>{{ spaceelem.type_title }}</td>
        <td>{{ spaceelem.order }}</td>
        <td><pre>{{ spaceelem.comps | json}}</pre></td>
        <a ng-click="templateElem('container', spaceelem)" class="btn btn-small btn-primary">Container template fill</a>
        <a ng-click="templateElem('confirm', spaceelem)" class="btn btn-small btn-primary">Confirm block template fill</a>
        <td><a ng-click="editSpaceElem(spaceelem.id)" class="btn btn-small btn-primary">edit</a></td>
        <td><a ng-click="deleteSpaceElem(spaceelem.id)" class="btn btn-small btn-danger">delete</a></td>
      </tr>
    </tbody>
  </table>
  <a ng-click="createNewBP()" class="btn btn-small">create new BPElement</a>
  <a ng-click="createNewSpace()" class="btn btn-small">create new Space</a>
</div>


<!--

<div class="flex ng-scope">
<div class="row">
  <div class="column-7--hand">
    <div class="box flexcontainer">
    <a href="#" tooltip="Some container" tooltip-placement="bottom">Cn</a>
      <div class="row">
        <div class="column-9--hand">
          
          <div class="box--first flexcontainer">
            <div class="row">
              <div class="column-4--hand">
                <div class="box--nested">
                </div>
              </div>
              <div class="column-8--hand">
                <a href="#" tooltip="Some block">
                  Block title
                  <div class="box--nested">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column-3--hand">
          <div class="box--first flexcontainer">
            <div class="row">
              <div class="column-auto--hand">
                <div class="box--nested">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column-5--hand">
    <div class="box flexcontainer">
      <div class="row">
        <div class="column-12--hand">
          <div class="box--first flexcontainer">
            <div class="row"><div class="column-6--hand">
              <div class="box--nested">
              </div>
            </div>
            <div class="column-6--hand">
              <a href="#" tooltip="Some block">
              <div class="box--nested">
              </div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>-->