
     <!-- FOR CONTAINER TEMPLATE -->
      <div class="tab-pane active" id="edit" ng:show="bpelem.type_title == 'container_brick'">
          <div class="front-spaces" ng-repeat="space in frontSpaces[bpelem.id]">
             {{ 'SPACE' | translate }}: {{ space.index }} — <a ng:click="space.cneedit=!space.cneedit" ng-show="isManagerVal">{{ 'ADD_TO_SPACE' | translate }}</a>

            <div class="elem-desc" ng:show="(space.cneedit == false || space.cnedit == undefined) && mySpaceElems(spaceelems, space.id).length < 1 && isManagerVal">
<div class="confirm-desc">
<h3>{{ 'CONFIRM' | translate }}</h3>
<p>{{ 'CONFDESCFULL' | translate }}</p>
</div>
<div class="container-desc">
<h3>{{ 'CONTAINER' | translate }}</h3>
<p>{{ 'CONTDESCFULL' | translate }}</p>
</div>

            </div>
             <div ng:show="space.cneedit">
              <form novalidate="novalidate" class="form-horizontal form-new-spaceelem" ng-class="space.newSpaceelem.type_title">
                  <div class="control-group form-group">
                    <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
                    <div class="controls col-xs-4">
                      <input type="text" id="inputTitle" class="form-control" ng-model="space.newSpaceelem.title"/>
                    </div>
                  </div>
                  <div class="control-group form-group"">
                    <label class="control-label col-sm-1" for="inputBusinessId">{{ 'DESC' | translate }}:</label>
                    <div class="controls col-xs-4">
                      <textarea type="text" id="inputBusinessId" class="form-control" ng-model="space.newSpaceelem.desc"/>
                    </div>
                  </div>

                      <input type="hidden" name="value" ng-model="space.newSpaceelem.business" ng-init="business" >
                      <input type="hidden" name="value" ng-model="space.newSpaceelem.bprocess" ng-init="parseInt(BPid)">
                      <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.b_type"/>
                      <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.type_title"/>
                      <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.space_owned" ng-init="space.newSpaceelem.space_owned=space.id" value="{{ space.id }}"/>
                      <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.space_role" ng-init="space.newSpaceelem.space_role" value="container"/>
                      <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.order" value="{{ orderNestedGen(space.newSpaceelem) }}"/>

              <div class="control-group form-group"">
                    <div class="controls col-xs-4">
                      <div class="templateButton">
                        <a ng-click="templateSpaceElem('container', space.newSpaceelem)" class="btn btn-small btn-primary container_brick">{{ 'CONTAINER' | translate }} <span tooltip="{{ 'CONTDESC' | translate }}" tooltip-placement="bottom" class="glyphicon glyphicon-info-sign"></span></a>
                        <a ng-click="templateSpaceElem('confirm', space.newSpaceelem)" class="btn btn-small btn-primary confirm">{{ 'CONFIRM' | translate }} <span tooltip="{{ 'CONFDESC' | translate }}" tooltip-placement="bottom" class="glyphicon glyphicon-info-sign"></span></a>
                      </div>
                      <a ng-click="createSpaceElem(space.newSpaceelem);flushEditForm(space.newSpaceelem, space);cneedit=!cneedit" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
                    </div>
                  </div>
                </form>
              </div>

              <div class="front-space-elems">
                <div class="space-blocks" ng-repeat="spaceelem in spaceelems | filter:{space_owned: space.id} | orderBy:'order'" style="padding: 2px 10px;">




                  <ul class="elem-control elem-tabs" role="tablist" ng-show="isManagerVal">
                    <li class="active"><a href="" role="tab" data-toggle="tab" ng:click="selected=1"><span class="glyphicon glyphicon-list-alt"></span></a></li>
                    <li><a href="" role="tab" data-toggle="tab" ng:click="selected=2"><span class="glyphicon glyphicon-edit"></span></a></li>
                    <li><a ng-click="deleteSpaceElem(spaceelem)"><span class="glyphicon glyphicon-remove"></span></a></li>
                    <li><a href="" ng:click="moveUpSpaceElem(spaceelem)"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
                    <li><a href="" ng:click="moveDownSpaceElem(spaceelem)"><span class="glyphicon glyphicon-arrow-down"></span></a></li>
                  </ul>
                  <div class="tab-pane active" id="edit" ng:show="selected == 2">
                    <div ng-include src="'partials/forms/bp_elements/spelem-edit.html'"></div>
                  </div>
                  <div class="tab-content">
                    <div class="block-card tab-pane active" id="show">
                      <span class="primary">{{ spaceelem.order }}: {{ spaceelem.title }} </span> <!-- OWNED BY: {{ spaceelem.space_owned }} -->
                      <span class="descr">{{ spaceelem.b_type }}</span> 
                      <span class="type">{{ spaceelem.type_title }}</span> 
                    </div>
                      <div class="tab-pane active" id="edit" ng:show="spaceelem.type_title == 'container_brick'">
                          <div class="nested-spaces" ng-repeat="space in nestedSpaces[spaceelem.id]">
                              <div ng-include src="'partials/forms/bp_elements/nested_cn.html'"></div>
                              <div ng-include src="'partials/forms/bp_elements/nested_cn_elems.html'"></div>



                          </div>

                      </div>
                    </div></div>
              </div>

          </div>

      </div>
