
@(serviceForm: Form[models.DAO.resources.BusinessDTO], user: models.User2)(implicit request: RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f)}

@main(Messages("businesses.addBusiness"), user) {
<!-- Begin page content -->
<div class="container">
<div class="page-header">
<h1>Messages("businesses.addBusiness")</h1>
</div>

<div class="row">
<div class="col-md-8">
@form(routes.BusinessController.create_new()) {
<fieldset>
  @helper.CSRF.formField



@inputText(serviceForm("title"), '_label -> Messages("businesses.name"), 'class -> "form-control")
</fieldset>

<div class="actions">
<input type="submit" value="Create this business" class="btn btn-primary"> Messages("custom.or")
<a href="@routes.BusinessController.index()" class="btn btn-default">Messages("custom.cancel") </a>
</div>
}
</div>

</div>
</div>
}
