@import 'bem';


@include b(sessions) {
    background: red;
    @include e(element){
        font-size: 14px;
        @include m(big) {
            font-size: 18px;
        }
    };
    @include m(modifier) {
        color: blue;
    
        @include e(subelement) {
            background: gray;
        }
    }
}