@import 'bem';


@include b(dashboard_sessions) {
	@include b(session_header) {
		@include e(top_bar) {
			color: black;
			@include e(all_sessions) {
				float: right;
			}
		}
	}
    @include e(element){
        font-size: 14px;
    };
    @include m(modifier) {
        color: blue;
    
        @include e(subelement) {
            background: gray;
        }
    }
    @include b(profile_advices) {
    	@include e(advice) {
    		background: yellow;
    		color: black;
    	}
    }

	@include b(session_list) {
		@include e(session) {
			@include e(process) {

			}
			@include e(process_session) {
				@include e(session_label) {
					color: black;
				}
			}
		}
	}

}

@include b(dashboard_services) {

}