a.redButton {
    height: 20px;
    width: 20px;
    display: block;
    background: red;
    position: absolute;
    border-radius: 10px;
    border: red;
}
.process-thumb p.teamApisListGithub {
    left: -4px;
    top: 9px;
}

.process_content {
     top: -26px;
    position: relative;    display: inline-block;    left: 0px;    
    width: auto;
    border: 1px solid rgb(213, 222, 236);    border-image-source: initial;    border-image-slice: initial;    border-image-width: initial;    border-image-outset: initial;    border-image-repeat: initial;    padding-right: 5px;    padding-top: 5px;    padding-bottom: 5px;    border-radius: 6px;
}

.dish-state {
    position: relative;
}

.process .launches-bar {
  width: 109.6%;
  margin-left: -64px;
  margin-bottom: 0px;
}

span.state-percent.vertical-center {
     margin-top: 25px;
  position: absolute;
  top: 2px;
  font-size: 11px;
  left: 0%;
  text-align: center;
  width: 46px;
  height: 47px;
}
.dish-state.left {
  cursor: pointer;
}
.process_content .tree-thumb.process-tree {
    width: auto;
    margin-right: 0;
}

.process_content .tree-thumb.process-tree .elem-card {
    display: inline-block !important;
}

.process_content .tree-thumb.process-tree .angular-ui-tree-nodes .angular-ui-tree-nodes {
    display: inline-block;
}

.process-status .teamApisListControls {
    margin-right: 121px;
}

.process_content li.angular-ui-tree-node {
    display: inline-block;
}

.process_content .tree-thumb.process-tree .elem-card {
    display: inline-block !important;
}

.process_content .elem-card {
    display: inline-block;
    padding: 2px 9px;
}

.process_content ol.ng-pristine.ng-untouched.ng-valid.ng-scope.angular-ui-tree-nodes {
    display: inline-block;
}