<div class="container" ng-controller="BPRequestCtrl" ng-init="session=$parent.$parent.session;bpId=$parent.$parent.session.process.id">





<div class="empty-notice">
</div>

<div class="stations input-stations" style="clear: both;">

<div class="current-reaction-switcher">
  <label class="radio-label" for="reaction-flag">All</label>
  <input type="checkbox" class="switch" id="reaction-flag" data-ng-model="currentReactionFlag"/>
  <label class="radio-label" for="reaction-flag">Current</label>

</div>

  <ul class="reaction_list">
    <li class="reaction_list__reaction" ng-init="interactions.reactions.length > 0 ? reactionSelect(interactions.reactions[0]) : false" ng-repeat="reaction in interactions.reactions | filter:currentReactionFilter">
        <a ng-click="reactionSelect(reaction)" ng-class="selectedClass(reaction)"><h3>{{ reaction.reaction.elem.element_title }} : {{ capitalizeFirstLetter(reaction.reaction.title) }}</h3></a>

        <ul class="reaction_list__reaction_in_group">
          <!-- ins -->
        </ul>
        
        <ul class="reaction_list__reaction_out_group">
          <li class="reaction_list__reaction__state_outs" ng-repeat="state_out in reaction.outs">
          {{ stateOutAct(state_out) }} {{ state_out.state.title }} 
          </li>
        </ul>
        <a ng-click="reactionSelect(reaction)" id="reactionSelectButton" ng-class="selectedClass(reaction)" class="triangle-reaction"><div class="triangle triangle-3"></div></a>
        <!--<div class="launch-attachments" ng-show="reaction.selected">
            <a href="#" tooltip-placement="bottom" tooltip="Not supporting right now.">Attach</a>
        </div>-->
        <div class="costs" ng-show="reaction.costs.length > 0">
            <h2 class="costTitle">Costs</h2>

            <div class="inputCost" ng-repeat="cost in reaction.costs">
        <div class="pipeContent" ng-repeat="entity in cost.entities">
          <div class="pipeContentTitle">{{ entity.title }}</div>
          <div class="pipeContentValue" ng-repeat="slat in slatFilter(entity, cost.slats)">
              <a ng-click="slat.refill=true;" ng-hide="slat.refill"><span>{{ slat.sval }}</span></a>
              <div class="pipeContentValueRefill" ng-init="slat.refill=false" ng-show="slat.refill">
                <input type="text" id="inputContentBlankValue" class="form-control" ng-model="slat.sval" required="">
                <a class="btn btn-small btn-success" ng-click="reFillValue(cost, entity, slat)">ReFill</a>
                <a class="btn btn-small" ng-click="slat.refill=false;">x</a>                
              </div>
          </div>          
          <div class="pipeContentBlankValue" ng-show="slatFilter(entity, cost.slats).length < 1">
                <input type="text" id="inputContentBlankValue" class="form-control" ng-init="entity.newModelValue=defaultValueParser(entity.default)" ng-model="entity.newModelValue" required="">
                <a class="btn btn-small btn-success" ng-click="fillValue(cost, entity, entity.newModelValue)">Fill</a>
        </div>
        </div>               
              <!--<div class="inputCostTitle">{{ cost.resource.title }} {{ cost.entity[0].title }}</div>
              <div class="inputCostBlankValue">
                    <input type="text" id="inputContentBlankValue" class="form-control" required="">
                    <a class="btn btn-small btn-success">Fill</a>
              </div>
            </div>-->  
        </div>
    </li>
  </ul>
  


<div class="warp-field" ng-init="show_warp=false;">
    <div class="warp_attach" ng-click="show_warp=true;">Attach</div>
    
    <div class="warp-show" ng-show="show_warp">
    <div class="warp_attach">Add field</div>
    <div class="warp_field">
    <div class="warp_select">
      <div class="text_select_btn">Text</div>
      <div class="file_select_btn">File</div>
    </div>

     <div class="bb_elements">
     <div class="bb_text">
       <div class="text_content"><p>some text</p></div>
       <div class="text_control"><a href="#">Edit</a><a href="#">x</a></div>
     </div>
     <div class="bb_file">
       <div class="file_title"><h4>File title</h4></div>
       <div class="file_url"><a href="#">file</a></div>
       <div class="file_meta"><div class="file_type">file type</div><div class="file_size">file size</div></div>
       <div class="file_control"><a href="#">x</a></div>
    </div>
    </div>  
      <!-- 
        data.message.entities
        data.message.slats
      -->
      <!--
      { payload: [ { obj_type: "text", obj_title: "Text", obj_content: value } ] } 
      -->
      <form action="/warp" method="post">
      <p><b>Warp field:</b></p>
      <p><textarea rows="10" cols="45" id="warpArea" name="text"></textarea></p>
      <p><input type="submit" value="Send"></p>
      </form>
      <div class="warp_attach">Remove field</div>
      </div>

      </div>
</div>


</div>

</div>


</div>



  <div class="process-thumb">
  <button type="submit" id="inputResumeButton" class="btn btn-small btTxt submit btn lg solid-green ng-binding" ng-disabled="runFromDisabled" ng-click="runFrom($parent.session.session.id)" tooltip-placement="top" tooltip="Resume execution">Resume</button>
<!--
          <p class="tableMinListGithub">
            <button class="redButton ng-scope" ng-disabled="runFromDisabled" ng-click="runFrom($parent.session.session.id)" tooltip-placement="top" tooltip="{{ 'RUN_FROM' | translate }}"></button>
          </p>-->
  </div>
  <!--<a ng-click="haltSession($parent.session.session.id)" class="btn btn-big btn-danger" ng-show="isManagerVal">{{ 'TURN_DOWN' | translate }}</a>-->
</div>
<!--
<div class="stations input-stations" style="clear: both;">
           <span class="number small {{ station.state }}">{{ $index + 1 }}</span>
           <p>
            {{ stationByProcess($parent.session.station.id).id }}
            {{ stationByProcess($parent.session.station.id).title }}
           
           </p>
            <div class=" col-md-9 col-lg-9 "> 

  <div class="station-markers">
    
  <ul class="station-states">
                      <li class="state started {{ $parent.session.station.started }}"> {{ 'STARTED' | translate }} </li>
                      <li class="state paused {{ $parent.session.station.paused }}"> {{ 'PAUSED' | translate }} </li>
                      <li class="state finished {{ $parent.session.station.finished }}"> {{ 'FINISHED' | translate }} </li>
  </ul>
  </div>
  
          <h3><a ng-click="expand = !expand">{{ 'LOGS' | translate }}</a></h3>
          <div class="slide" ng-show="expand">

          <div class="logs" ng-repeat="log in logsByStation($parent.session.station.id)">

          </div>
        </div>


          <div> ng-if="$parent.session.station.paused == true">

          <a ng-click="haltStation($parent.session.station.id)" class="btn btn-big btn-danger" ng-show="isManagerVal">{{ 'TURN_DOWN' | translate }}</a>
          <div class="runFrom">
          <h3>{{ 'RUN_FROM_ANOT' | translate }}</h3>
          <div class="params">
          </div>
        
           <button ng-click="addParam(station)" class="btn btn-big btn-success">Add input params</button> 




              <div ng-repeat="bpelem in $parent.session.station.proc_elems | filter:currentReactionFilter " class="controls inputRequests">
                   <div class="request">
                    <p>{{bpelem.title}}</p>
                    <div>
                     <select ng-model="bpelem.param" class="forParam" ng-options="param.name as param.name for param in params" required></select><br>
                    </div>
                    <div class="request-template">
                       <div ng-include src="'assets/partials/forms/inputs/input_template.html'"></div>
                    </div>

              <div class="params" ng-repeat="cont in $parent.session.station.params">
                <pre>{{ cont.param }} {{ bpelem.id }}</pre>
                
              </div>
                </div>
                

              </div>
              <div ng-repeat="spaceelem in $parent.session.station.space_elems" class="controls inputRequests">
                   <div class="request">
                    <p>{{spaceelem.title}}</p>
                    <div>
                    <select ng-model="spaceelem.param" class="forParam" ng-options="param.name as param.name for param in params" required></select><br>
                    </div>

                    <div class="request-template">
                       <div ng-include src="'assets/partials/forms/inputs/input_template.html'"></div>
                    </div>

                </div>
              </div>
          <a ng-click="showAll()" class="btn btn-big btn-success">{{ 'SHOW_ALL' | translate }}</a>
          <a ng-click="runFrom($parent.session.station.id, $parent.session.station)" class="btn btn-big btn-success">{{ 'RUN_FROM' | translate }}</a>

          </div>
          </div>
          

           <hr>
          </div>

        
 
</div>
-->