<div class="request-controller" ng-controller="BPRequestCtrl" ng-init="session=$parent.$parent.session;bpId=$parent.$parent.session.process.id">

<div class="fastInput" ng-hide="$parent.$parent.session.inlineLaunchShow || ($parent.$parent.session.station.paused !== true && $parent.$parent.session.station.finished !== false)">

<span class="element-title">{{ firstInput.reaction.elem.element_title }}</span>

<a ng-click="reactionSelect(firstInput);runFrom($parent.session.session.id, firstInput)" class="reaction-title">{{ capitalizeFirstLetter(firstInput.reaction.title) }}</a>

<span class="firstInputFiles" ng-repeat="file in firstInput.files">
		<span class="firstInputFileName">{{ file.name }}</span>
	 <button type="button" class="close" ng-click="removeFileFirstInput(file,firstInput)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</span>
<a href="javascript:;" lk-google-picker on-picked="onPickedFirstInput(firstInput, docs)" ng-show="firstInput.files.length < 1" class="fastInputPicker">
	<span class="moicon moicon-paste"></span>
</a>

</div>

<div class="container" ng-show="$parent.$parent.session.inlineLaunchShow">

<div class="empty-notice">
</div>


<div class="launch-info-details">
  <div class="minDate"><div class="launch-info-description">Started at: </div>
<abbr class="session__header__created_at" title="{{ lastExecuted().minDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="lastExecuted().minDate"></abbr>
  </div>
  <div class="maxDate" ng-show="interactions.reactions.length > 0"><div class="launch-info-description">Latest action at:</div> 
<abbr class="session__header__created_at" title="{{ lastExecuted().lastDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="lastExecuted().lastDate"></abbr>
</div>  
  <div class="maxDate" ng-show="interactions.reactions === undefined"><div class="launch-info-description">Ended at: </div>
<abbr class="session__header__created_at" title="{{ lastExecuted().lastDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="lastExecuted().lastDate"></abbr>
  </div>
</div>

<div class="stations input-stations" style="clear: both;">


<!-- Completed launch info -->
<ul class="reaction_list reaction_list_launched reaction_list_finished">
  <li class="reaction_list__reaction reaction_list__reaction_preview" ng-repeat="elem in $parent.tree.trees | filter:finishedInteractionFilter(elem)">
      <a>
      <h3>{{ elem.title }} <!-- : {{ capitalizeFirstLetter(reaction.reaction.title) }} --></h3></a>
      <div ng-include src="'assets/partials/inputs/file_attach.html'" class="file-view-container" ng-init="elem.payload = [];"></div>
  </li>
</ul>



<ul class="reaction_list reaction_list_launched">
  <li class="reaction_list__reaction reaction_list__reaction_preview" ng-init="interactions.reactions.length > 0 ? reactionSelect(interactions.reactions[0]) : false" ng-repeat="reaction in interactions.reactions">
      <a class="selected"><h3>{{ reaction.reaction.elem.element_title }} <!-- : {{ capitalizeFirstLetter(reaction.reaction.title) }} --></h3></a>

      <ul class="reaction_list__reaction_in_group" style="display: none;">
        <!-- ins -->
      </ul>
        
      <ul class="reaction_list__reaction_out_group" style="display: none;">
        <li class="reaction_list__reaction__state_outs" ng-repeat="state_out in reaction.outs">
           <!-- {{ stateOutAct(state_out) }} {{ state_out.state.title }} -->
        </li>
      </ul>
      <a ng-click="reactionSelect(reaction);runFrom($parent.session.session.id, reaction)" id="reactionSelectButton" ng-class="selectedClass(reaction)" class="triangle-reaction" ng-show="reaction === interactions.reactions[0]">{{ capitalizeFirstLetter(reaction.reaction.title) }}</a>
      <div ng-include src="'assets/partials/inputs/file_attach.html'" class="file-view-container" ng-init="elem=reaction;elem.payload = [];"></div>

      <!--<div class="launch-attachments" ng-show="reaction.selected">
          <a href="#" tooltip-placement="bottom" tooltip="Not supporting right now.">Attach</a>
            </div>-->
      <!--<div class="center-block" ng-init="reaction.dpfiles = [];">
      <p><a class="btn btn-primary btn-block" href="javascript:;" drop-box-picker dbpicker-files="reaction.dpfiles">Dropbox</a></p>
      </div>-->

      <div class="costs" ng-show="reaction.costs.length > 0">
            <h2 class="costTitle">Costs</h2>
        <div class="inputCost" ng-repeat="cost in reaction.costs">
        <div class="pipeContent" ng-repeat="entity in cost.entities">
          <div class="pipeContentTitle">{{ entity.title }}</div>
          <div class="pipeContentValue" ng-repeat="slat in slatFilter(entity, cost.slats)">
              <a ng-click="slat.refill=true;" ng-hide="slat.refill"><span>{{ slat.sval }}</span></a>
              <div class="pipeContentValueRefill" ng-init="slat.refill=false" ng-show="slat.refill">
                <input type="text" id="inputContentBlankValue" class="form-control" ng-model="slat.sval" required="">
                <a class="btn btn-small btn-success" ng-click="reFillValue(cost, entity, slat)">ReFill</a>
                <a class="btn btn-small" ng-click="slat.refill=false;">x</a>                
              </div>
          </div>          
          <div class="pipeContentBlankValue" ng-show="slatFilter(entity, cost.slats).length < 1">
                <input type="text" id="inputContentBlankValue" class="form-control" ng-init="entity.newModelValue=defaultValueParser(entity.default)" ng-model="entity.newModelValue" required="">
                <a class="btn btn-small btn-success" ng-click="fillValue(cost, entity, entity.newModelValue)">Fill</a>
          </div>
        </div>               
              <!--<div class="inputCostTitle">{{ cost.resource.title }} {{ cost.entity[0].title }}</div>
              <div class="inputCostBlankValue">
                    <input type="text" id="inputContentBlankValue" class="form-control" required="">
                    <a class="btn btn-small btn-success">Fill</a>
              </div>
            </div>-->  
        </div>
      </div>
  </li>
</ul>
  





</div>

  <div class="process-thumb">
  <!--
  <button type="submit" id="inputResumeButton" class="btn btn-small btTxt submit btn lg solid-green ng-binding" ng-disabled="runFromDisabled" ng-click="runFrom($parent.session.session.id)" tooltip-placement="top" tooltip="Resume execution">Resume</button>
  -->

  </div>

</div>


</div>




 
</div>
</div>