@(title: String = "", throwable: Option[Throwable])(implicit lang: Lang)

@views.html.auth.main("Something goes wrong") {
<style>
	.loginFlowPage .error {
    text-align: center;
    font-size: 35px;
    color: #6B6B6B;
    line-height: 128px;
    font-family: 'Manifold CF Demi Bold',sans-serif;
    font-weight: 800;
}

.loginFlowPage .error img {
    clear: both;
    display: block;
    margin: 0 auto;
    border: solid 1px #C3C3C3;
    box-shadow: 11px 0px 12px #DADADA;
}
.loginFlowPage .error small {
    font-size: 9px;
    color: #DDE0E8;
}
.loginFlowPage .error small::selection {
    background-color: black;
    color: white;
}

.error h1 {
  font-size: 47px;
  font-weight: 900;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.error h3 {
  font-size: 18px;
  margin-top: -62px;
  padding-top: 0px;
}

</style>
 <div class="error">
 <h1>Internal error</h1>
	<h3>We are fixing this erorr right now. If this issue extremely urgent you can call or text us to <a href="tel:+79090860451">Any Messenger</a></h3>

 <img src="/assets/images/error2.gif">
   <small> @throwable.getOrElse(" ")</small>
  </div>
}
