@(form: Form[String] ,token: java.util.UUID)(implicit request: RequestHeader)

@import b3.inline.fieldConstructor

@views.html.auth.main("Reset password | Minority") {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>Reset password</legend>
        @helper.form(action = routes.ResetPasswordController.submit(token), 'autocomplete -> "off") {
            <p class="info"></p>
            @b3.password(form("password"), '_hiddenLabel -> "password", 'placeholder -> "password", 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Reset</button>
                </div>
            </div>
        }
    </fieldset>
}
