@(signInForm: Form[forms.SignUpForm.Data])(implicit request: RequestHeader)

@import b3.inline.fieldConstructor

@views.html.auth.main(Messages("sign.up.title")) {

<div class="loginPage loginPage__login">
      <div class="loginView">
<div class="page-header">
 <h1 class="loginHeading">@Messages("custom.signIn")</h1>
</div>

@request.flash.get("success").map { msg =>
<div class="alert alert-info">
@msg
</div>
}
@request.flash.get("error").map { msg =>
<div class="alert alert-error">
@msg
</div>
}




</div>
    </div>

<div class="loginPage loginPage__register loginPage__active">
  <div class="loginView">
  <h1 class="loginHeading">@Messages("custom.signUp")</h1>

  @helper.form(action = routes.SignUpController.signUp(), 'id -> "email-form", 'class -> "loginInputs") {
              @helper.CSRF.formField
    <div>


      @b3.text(signInForm("firstName"),
      'id -> "r_name",
      '_label -> Messages("securesocial.signup.firstName"),
      'class -> "textField block",
      'placeholder -> "Steve")

      @b3.text(signInForm("lastName"),
      'id -> "r_name",
      '_label -> Messages("securesocial.signup.lastName"),
      'class -> "textField block",
      'placeholder -> "Doe")

      @b3.text(signInForm("email"),
      'id -> "name-11",
      '_label -> "E-mail",
      'class -> "textField block",
      'placeholder -> "some@email.com")

      @b3.text(signInForm("password"),
      'id -> "r_pass",
      '_label -> Messages("securesocial.signup.password1"),
      'class -> "textField block")
    </div>
    <p class="loginText">
      <button type="submit" id="r_submit" class="loginButton block actionOk" tabindex="13">@Messages("custom.signUpFor")</button>
    </p>
}

  <!--
<p class="loginText">@Messages("custom.haveAccount") <a class="switchView" tabindex="14" href="/login">@Messages("custom.signIn")</a>.</p>-->

  <p class="loginText smaller">@Messages("custom.byClicking") <a tabindex="15" href="#">@Messages("footer.terms")</a> @Messages("custom.and") <a tabindex="15" href="https://www.iubenda.com/privacy-policy/">@Messages("footer.privacy")</a>.</p>

</div>
</div>
x
}
