
 <ul>
<!-- CREATE SWITCHER  -->
 <form novalidate="novalidate" class="form-horizontal form-new-switcher">
    <div class="control-group form-group">
    </div>
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputBusinessId">Priority:</label>
      <div class="controls col-xs-4">
        <input type="number" class="form-control" id="inputBusinessId" ng-model="state.newSwitcher.priority"/>
      </div>
    </div>
        <input type="hidden" name="value" ng-model="state.newSwitcher.reflection" value="{{ bpelem.reflection }}">
        <input type="input" name="value" ng-model="state.newSwitcher.state_ref" ng-init="state.newSwitcher.state_ref = state.id">
        <input type="text" name="value" ng-model="state.newSwitcher.switch_type" ng-init="state.newSwitcher.switch_type = 'n'">
        <input type="text" name="value" ng-model="state.newSwitcher.fn" ng-init="state.newSwitcher.fn = 'n'">        
        <input type="text" name="value" ng-model="state.newSwitcher.target" ng-init="state.newSwitcher.target = 'n'">
        

        <select type="text" name="value" ng-model="state.newSwitcher.switch_type" ng-options="switcher_options">
        <select type="text" name="value" ng-model="state.newSwitcher.fn" ng-options="switcher_cmd">        
        <select type="text" name="value" ng-model="state.newSwitcher.target" ng-options="switcher_target">
    <div class="control-group form-group" ng-show="isManagerVal">
      <div class="controls col-xs-4">
        <a ng-click="createNewSwitcher(state.newSwitcher)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      </div>
    </div>
  </form>
 	<li ng-repeat="switcher in state.switches" class="ref-switcher">
 					{{ switcher.switch_type}} - {{ switcher.priority }} priority
 					<a ng-click="deleteSwitcher(switcher)">delete</a>
<!-- UPDATE SWITCHER -->          
 <form novalidate="novalidate" class="form-horizontal form-new-bpelem">
    <div class="control-group form-group">
    </div>
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputBusinessId">Priority:</label>
      <div class="controls col-xs-4">
        <input type="number" class="form-control" id="inputBusinessId" ng-model="switcher.priority"/>
      </div>
    </div>
        <input type="hidden" name="value" ng-model="switcher.reflection" value="{{ bpelem.reflection }}">
        <input type="input" name="value" ng-model="switcher.state_ref">
        <input type="text" name="value" ng-model="switcher.switch_type">
    <div class="control-group form-group" ng-show="isManagerVal">
      <div class="controls col-xs-4">
        <a ng-click="updateSwitcher(switcher)" class="btn btn-small btn-primary">UPDATE SWITCHER</a>
      </div>
    </div>
  </form>
 				</li>
 			</ul>