
 <ul>
<!-- CREATE REACTION  reaction, reaction_state_outs -->
 <form novalidate="novalidate" class="form-horizontal form-new-reaction">
    <div class="control-group form-group">
    </div>
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputBusinessId"> :</label>
      <div class="controls col-xs-4">
        <input type="number" class="form-control" id="inputBusinessId" ng-model="spelem.newReaction.reaction.reflection"/>
      </div>
    </div>
        <input type="checkbox" name="value" ng-model="spelem.newReaction.reaction.autostart">
        <input type="number" name="value" ng-model="spelem.newReaction.reaction.element">        
        <input type="number" name="value" ng-model="spelem.newReaction.reaction.from_state">

        <li ng-repeat="newStateOut in spelem.newReaction.reaction_state_outs" ng-init="spelem.newReaction.reaction_state_outs = []">
            <input type="number" class="form-control" id="inputBusinessId" ng-model="newStateOut.reaction"/>
            <input type="number" name="value" ng-model="newStateOut.state_ref">
            <input type="checkbox" name="value" ng-model="newStateOut.on">
            <input type="hidden" name="value" ng-model="newStateOut.element" ng-init="newStateOut.element = spelem.topo_id ">
        
            <input type="number" name="value" ng-model="newStateOut.on_rate">

        </li>
         <a ng-click="spelem.newReaction.reaction_state_outs.reaction_state_outs.pop()">Pop outs</a>

          <a ng-click="reaction_state_outs.push({on: true})">Add outs</a>
    <div class="control-group form-group" ng-show="isManagerVal">
      <div class="controls col-xs-4">
        <a ng-click="createReaction(spelem.newReaction)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      </div>
    </div>
  </form>
 	<li ng-repeat="reaction in spelem.reactions" class="ref-reaction">
 					{{ reaction.reaction.id}} - Reaction
          <a ng-click="deleteReaction(reaction.reaction.id)">delete</a>
          <li ng-repeat="reaction_out in reaction.reaction_state_outs">
            {{ reaction_out.id}} - Reaction Out
            {{ reaction_out.reaction }}
            {{ reaction_out.state_ref }}
            {{ reaction_out.on }}
            {{ reaction_out.on_rate }}
        <input type="number" class="form-control" id="inputBusinessId" ng-model="reaction_out.reaction"/>
        <input type="number" name="value" ng-model="reaction_out.state_ref">
        <input type="checkbox" name="value" ng-model="reaction_out.on">      
        <input type="hidden" name="value" ng-model="reaction_out.element" ng-init="reaction_out.element = spelem.topo_id ">
  
        <input type="number" name="value" ng-model="reaction_out.on_rate">

          <li>  
            <a ng-click="reaction.reaction_state_outs.pop()">Pop outs</a>
         <a ng-click="reaction.reaction_state_outs.push({on: true})">Add outs</a>
<!-- UPDATE REACTION -->          
 <form novalidate="novalidate" class="form-horizontal form-new-bpelem">
    <div class="control-group form-group">
    </div>
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputBusinessId"> :</label>
      <div class="controls col-xs-4">
        <input type="number" class="form-control" id="inputBusinessId" ng-model="reaction.reaction.reflection"/>
        <input type="checkbox" name="value" ng-model="reaction.reaction.autostart">
        <input type="number" name="value" ng-model="reaction.reaction.element">        
        <input type="number" name="value" ng-model="reaction.reaction.from_state">
      </div>
    </div>
    <div class="control-group form-group" ng-show="isManagerVal">
      <div class="controls col-xs-4">
        <a ng-click="updateReaction(reaction)" class="btn btn-small btn-primary">UPDATE REACTION</a>
      </div>
    </div>
  </form>
 				</li>
 			</ul>