<!-- CREATE SPACE -->
<form novalidate="novalidate" class="form-horizontal form-new-space">
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputBusinessId">space index</label>
      <div class="controls col-xs-4">
<input type="numner" id="inputBusinessId" placeholder="index" ng-model="bpelem.newSpace.index" value="1"/>

  </div>
  </div>

      <div class="control-group form-group">
          <input type="hidden" name="value" ng-model="bpelem.newSpace.container" ng-init="bpelem.newSpace.container=true">
          <input type="hidden" name="value" ng-model="bpelem.newSpace.reflection" ng-init="bpelem.reflection">
          <input type="hidden" id="inputBusinessId" ng-model="bpelem.newSpace.brick_front" ng-init="bpelem.newSpace.brick_front=bpelem.id" value="{{ bpelem.id }}"/>
          <input type="hidden" id="inputBusinessId" placeholder="nestingLevel" ng-model="bpelem.newSpace.nestingLevel" ng-init="bpelem.newSpace.nestingLevel" value="1"/>
          
        <div class="controls col-xs-4">
          <a ng-click="createSpace(bpelem.newSpace)" class="btn btn-small btn-primary">CREATE SPACE</a>
        </div>
      </div>
</form>





  <div class="ref-spaces">
    <div class="ref-space" ng-repeat="space in bpelem.spaces" class="ref-space">
     {{ space.id }} space {{ space.index }}
<!-- UPDATE SPACE -->     
<form novalidate="novalidate" class="form-horizontal form-update-space">
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputBusinessId">space index</label>
      <div class="controls col-xs-4">
<input type="numner" id="inputBusinessId" placeholder="index" ng-model="space.index" ng-init="indexNestedGen()"/>
  </div>
  </div>
  
      <div class="control-group form-group">
          <input type="hidden" name="value" ng-model="space.container" ng-init="space.container=true">
          <input type="hidden" name="value" ng-model="space.reflection" ng-init="space.reflection">
          <input type="hidden" id="inputBusinessId" ng-model="space.brick_front" ng-init="space.brick_front=bpelem.id" value="{{ bpelem.id }}"/>
          <input type="hidden" id="inputBusinessId" placeholder="nestingLevel" ng-model="space.nestingLevel" ng-init="space.nestingLevel" value="1"/>
  <div class="control-group form-group">
        <div class="controls col-xs-4">
          <a ng-click="updateSpace(space)" class="btn btn-small btn-primary">CREATE SPACE</a>
        </div>
      </div>
</form>

<div ng-include src="'partials/reflections/space_elems.html'"></div>
