
<!-- CREATE SPACE ELEM -->
  <form novalidate="novalidate" class="form-horizontal form-new-spaceelem" class="ref-spaceelem" ng-class="space.newSpaceelem.type_title">
      <div class="control-group form-group">
        <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
        <div class="controls col-xs-4">
          <input type="text" id="inputTitle" class="form-control" ng-model="space.newSpaceelem.title"/>
        </div>
      </div>
      <div class="control-group form-group"">
        <label class="control-label col-sm-1" for="inputBusinessId">{{ 'DESC' | translate }}:</label>
        <div class="controls col-xs-4">
          <textarea type="text" id="inputBusinessId" class="form-control" ng-model="space.newSpaceelem.desc"/>
        </div>
      </div>

          <input type="hidden" name="value" ng-model="space.newSpaceelem.reflection" ng-init="bpelem.reflection">
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.b_type"/>
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.type_title"/>
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.space_owned" ng-init="space.newSpaceelem.space_owned=space.id" value="{{ space.id }}"/>
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.space_role" ng-init="space.newSpaceelem.space_role" value="container"/>
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.order" value="{{ orderNestedGen(space.newSpaceelem) }}"/>
           <input type="text" id="inputTitle" class="form-control" placeholder="b_type" ng-model="space.newSpaceelem.b_type"/>
        <input type="text" id="inputTitle" class="form-control" placeholder="type_title" ng-model="space.newSpaceelem.type_title"/>

  <div class="control-group form-group"">
        <div class="controls col-xs-4">
          <a ng-click="createSpaceElem(space.newSpaceelem)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
        </div>
      </div>
    </form>



<div class="ref-space-elems">
<div class="ref-space-elem" ng-repeat="spelem in space.spelems" class="ref-spaceelem">
  <div class="info">
    <div class="type">{{ type_short[spelem.type_title] }}</div>
    <h4 class="title">{{ spelem.title }}</h4>
    <h6 class="desc">{{ spelem.desc }}</h6>
    <li><a ng:click="moveUpSpaceElem(spelem, spelem.reflection)"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
    <li><a ng:click="moveDownSpaceElem(spelem, spelem.reflection)"><span class="glyphicon glyphicon-arrow-down"></span></a></li>
    <a ng-click="deleteSpaceElem(spelem)">delete</a>

  <!-- UPDATE SPACE ELEMS -->  
  <form novalidate="novalidate" class="form-horizontal form-new-spaceelem" ng-class="space.newSpaceelem.type_title">
      <div class="control-group form-group">
        <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
        <div class="controls col-xs-4">
          <input type="text" id="inputTitle" class="form-control" ng-model="space.newSpaceelem.title"/>
        </div>
      </div>
      <div class="control-group form-group"">
        <label class="control-label col-sm-1" for="inputBusinessId">{{ 'DESC' | translate }}:</label>
        <div class="controls col-xs-4">
          <textarea type="text" id="inputBusinessId" class="form-control" ng-model="space.newSpaceelem.desc"/>
        </div>
      </div>

          <input type="hidden" name="value" ng-model="space.newSpaceelem.reflection" ng-init="bpelem.reflection">
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.b_type"/>
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.type_title"/>
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.space_owned" ng-init="space.newSpaceelem.space_owned=space.id" value="{{ space.id }}"/>
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.space_role" ng-init="space.newSpaceelem.space_role" value="container"/>
          <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.order" value="{{ orderNestedGen(space.newSpaceelem) }}"/>
           <input type="text" id="inputTitle" class="form-control" placeholder="b_type" ng-model="space.newSpaceelem.b_type"/>
        <input type="text" id="inputTitle" class="form-control" placeholder="type_title" ng-model="space.newSpaceelem.type_title"/>

  <div class="control-group form-group"">
        <div class="controls col-xs-4">
          <a ng-click="createSpaceElem(space.newSpaceelem)" class="btn btn-small btn-primary">UPDATE SPACE ELEM</a>
        </div>
      </div>
    </form>
<div ng-include src="'partials/reflections/spaceelem_states.html'"></div>
<div ng-include src="'partials/reflections/space_elem_reactions.html'"></div>



  </div>
