

/***
  Data table
 */

.process-indicator-data-table {
    width: 724px;
    overflow-x: scroll;
    margin: 0 auto;
    background: white;
    padding: 8px 22px;
}
.process-indicator-data-table-title {
    font-family: 'Open Sans';
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 600;
}


.process-indicator-data-table .indicator-data-table-container table {
    width: 100%;
    border: none;
}

.process-indicator-data-table .indicator-data-table-container table th.header {
    min-width: 150px;
}
.process-indicator-data-table .indicator-data-table-container table td {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans';
    text-shadow: none;
}
.process-indicator-data-table .indicator-data-table-container table td:first-child {
    background: #FBFBFB;
}

.process-indicator-data-table .indicator-data-table-container table tr {
    background: white;
}

.process-indicator-data-table .indicator-data-table-container table th.header {
    border: none;
    font-size: 12px;
    font-family: 'Open Sans';
    text-shadow: none;
}
.process-indicator-data-table .indicator-data-table-container table th.header:first-child {
    background: #9E9E9E;
    color: white;
}
.table.table-with-indicators thead {
    background: none;
}

.table.table-with-indicators thead th {
    border: none;
    font-size: 11px;
    text-align: center;
}

table.table.table-with-indicators {
    border: none;
}









/***
  Act table
 */

.act-data-table .act-object {
    background: white;
    margin-bottom: 22px;
    box-shadow: 1px 1px 11px #D6D6D6;
    border-bottom: solid 1px #66789C;
    border-radius: 3px;
}
.act-data-table .act-object .act-header {
    display: inline-block;
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 6px;
    padding-left: 8px;
    padding-top: 3px;
}

.act-data-table .act-object .act-acted {
    float: right;
    margin-top: 11px;
    margin-right: 20px;
    text-align: right;
}

.act-data-table .act-object .act-essentials {
    clear: both;
    border-top: solid 1px gray;
    text-shadow: none;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    display: flex;
    /* margin-right: -15px; */
    background: #586277;
}

.act-data-table .act-object .act-input {
    display: inline-block;
    float: left;
    /*width: 33.3%;*/
    widtH: 100%;
    text-align: center;
}

.act-data-table .act-object .act-base {
    /*width: 33.3%;*/
    widtH: 100%;
    display: inline-block;
    float: left;
    text-align: center;
}

.act-data-table .act-object .act-outputs {
    /*width: 33.3%;*/
    widtH: 100%;
    display: inline-block;
    text-align: center;
    float: left;
}

.act-data-table .act-object .act-input,
.act-data-table .act-object .act-base,
.act-data-table .act-object .act-outputs {
    background: #7386AD;
    color: white;
    padding: 11px;
    margin-bottom: 0px;
    border-right: solid 1px #5C6E94;
    position: relative;
}

.act-data-table .act-object .act-input.empty {
    width: 5%;
    text-indent: -999999px;
}


.act-icon {
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 3px;
}

.process-indicator-data-table-title {
    font-family: 'Open Sans';
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: 600;
    border-left: 1px solid #B7B7B7;
    margin-left: -22px;
    margin-top: -8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 7px;
    width: 95%;
    display: inline-block;
}
.process-indicator-data-table-expand-process {
    display: inline-block;
    float: right;
    border: solid 1px #DEDEDE;
    border-radius: 100px;
    text-align: center;
    height: 29px;
    width: 31px;
    line-height: 28px;
    padding-left: 1px;
    text-shadow: none;
    font-size: 14px;
    cursor: pointer;
}
.process-indicator-data-table-expand-process span.minicon.minicon-line-graph {
    color: #696969;
}
.act-data-table .act-object .act-essentials > div:last-child {
    border: none;
    /*width: 33.4%;*/
    width: 100%;
}



.act-header .act-process {
    font-size: 11px;
    font-weight: 900;
    font-family: 'Open Sans';
    text-shadow: none;
    color: #5D5D5D;
}

.act-data-table .act-object .act-input:before {
  content: ' ';
  position: absolute;
  width: 100%;
  display: block;
  height: 48px;
  background: rgb(125, 139, 165);
  top: 0px;
  left: 0px;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(255,255,255,.5) 8px, rgba(255,255,255,.5) 11px);
  background-color: #697EAB;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 57px);
  opacity: 0.2;
}


.act-base-object-pair {
    display: block;
    border-radius: 3px;
    clear: both;
    padding: 6px 6px;
    font-family: Proxima Nova;
    font-weight: 900;
    text-shadow: none;
    overflow: hidden;
    margin: 5px 8px;
}

.act-base-object-pair .act-base-object-key {
    display: inline-block;
    float: left;
    margin-left: 17px;
    background: #50648c;
    padding: 3px 22px;
    margin-bottom: -6px;
    border-radius: 3px;
}

.act-base-object-pair .act-base-object-value {
    display: inline-block;
    float: right;
}

.act-output-object-pair {
    display: block;
    border-radius: 3px;
    clear: both;
    padding: 6px 6px;
    font-family: Proxima Nova;
    font-weight: 900;
    text-shadow: none;
    overflow: hidden;
    margin: 5px 8px;
}

.act-output-object-pair .act-output-object-key {
    display: inline-block;
    float: left;
    margin-left: 17px;
    background: #50648c;
    padding: 3px 22px;
    margin-bottom: -6px;
    border-radius: 3px;
}
.act-output-object-pair .act-output-object-value {
    display: inline-block;
    float: right;
}


.act-data-table .act-object.finished path#svg_3 {
    fill: #8BC34A;
    stroke: #8BC34A;
}
.act-data-table .act-object.canceled path#svg_3 {
    fill: #F44336;
    stroke: #F44336;
}
.act-data-table .act-object.inprogress path#svg_3 {
    fill: #ffc107;
    stroke: #ffc107;
}

.act-data-table .act-object path#svg_3 {
        stroke-width: 7px;

}

.act-data-table .act-object path#svg_101 {
    stroke: #ffffff;
    fill: #bbbbbb;
    stroke-width: 11px;
}

.act-data-table .act-object path#svg_4 {
    stroke: #676767;
    fill: #676767;
}

.act-data-table .act-object path#svg_2 {
    stroke: white;
    fill: rgba(255, 255, 255, 0.99);
    translate: 0px 0px;
    transform: rotate(360deg);
    stroke-width: 1px;
}



