<div class="container">
  <h1>{{ 'PROCESS' | translate }} {{ process.title }}</h1>

  <form novalidate="novalidate" ng-submit="updateBP();" class="form-horizontal">
    <div class="control-group form-group">
      <label class="control-label col-sm-2" for="inputTitle">{{ 'TITLE' | translate }}</label>
      <div class="controls">
       <div class="col-xs-7">
              <input type="text" id="inputTitle" class="form-control" ng-model="process.title" placeholder="Great process" ng-minlength="3" ng-maxlength="10" required/>
       </div>
      </div>
    </div>    
    <input type="hidden" id="inputBusinessId" ng-init="process.business=1" required/>
    <div class="control-group form-group">
      <label class="control-label col-sm-2" for="inputBusinessId">{{ 'SERVICE' | translate }}</label>
      <div class="controls">
        <div class="col-xs-7">
          <select class="form-control" ng-model="process.service" ng-options="service.id as service.title for service in procServices" required></select><br>
        </div>
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <button ng-click="closeThisDialog()" class="btn btn-small">{{ 'CANCEL' | translate }}</button>
        <button type="submit" class="btn btn-small btn-primary">{{ 'UPDATE' | translate }}</button>
      </div>
    </div>
  </form>
</div>
