<div class="container">
  <h1>{{ 'CREATE_NEW_PROC' | translate }} </h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>

      <div class="controls">
 <div class="col-xs-4">
        <input type="text" id="inputTitle" class="form-control" ng-model="bprocess.title" placeholder="Title" required/>
 </div>
       </div>
    </div>


        <input type="hidden" id="inputBusinessId" ng-model="bprocess.business" ng-init="bprocess.business=business" placeholder="Business ID" required/>
        <input type="hidden" id="inputBusinessId" ng-model="bprocess.state_machine_type" ng-init="bprocess.state_machine_type='base'" placeholder="State machine type" required/>
        <input type="hidden" id="inputBusinessId" ng-model="bprocess.version" ng-init="bprocess.version=1" placeholder="State machine type" required/>

    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputBusinessId">{{ 'SERVICE' | translate }}:</label>
      <div class="controls">
 <div class="col-xs-4">
        <select class="form-control" ng-init="bprocess.service=parseInt($routeParams.service)" ng-model="bprocess.service" ng-options="service.id as service.title for service in procServices" required></select><br>
      </div></div>

    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="createNewBP()" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      </div>
    </div>
  </form>
</div>
