<div class="container">
<h3 class="primary">Invoking</h3>
<div class="initily-invoke">
  <h3>Run from scratch</h3>
<a ng-click="runInitially()" class="btn btn-big btn-success modal-success">Run</a>
</div>

<div class="empty-notice" ng-show="(bpstations | filter:filterExpression).length">
<h3>Arleady runned and paused:</h3>
</div>
<div class="stations input-stations" ng-repeat="station in bpstations | filter:filterExpression" style="clear: both;">
           <span class="number small {{ station.state }}">{{ $index + 1 }}</span>
           <p>
            {{ stationByProcess(station.id).id }}
            {{ stationByProcess(station.id).title }}
           
           </p>
            <div class=" col-md-9 col-lg-9 "> 

  <div class="station-markers">
    
  <ul class="station-states">
                      <li class="state started {{ station.started }}"> Started </li>
                      <li class="state paused {{ station.paused }}"> Paused </li>
                      <li class="state finished {{ station.finished }}"> Finished </li>
  </ul>
  </div>
  <!--          <p> station.started — {{ station.started}} </p>
            <p> station.finished — {{ station.finished}} </p>
            <p> station.state — {{ station.state }}</p> 
            <p> station.step — {{ station.step }}</p>
            <p> station.space — {{ station.space }}</p>
            <p> station.container_step — {{ station.container_step }}</p> 
            <p> station.expand_step — {{ station.expand_step }}</p>
            <p> station.spaces_ids — {{ station.spaces_ids }} </p>
            <p> station.inspace — {{ station.inspace }}</p>
            <p> station.incontainer — {{ station.incontainer }}</p>
            <p> station.inexpands — {{ station.inexpands }}</p>
            <p> station.paused — {{ station.paused }}</p>
--> 
          <h3><a ng-click="expand = !expand">Logs</a></h3>
          <div class="slide" ng-show="expand">

          <div class="logs" ng-repeat="log in logsByStation(station.id)">



<table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td> Element </td>
                        <td> Space_elem </td>
<td> Station </td>
<td> Invoked </td>
<td> Expanded </td>
<td> Container </td>
<td> Date </td>
<td> Step </td>
<td> Comps </td>

                      </tr>
                      <tr>
<td> {{ elemsHash[log.element].id }} {{ elemsHash[log.element].title }} — {{ elemsHash[log.element].type_title }}  </td>
<td> {{ spaceElemHash[log.space_elem].id }} {{ spaceElemHash[log.space_elem].title }} — {{ spaceElemHash[log.element].type_title }}  </td>
<td> {{ log.station }} </td>
<td> {{ log.invoked }} </td>
<td> {{ log.expanded }} </td>
<td> {{ log.container }} </td>
<td> {{ log.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }} </td>
<td> {{ log.step }} </td>
<td> {{ log.comps }} </td>
            </tr>
                    </tbody>
                  </table>

           
          </div>
        </div>


          <div ng-if="station.paused == true">

<div ng-include src="'partials/treeInStation.html'"></div>
          <a ng-click="haltStation(station.id)" class="btn btn-big btn-danger">Turn down</a>
          <div class="runFrom">
          <h3>Run from specific active point</h3>
          <div class="params">

        </div>
        
          <!-- <button ng-click="addParam(station)" class="btn btn-big btn-success">Add input params</button> -->




              <div ng-repeat="bpelem in station.proc_elems | filter:filterInputs " class="controls inputRequests">
                   <div class="request">
                    <p>{{bpelem.title}}</p>
                     <select ng-model="bpelem.param" class="forParam" ng-options="param.name as param.name for param in params" required></select><br>
                    <!--<button ng-click="addParam(station, bpelem, null,bpelem.param)" class="btn btn-big btn-success">Add input params</button>-->

              <div class="params" ng-repeat="cont in station.params">
                <pre>{{ cont.param }} {{ bpelem.id }}</pre>
                
              </div>
                </div>
                

              </div>
              <div ng-repeat="spaceelem in station.space_elems" class="controls inputRequests">
                   <div class="request">
                    <p>{{spaceelem.title}}</p>
                    <select ng-model="spaceelem.param" class="forParam" ng-options="param.name as param.name for param in params" required></select><br>
                    <!--<button ng-click="addParam(station, null, spaceelem, spaceelem.param)" class="btn btn-big btn-success">Add input params</button>-->

                </div>
              </div>

          <a ng-click="runFrom(station.id, station)" class="btn btn-big btn-success">Run from</a>

          </div>
          </div>
          {{ bplogs }}

           <hr>
          </div>

        
 
</div>