<div class="container">

<div class="initily-invoke">
  <h3>Run from scratch</h3>
<a ng-click="runInitially()" class="btn btn-big btn-success">Run</a>
</div>
<pre>Change to only active station</pre>
<div class="stations" ng-repeat="station in stations | filter:filterExpression"style="clear: both;">
           <h3>Station #{{ $index+1 }}</h3>
           <p>
            {{ stationByProcess(station.id).id }}
            {{ stationByProcess(station.id).title }}
           
           </p>
            <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td> station.started </td>
<td> station.finished </td>
<td> station.state </td>
<td> station.step </td>
<td> station.space </td>
<td> station.container_step </td>
<td> station.expand_step </td>
<td> station.inspace </td>
<td> station.incontainer </td>
<td> station.inexpands </td>
<td> station.paused </td>
                      </tr>
                      <tr>
            <td> {{ station.started}} </td>
            <td>{{ station.finished}} </td>
            <td>{{ station.state }}</td> 
            <td> {{ station.step }}</td>
            <td> {{ station.space }}</td>
            <td>{{ station.container_step }}</td> 
            <td> {{ station.expand_step }}</td>
            <td> {{ station.inspace }}</td>
            <td> {{ station.incontainer }}</td>
            <td> {{ station.inexpands }}</td>
            <td>    {{ station.paused }}</td>
            </tr>
                    </tbody>
                  </table>
           <p>
          
          </p> 
          <h3>Logs</h3>
          <p>
          <div class="logs" ng-repeat="log in logsByStation(station.id)">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td> log.element </td>
<td> log.station </td>
<td> log.invoked </td>
<td> log.expanded </td>
<td> log.container </td>
<td> log.date </td>
<td> log.step </td>
<td> log.comps </td>

                      </tr>
                      <tr>
<td> {{ log.element }} </td>
<td> {{ log.station }} </td>
<td> {{ log.invoked }} </td>
<td> {{ log.expanded }} </td>
<td> {{ log.container }} </td>
<td> {{ log.date }} </td>
<td> {{ log.step }} </td>
<td> {{ log.comps }} </td>
            </tr>
                    </tbody>
                  </table>
          </div>
          <div ng-if="station.paused == true">
          <a ng-click="haltStation(station.id)" class="btn btn-big btn-danger">Halt</a>
          <div class="runFrom">
          <h3>Run from specific active point</h3>
          <pre> Parameters for run from </pre>
          <div class="params">
          <div class="param">
              <p>Confirm block</p>
              <div ng-repeat="cont in station.params" class="controls">
                   <input type="number" class="xdTextBox" ng-model="cont.elem"/>
                   <input type="text" class="xdTextBox" ng-model="cont.param" value="confirmed"/>
              
                </div>
          </div></div>
          <button ng-click="addParam(station)">Add input params</button>
          <a ng-click="runFrom(station.id, station)" class="btn btn-big btn-success">Run from</a>
          </div>
          </div>
          {{ bplogs }}

           <hr>
          </div>


<!--
<div class="tabbable tabs-below">
  <ul class="nav nav-pills">
    <li ng-class="{active: selectedTab == 1}">
      <a href="/#/show-detail/{{bpid}}" ng-click="selectedTab = 1;">info</a>
    </li>
    <li ng-class="{active: selectedTab == 2}">
      <a href="/#/show-detail/{{bpid}}" ng-click="selectedTab = 2;">station</a>
    </li>
    <li ng-class="{active: selectedTab == 3}">
      <a href="/#/show-detail/{{bpid}}" ng-click="selectedTab = 3;">elements</a>
    </li>
        <li ng-class="{active: selectedTab == 4}">
      <a href="/#/show-detail/{{bpid}}" ng-click="selectedTab = 4;">logger</a>
    </li>
    <li> <a href="/#/bprocesses">Back</a></li>
  </ul>
  

  <div class="tab-content" ng-show="selectedTab == 1">
  </div>
   <h1>BP detail</h1>
    <pre>{{ bprocess }}</pre>
    <pre>{{ stations }}</pre>
    <div ng-repeat="station in stations">
        <pre>{{ station }}<pre>
        <button><a ng-click="invokeBP(bpid);">Invoke from</a></button>
      <div>
   <pre>Business process ID: {{ bpid }} 
        Invoke result: {{ invoke_res | json }}
   </pre></div>
   <a href="/#/show-detail/{{bpid}}" ng-click="invokeBP(bpid);">Invoke</a>
  
  <div class="tab-content" ng-show="selectedTab == 2">
    <h3>Station</h3>
        <pre> {{ user.station[user.station.length-1] | json }}</pre>
  </div>
  
  <div class="tab-content" ng-show="selectedTab == 3">
     <h3>Elements</h3>
        <pre>{{ user.elements | json }}</pre>
  </div>
   <div class="tab-content" ng-show="selectedTab == 4">
    <h3>Logger</h3>
        <pre> {{ user.logger | json }}</pre>
  </div>
</div>
-->

        
 
</div>