@(boardId: String, entity_id:String, id: Option[String], form: Form[models.Slat], files: Option[String])(implicit messages: Messages)

@main("Edit slat") {
  <div class="row form-container">
  <div class="span8">
  <h2>
    @if(!id.isDefined) {
      Add
    } else {
      Edit
    } an slat</h2>
  @helper.form(if(!id.isDefined) routes.SlatController.create(boardId, entity_id) else routes.SlatController.edit(boardId,entity_id, id.get)) {
      @helper.inputText(form("title"))    
      @helper.textarea(form("sval"))
      @helper.textarea(form("meta"))
      <div class="form-actions">
        <input class="btn btn-primary" type="submit">
      </div>
  }
  </div>

}
