

<div class="allStations allStationsList">
<!--<h1>{{ 'SESSIONS' | translate }}</h1>-->



<div class="active-switcher">
<input type="checkbox" class="switch" id="switch-1" data-ng-model="onlyActive"/>
</div>
  
<div class="station-filters">
  <ul>
    <li><input date-range-picker class="form-control date-picker" type="text" placeholder="Date range" ng-model="date" /></li>
    <li><label><input type="checkbox" name="canceled" value="true" data-ng-model="onlyCanceled"/>{{ 'CANCELED' | translate }}</label>
    </li>
    <li><label><input type="checkbox" name="finished" value="true" data-ng-model="onlyFinished"/>{{ 'FINISHED' | translate }}</label>
    </li>
    <li><label><input type="checkbox" name="listed" value="true" data-ng-model="onlyListed"/>Listed</label>
    </li>
  </ul>
</div>  

  
  
<script>
document.addEventListener('touchmove', function(e){}, false);
var _switch   = document.getElementById("switch-1"),
    switchHit = false,
    hasTouch  = false;
function toggleHit(){ if(!switchHit){ switchHit = true; _switch.classList.add("hit"  ); }}
function setTouch() { if(!hasTouch) { hasTouch = true;  _switch.classList.add("touch"); }}
_switch.onclick = toggleHit;
_switch.ontouchstart = function(e){ setTouch(); e.preventDefault(); e.target.click(); }
</script>


<div class="session-process">

<h2><a href="/a#/bprocess/{{ sessions.process.id }}">{{ sessions.process.title }}</a></h2>

<div class="process_content">
          <div ng-include src="'assets/partials/treeThumb.html'"></div>
</div>
<div class="stations" ng-repeat="session in sessions.sessions | limitTo: 10 | filter: isOnlyActive | filter: { session: onlyListed }" style="clear: both;">

        <div class="session__header">
              <span class="number {{ session.station.state }}" ng-class="bubbleClass(session)" tooltip="{{bubbleTooltip(session)}}">{{ $index + 1 }}</span>
              <a href="/a#/bprocess/{{ sessions.process.id }}/elements?session={{ session.session.id }}">Session # {{ $index }} — {{session.station.note }}</a>


<abbr class="session__header__created_at" title="{{ session.session.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="session.session.created_at"></abbr>

              <a ng-click="unlisted(session.session)" ng-show="session.session.onlyListed">Unlisted</a>
        </div>      
<div class="progress">
   <div class="progress-bar" role="progressbar" aria-valuenow="{{session.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{session.percent}}%;">
    <span>{{session.percent}}%</span>
   </div>
</div>              
              
           <!--<p>
            {{ stationByProcess(station.id).id }}
            {{ stationByProcess(station.id).title }}
          </p>-->

<div class="row">
<div class="col-xs-3 state-box-container">
  <!--
  <div class="station-markers">
  <ul class="station-states">
                      <li class="state started {{ session.station.started }}"> {{ 'STARTED' | translate }} </li>
                      <li class="state paused {{ session.station.paused }}"> {{ 'PAUSED' | translate }} </li>
                      <li class="state finished {{ session.station.finished }}"> {{ 'FINISHED' | translate }} </li>
    <li class="state canceled {{ station.canceled }}"> {{ 'CANCELED' | translate }} </li>
  </ul>
  </div>-->
  <div class="station-settings">
  <div class="note">
    <input type="text" class="station-note" ng-model="station.note">
    <a ng-click="updateNote(station)" ng-show="isManagerVal">Update note</a> 
  </div>

</div>
  
</div>
</div>


<div ng-if="station.paused == true && station.finished == false">
<a ng-click="haltStation(station.id)" class="btn btn-danger btn-big" ng-show="isManagerVal">{{ 'TURN_DOWN' | translate }}</a>
</div>

          
</div>


</div>
</div>

</div> <!-- session-process -->