@import service.DemoUser
@(serviceForm: Form[models.DAO.resources.BusinessDTO], user: DemoUser)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f)}

@main("Add business", user) {
<!-- Begin page content -->
<div class="container">
<div class="page-header">
<h1>Add an business</h1>
</div>

<div class="row">
<div class="col-md-8">
@form(routes.BusinessController.create_new()) {
<fieldset>



@inputText(serviceForm("title"), '_label -> "Name", 'class -> "form-control")
</fieldset>

<div class="actions">
<input type="submit" value="Create this business" class="btn btn-primary"> or
<a href="@routes.BusinessController.index()" class="btn btn-default">Cancel</a>
</div>  
}
</div>

</div>
</div>
}