@import service.DemoUser
@(id: Int, serviceForm: Form[models.DAO.resources.BusinessServiceDTO], user: DemoUser)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f)}

@main(Messages("businesses.editService"), user) {
<!-- Begin page content -->
<div class="container">
<div class="page-header">
<h1>@Messages("businesses.editService")</h1>
</div>

<div class="row">
<div class="col-md-8">
@form(routes.BusinessServiceController.update_make(id)) {
<fieldset>



@inputText(serviceForm("title"), '_label -> Messages("businesses.serviceName"), 'class -> "form-control")
</fieldset>

<div class="actions">
<input type="submit" value="Update this service" class="btn btn-primary"> @Messages("custom.or")
<a href="@routes.ProfileController.profile()" class="btn btn-default">@Messages("custom.cancel")</a>
</div>
}
</div>

</div>
</div>
}
