
@import controllers.employeeParams
@import controllers.managerParams
@import controllers.planInfo
@import models.DAO.resources.ActPermission
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import controllers.BusinessServiceForms._

@(user: models.User2)(implicit request: RequestHeader)

@import play.api.{Logger, Play}
@import helper._
@import play.api.Play
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import helper._



@main(Messages("page.walkthrough"), user) {
<b>Walkthrought</b>
}
