<div class="tableMinListWrap">
  <a class="createMin ajaxLink cacheable" id="createNewProcessBtn" ng-click="createNewBP()" ng-show="isManagerVal">
    <span class="plusSign vIco vPlusSquare vShineState"></span> {{ 'NEW_PROCESS' | translate }}</a>

  <div class="service-helper" ng-show="service_id != null">
    <a ng-click="allServices()">{{ 'ALL_SERVICES' | translate }} </a>
  </div>
  <div class="tableMinListFilter search-process-input filterLayer">
    <span class="magnifyGlass vIco vLoupe vLight2State"></span>
    <input type="text" size="41" ng-model="searchValue"
    data-toggle-class="hidden"
    class="filterInput tableMinListFilterInput"
    placeholder="{{ 'SEARCH_PROC' | translate }}">
  </div>
<style>
.empty-reponse {
    margin-left: 0px;
    width: 94.1%;
}
.empty-reponse img {
  width: 48%;
  height: 277px;
  display: block;
  margin: 38px auto;
  border: solid 1px #d4d4d4;
  box-shadow: 1px 2px 3px #8f8c8c;
}</style>
<div class="panelLike organisationsGridLike">
<div class="empty-reponse" ng-init="isEmptyProcesses = false;" ng-show="isEmptyProcesses" ng-cloak>
  You have no process. Create one by describing simple workflow. Then come back here
<img src="/assets/images/process_create.gif">
</div>

  <ul ul id="tablemin" class="tableMinList processList">
  <div class="process" ng-init="bprocesses = [];" ng-repeat="bprocess in bprocesses | toProcessArray | orderBy: '-created_at' | filter:search()">
    <div class="process-status">
    <div class="fastElCreateBtn">
      <a class="fastElFormButton" ng-click="switchFastElementForm(bprocess)" uib-tooltip="Add element" tooltip-side="left">+</a>
    </div>
    <li class="tableMinListItem frontProcessInfo" ng-hide="bprocess.fastElForm">
      <h2 class="tableMinListName">
        <a class="tableMinName vIcoIn" href="/a#/bprocess/{{ bprocess.id }}/elements" id="processTitle">{{ bprocess.title }}</a>
        <span class="tableMinVanity">{{ filterService(bprocess.service) }}</span>
      </h2>
      <div class="process_content" ng:show="emptyElemCheck(bprocess.trees)">
        <div ng-include src="'assets/partials/treeThumb.html'"></div>
      </div>
      <div class="tableMinListControls processListControls" ng-show="isManagerVal">
        <!--
        <a class="tableMinControlsLink ajaxLink tableMinLinkPeople" ng-click="perm(bprocess.id)"><span class="uicon-svg98"></span> {{ 'PEOPLE' | translate }} </a>
        <a class="tableMinControlsLink teamSettingsLink tableMinLinkSettings" ng-click="modalShare(bprocess.id)">
        <span class="minicon-share"></span> {{ 'SHARE' | translate }}</a>
        <!--
          <a class="tableMinControlsLink teamSettingsLink tableMinLinkSettings" href="/a#/launches?process={{ bprocess.id }}"><span class="uicon-svg372"></span>{{ 'STATIONS' | translate }}</a>
        <a class="tableMinControlsLink teamSettingsLink tableMinLinkDelete"
        id="processDeleteButton"
        ng-click="deleteBP(bprocess.id)"> <span class="minicon-trash"></span> {{ 'DELETE' | translate }} </a>
        -->

      </div>
      <div class="process-thumb" ng:show="emptyElemCheck(bprocess.trees)" ng-init="bprocess.loading=false;">
        <p class="tableMinListGithub">
          <a class="redButton" ng-show="!bprocess.loading" id="launchProcessButton" ng-click="run(bprocess)" tooltip-placement="left" uib-tooltip="Launch process" tooltip-side="left"></a>
          <div class="jawn" ng-show="bprocess.loading"></div>
        </p>
      </div>

      <div class="process-remove-aside-button">
        <a class="tableMinControlsLink teamSettingsLink tableMinLinkDelete"
        id="processDeleteButton"
        ng-click="deleteBP(bprocess.id)"> <span class="minicon-trash"></span></a>
      </div>


    </li>
    <!-- Fast element form -->
    <li class="tableMinListItem fastElementForm nga-fast nga-stagger-fast nga-squash-right" ng-show="bprocess.fastElForm">
      <div ng-include src="'assets/partials/bprocesses/fastElementCreation.html'"></div>
          <div class="fastElCreateBtn">
            <a class="fastElFormButton" ng-click="switchFastElementForm(bprocess)" uib-tooltip="Close form" tooltip-side="left">-</a>
          </div>
    </li>
    <!-- Fast element form /-->
    </div>

    <!--
    <div class="stations">
      <div ng-include src="'assets/partials/bprocesses/launchesBar.html'" class="launches-bar"
           ng-repeat="session in bprocess.sessions[0].sessions | filter: filterForActiveLaunch"></div>
    </div> -->


  </div>
  </ul>
</div>
</div><!-- <div class="tableMinListWrap"> -->




<script>


$('.menu-hamburger').click(function(ev) { ev.preventDefault(); $('.menu-hamburger').toggleClass('open')});
</script>
