<div class="fast-element-aside">
<div class="fast-element-form-close">
  <a ng-click="$parent.switchFastElementForm(bprocess)">X</a>
</div>
<div class="fast-element-show-model">
  <a href="/a#/bprocess/{{ $parent.bprocess.id }}/elements">Model</a>
</div>
<div class="fast-element-tree">
  <div ng-include src="'assets/partials/treeThumb.html'"></div>
</div>

</div>
<style>
  .fastNewElemFormContainer .new-elem-ref-actions-selected {
    display: inline-block;
    float: left;
}

.fastNewElemFormContainer .form-group.element-form-fields.primary-fields {
    display: inline-block;
    float: left;
    width: 50%;
}
</style>

<div class="fastNewElemFormContainer" ng-controller="BPelementListCtrl" ng-init="bp=$parent.bprocess;BPid=$parent.bprocess.id">
<form novalidate="novalidate" class="form-horizontal form-fast-element-create">
    <div class="form-group element-form-fields primary-fields">
    <div class="control-group">
      <h3>Add element in {{ $parent.bprocess.title }} process</h3>
    </div>


    <div class="ref-select-container clearfix" 
    ng-hide="newBpelem.refSelectHidden" 
    ng-init="newBpelem.selectedRef != undefined ? newBpelem.refSelectHidden=false : refSelectHidden=true;">
      <select style="display:none;" 
              name="category" 
              id="categorySelect" 
              ng-model="newBpelem.refCategoryFilter" 
              ng-init="newBpelem.refCategoryFilter = refCategories[0]" 
              ng-options="option for option in refCategories">
              <option value="0" selected="selected">Base</option>
      </select>
    <div class="templateButton form-group clearfix">
      <div class="ref col-xs-6" ng-repeat="ref in $parent.$parent.refs | filter: ref.hide == false" ng-class="{selected: newBpelem.selectedRef.ref.id == ref.ref.id }">
        <a ng-mouseover="$parent.$parent.refElem(ref, newBpelem)" ng-click="newBpelem.refSelectHidden=true;" class="btn btn-small btn-primary container_brick" ng-class="isSelected(ref, newBpelem.elem)">{{ ref.ref.title }}</a>
      </div>
    </div>
    <!--
    <div class="ref-desc form-group col-xs-8">
      <h6>{{ newBpelem.selectedRef.ref.title }}</h6>
      <p>{{ newBpelem.selectedRef.ref.desc }}</p>
      <ul>
        <li ng-repeat="state in newBpelem.selectedRef.bpstate"><span>State: {{state.title}}</span></li>
      </ul>
    </div>   -->
    </div>


    <div class="head-fields" ng-show="newBpelem.refSelectHidden == true;">
    <div class="form-group element-form-fields control-group clearfix">
      <div class="controls col-xs-2">
        <label class="control-label col-sm-1" for="fastElemTitle">Title</label>
      </div>
      <div class="controls col-xs-5">
        <input type="text" id="fastElemTitle" class="form-control" ng-model="newBpelem.title"/>
      </div>

    </div>
    <div class="form-group element-form-fields control-group clearfix">
      <div class="controls col-xs-2">
        <label class="control-label col-sm-1" for="fastElemDesc">{{ 'DESC' | translate }}</label>
      </div>
      <div class="controls col-xs-5">
        <textarea type="text" class="form-control" id="fastElemDesc" ng-model="newBpelem.desc"/>
      </div>
    </div>

    <div class="form-group element-form-fields control-group clearfix">
    <div class="controls col-xs-2">
          <label class="control-label ng-binding type-label" for="inputElType">Type</label>
    </div>
      <div class="controls col-xs-2">
          <span class="selectedRefType">{{ newBpelem.selectedRef.ref.title }}</span>
            <a ng-click="newBpelem.refSelectHidden=false;" ng-show="newBpelem.refSelectHidden == true;" class="expand-ref-select"><span class="moicon moicon-info expand-ref-select"></span></a>
      </div>
    </div><!-- form-group element-form-fields -->
      <div class="control-group people-control-group">
      <div class="form-group element-form-fields">
      <div class="form-group control-group clearfix">
        <div class="controls col-xs-6" ng-init="newBpelem.perms = [];">
          <div class="perms perm-list" ng-repeat="perm in newBpelem.perms" ng-init="perm.account = accFetch(perm)">
            <span class="account-pic" tooltip="{{ perm.account.tooltip }}">
                <img ng-src="{{ perm.account.avatarUrl}}" alt="{{ perm.account.tooltip }}">
                <a ng-click="delPermForForm(perm,newBpelem.perms)" class="btn-delete minicon"></a>
            </span>
          </div>
          <!--<select id="inputPerm" disable-auto-validate="true" ng-model="newBpelem.perm" class="forUID" ng-options="employeegroup as credFetch(employeegroup) for employeegroup in employees_groups" multiple></select>-->
  <div class="people-select-container">

  <ui-select multiple close-on-select="false" disable-auto-validate="true" ng-init="newBpelem.perm=[];"ng-model="newBpelem.perm" style="min-width: 300px;" title="Choose a persons">
    <ui-select-match placeholder="Select a person in the list or search his name...">{{ credFetch($item) }}</ui-select-match>
    <ui-select-choices repeat="employeegroup in employees_groups">
      <div ng-bind-html="credFetch(employeegroup) | highlight: $select.search"></div>
      <small>
        {{credFetch(employeegroup)}}
      </small>
    </ui-select-choices>
  </ui-select>
</div>

          <!--<a ng-click="createPermForForm(newBpelem.perm, newBpelem.perms, 'front')" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>-->
        </div>
      </div>
      </div>
    </div>


</div>

</div>
<div class="new-elem-ref-actions-selected">
<div class="new-elem-ref-actions-select" ng-repeat="action in newBpelem.selectedRef.reactions">
  <div class="new-elem-ref-actions-select__header">
    <div class="new-elem-ref-actions-select__action-title">
      {{ action.title }}
    </div>

  </div>

  <div class="new-elem-ref-actions-select__action-pipes">
    <div class="new-elem-ref-actions-select__action-pipes__inputs">
      Inputs
    </div>
    <div class="new-elem-ref-actions-select__action-pipes__bases">
      Bases
    </div>
    <div class="new-elem-ref-actions-select__action-pipes__outputs">
      Outputs
    </div>
  </div>


<div class="new-elem-action__action-bases" ng-repeat="middleware in newBpelem.selectedRef.middlewares | filter:byReaction(action)">
  <div class="new-elem-ref-actions-select__middleware-title">
      {{ middleware.title }}
  </div>

    <div class="new-elem-strategy__strategy" ng-repeat="strategy in newBpelem.selectedRef.strategies | filter:byMiddleware(middleware)">
    <div class="new-elem-ref-actions-select__strategy-title">
          <a class="new-elem-ref-actions-select__strategy-link"
             ng-click="selectStrategy(strategy, middleware, action, newBpelem.selectedRef.bases)"
             ng-class="isStrategySelected(strategy, action) ? 'selected' : ''">{{ strategy.ident }}</a>
    </div>

    <div class="new-elem-action__action-base" ng-show="isStrategySelected(strategy, action)">
      <div class="form-horizontal new-elem-action__action-base__action-base-form">

        <div class="new-elem-action__action-base-field" ng-repeat="base in action.refStrategySelect.bases | filter:byStrategy(strategy)">
          <formly-form model="base.selectedStrategy" fields="fieldsForStrategy(strategy, action, base)">
          </formly-form>
        </div>
<!--
        <div class="form-group new-elem-action__action-base__action-base-form__field">
          <input type="text" name="name" class="form-control" value="">
        </div>
        <div class="form-group new-elem-action__action-base__action-base-form__field">
          <textarea name="name" class="form-control" rows="8" cols="40"></textarea>
        </div>
        <div class="form-group new-elem-action__action-base__action-base-form__field">
          <select class="" class="form-control" name="select">
            <option>0</option>
          </select>
        </div>
-->
      </div>
    </div>
  </div>


</div>


</div>


</div>



<!-- ref-select-container -->
    <!--
    <div class="control-group people-control-group">
      <div class="form-group element-form-fields">
      <div class="form-group control-group clearfix">
        <div class="controls col-xs-2">
          <label class="control-label col-sm-1" for="inputPerm">People</label>
        </div>
        <div class="controls col-xs-6" ng-init="newBpelem.perms = [];">
          <div class="perms perm-list" ng-repeat="perm in newBpelem.perms" ng-init="perm.account = accFetch(perm)">
            <span class="account-pic" tooltip="{{ perm.account.tooltip }}">
                <img ng-src="{{ perm.account.avatarUrl}}" alt="{{ perm.account.tooltip }}">
                <a ng-click="delPermForForm(perm,newBpelem.perms)" class="btn-delete minicon"></a>
            </span>
          </div>
          <select id="inputPerm" ng-model="newBpelem.perm" class="forUID" ng-options="employeegroup as credFetch(employeegroup) for employeegroup in employees_groups"></select>
          <a ng-click="createPermForForm(newBpelem.perm, newBpelem.perms, 'front')" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>
        </div>
      </div>
      </div>
    </div>
    <div class="control-group cost-control-group">
      <div class="form-group element-form-fields">
      <div class="form-group control-group clearfix">
        <div class="controls col-xs-2">
          <label class="control-label col-sm-1" for="inputPerm">Cost</label>
        </div>
        <div class="controls col-xs-6" ng-init="newBpelem.costs = [];">
          <div class="costs cost-list" ng-repeat="cost in newBpelem.costs">
            <span class="resource-block" tooltip="{{ cost.resource.title }}">
                {{ cost.resource.resource.title }} — {{ entityDecorator(cost.entities, cost.resource) }}
                <a ng-click="delElementResource(cost, newBpelem.costs)" class="btn-delete minicon"></a>
            </span>
          </div>
          <div class="input-resource-block">
               <span class="input-resource-block-title">Resouce</span>
              <select id="inputResource" ng-init="newBpelem.cost = {};" ng-model="newBpelem.cost.resource" ng-init="newBpelem.cost.resource=resources[0];newBpelem.cost.entity=newBpelem.cost.resource.entities[0]" ng-change="newBpelem.cost.entity=newBpelem.cost.resource.entities[0]" class="forResource" ng-options="res_cn as res_cn.resource.title for res_cn in resources"></select>
          </div>
          <div class="input-entity-block">
               <span class="input-entity-block-title">Entity</span>
              <select id="inputEntity" ng-model="newBpelem.cost.entities" class="forResource" ng-options="entity.id as entity.title for entity in newBpelem.cost.resource.entities"></select>
          </div>
          <a ng-click="createElementResource(newBpelem.cost, newBpelem.costs)" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>
        </div>
      </div>
      </div>
    </div> -->

    <input type="hidden" name="value" ng-init="newBpelem.business=$parent.bprocess.business" ng-model="newBpelem.business" value="{{ $parent.bprocess.business }}">
    <input type="hidden" name="value" ng-init="newBpelem.process=$parent.bprocess.id" ng-model="newBpelem.process" value="{{ $parent.bprocess.id }}">
    <input type="hidden" id="input_b_type" ng-model="newBpelem.b_type"/>
    <input type="hidden" id="input_type_title" ng-model="newBpelem.type_title"/>
    <input type="hidden" id="input_space_own" ng-model="newBpelem.space_own"/>
    <input type="hidden" id="input_order" ng-init="newBpelem.order" ng-model="newBpelem.order" value="{{ orderFrontGen(newBpelem) }}"/>
    <input type="hidden" id="input_ref" ng-model="newBpelem.ref"/>
    <div class="control-group form-submit form-group" style="clear:both;" ng-show="isManagerVal">
      <div class="controls">
        <button type="submit" ng-click="createNewElem(newBpelem, $parent.bprocess, loadProcesses)" class="btn btn-small btTxt submit btn lg solid-green ng-binding">{{ 'CREATE' | translate }}</button>
      </div>
    </div>
  </form>
</div>

