<div class="ember-view automations_connected">

<div class="ember-view dishes-list"><div class="ember-view dish-presentation" style="height: 75px;"><div class="dish-details">
  <div class="dish-state left">
    <span class="state-sign vertical-center error" data-bindattr-3038="3038"></span>
  </div>

    <div class="dish-error left">
      <span class="dish-label vertical-center left">
          Unknown error
      </span>
    </div>

    <div class="dish-summary left">
    <span class="dish-label fixed-width vertical-center left">Active</span>
    <div class="ember-view service_connector-icon left" style="background-image: url('https://s3-eu-west-1.amazonaws.com/sushio.prod/service_connector_logos/5171292359d601ad33000181/AmazonWebServices-Logo-500.thumb.png?1372436798');"></div>
    <div class="linking_dots-container left"><div class="linking_dots"></div></div>
    <div class="ember-view service_connector-icon left" style="background-image: url('https://s3-eu-west-1.amazonaws.com/sushio.prod/service_connector_logos/53f5ec2f7bb2d084af000001/open-uri20141014-2-7oamwe.thumb.?1413316482');"></div>
    <span class="dish-label fixed-width vertical-center left">Next</span>
  </div>

  <span class="dish-label vertical-center left">Prev</span>

  <div class="dish-delete right">
    <button class="icon-trash" data-ember-action="3046"></button>
  </div>

  <div class="dish-operations-collapser right visible" data-bindattr-3047="3047">
    <button class="menu-hamburger" ng-click="showInlineLaunch(station)">
      <span></span><span></span><span></span>
    </button>
  </div>
</div>

</div>
  
<div class="inline-launch" ng-animate="animate" ng-show="station.inlineLaunchShow">
  <div ng-include="" src="'partials/forms/inputs/inputs.html'"></div>
</div>

  
  
</div>
</div>
