<div id="edit">
 <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputTitle" ng-model="newBpelem.title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Desc:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newBpelem.desc"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">business:</label>
      <div class="controls">
        <input type="hidden" name="value" ng-model="newBpelem.business" value="1">
        <!-- <input type="number" id="inputBusinessId" ng-model="newBpelem.business"/> -->
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">bprocess:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newBpelem.bprocess"/> 
       
        <input type="hidden" name="value" ng-model="newBpelem.bprocess" value="{{ BPid }}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">b_type:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newBpelem.b_type"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">type_title:</label>
      <div class="controls">
        <input type="text" id="inputBusinessId" ng-model="newBpelem.type_title"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">space_own:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newBpelem.space_own"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">order:</label>
      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="newBpelem.order" value="{{ orderFrontGen(newBpelem) }}"/>
      </div>
    </div>
      <div class="control-group">
      <label class="control-label" for="inputBusinessId">Composite:</label>
      <div class="controls">
        <input type="text" id="input_a_string" ng-model="newBpelem.comps[0].a_string"/>
        <input type="text" id="input_b_string" ng-model="newBpelem.comps[0].b_string"/>
        <input type="number" id="input_a_int" ng-model="newBpelem.comps[0].a_int"/>
        <input type="number" id="input_b_int" ng-model="newBpelem.comps[0].b_int"/>
        <input type="checkbox" id="input_a_bool" ng-model="newBpelem.comps[0].a_bool"/>
        <input type="checkbox" id="input_b_bool" ng-model="newBpelem.comps[0].b_bool"/>
      
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
         {{ newBpelem | json }}
        <a ng-click="templateElem('container', newBpelem)" class="btn btn-small btn-primary">Container <span tooltip="Some container" tooltip-placement="bottom" class="glyphicon glyphicon-info-sign"></span></a>
        <a ng-click="templateElem('confirm', newBpelem)" class="btn btn-small btn-primary">Confirm <span tooltip="Some confirm" tooltip-placement="bottom" class="glyphicon glyphicon-info-sign"></span></a>
        <a ng-click="createNewElem()" class="btn btn-small btn-primary">Create</a>
        <a ng:click="newselected=0" class="btn btn-small btn-primary">Cancel</a>
      </div>
    </div>
  </form>
  </div>