#websiteHeader .headerLogotype {
position: absolute;
height: 66px;
width: 100px;
top: 0px;
left: 0px;
background: url('../images/minority-logo.svg') no-repeat scroll 0px 0px transparent;
background-size: contain;
}
.help-block {
  font-size: 10px;
margin-top: 0px;
display: block;
}

.website.loginFlow {
    background-color: #f0f1f4
}

.loginPage__password-recovery {
    padding-top: 100px
}

.loginFlowPage {
    margin: 0 auto;
    padding: 100px 20px 30px;
    min-height: 500px;
    overflow: hidden;
}

.loginFlowPage .loginInputs {
    position: relative;
}

.loginFlowPage .loginInputs > div {
    position: relative
}

.loginFlowPage .loginInputs input[type="email"] ~ .suggestionTip {
    top: 0
}

.loginFlowPage .loginInputs input ~ input[type="email"] ~ .suggestionTip {
    top: 2.45em
}

.loginFlowPage .suggestionTip {
    display: block;
    position: absolute;
    left: 100%;
    width: auto;
    margin-left: 10px;
    overflow: visible;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #4f5767;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 1;
    padding: 10px 14px 8px;
    color: #ccc;
    white-space: nowrap;
    opacity: .95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    display: block;
}

.loginFlowPage .suggestionTip:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -14px;
    margin-top: -7px;
    border: 7px solid transparent;
    border-right-color: #4f5767;
    height: 0;
    width: 0
}

.loginFlowPage .suggestionTip > span,.loginFlowPage .suggestionTip > strong {
    font-size: 80%
}

.loginFlowPage .suggestionTip > span:first-child {
    display: block
}

.loginFlowPage .suggestionTip > strong {
    max-width: 20em;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    word-wrap: break-all
}

.loginFlowPage .notUsed {
    width: 0;
    display: none;
    overflow: hidden;
    margin-left: 0;
    padding: 0;
}

.loginFlowPage .notUsed:after {
    display: none
}

.loginFlowPage .messageBoxWrap {
    margin: 0 auto;
    text-align: center
}

.loginFlowPage .message,.loginFlowPage .stateInfo,.loginFlowPage .stateOk {
    display: inline-block;
    text-align: center;
    padding: 16px 16px 13px;
    background-color: #f9e4e7;
    color: #a6606a;
    border: 1px solid #f0cdd2;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.loginFlowPage .stateInfo {
    background-color: #f9f4e5;
    color: #967c4e;
    border-color: #dec370;
}

.loginFlowPage .stateOk {
    background-color: #e1f4d3;
    color: #62814b;
    border-color: #97d966;
}

.loginFlowPage > .loginPage {
    display: none;
    position: relative;
    margin: 0 auto;
    left: 0;
    top: 0;
}

.loginFlowPage > .loginPage.loginPage__active {
    display: block
}

.loginFlowPage .loginView .loginView {
    padding-top: 0
}

.loginFlowPage .loginPage-twoColumns .loginPage {
    display: none;
}

.loginFlowPage .loginPage-twoColumns .loginPage.loginPage__active {
    display: block
}

.loginFlow .applicationFooter {
    float: none;
    width: auto;
    margin: 0;
    -webkit-box-shadow: 0 200px 0 #2b2f3e,0 400px 0 #2b2f3e,0 600px 0 #2b2f3e;
    box-shadow: 0 200px 0 #2b2f3e,0 400px 0 #2b2f3e,0 600px 0 #2b2f3e
}

.loginView {
    font-size: 18px;
    padding: 10px 0
}

.loginHeading {
    text-align: center;
    padding-bottom: 1.3em;
    font-size: 150%
}

.loginView .btnBasic,.loginView .signWithService,.loginView .loginButton {
    display: inline-block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer
}

.loginView .signWithService {
    width: 100%;
    padding: 1em;
    margin-bottom: 10px;
    background-color: #99c;
    font-weight: 600;
    position: relative;
    color: rgba(255,255,255,0.8);
}

.loginView .signWithService:hover {
    color: #fff;
}

.loginView .signWithService:hover:before {
    opacity: 1;
    -ms-filter: none;
    filter: none
}

.loginView .signWithFacebook {
    background-color: #55acee;
}
.loginView .signWithGoogle {
   background-color: #EB1F1F;
   color: white;
}

.loginView .signWithGh:before,.loginView .signWithFacebook:before, .loginView .signWithGoogle:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: .5em;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    background-repeat: no-repeat;
    height: 20px;
    width: 24px
}

.loginView .signWithGh:before {
    background-position: 0 0
}

.loginView .signWithFacebook:before, .loginView .signWithGoogle:before {
    background-position: 0 -100px
}

.loginView .loginTextAfterOr:after {
    content: 'or';
    text-transform: uppercase;
    display: block;
    padding: .5em 0 .7em
}

.loginView .loginText,.loginView .loginForm,.loginView .loginButton,.loginView .textField {
    display: block;
    margin: 1em 0 0 0
}

.loginView .textField,.loginView .loginButton {
    margin: 0;
    width: 100%;
    padding: .9em .9em .7em;
    font-size: 88%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal
}

.loginView .loginButton {
    border: none;
    text-transform: uppercase;
    line-height: 100%;
    padding: 1.2em 0 1em
}

.loginView a.loginButton,.loginView a.loginButton:hover {
    font-weight: normal;
    color: #fff;
}

.loginView a.loginButton.inviteButton,.loginView a.loginButton:hover.inviteButton {
    font-weight: bold
}

.loginView .textField {
    border: 1px solid #dce0eb;
    background-color: #fff;
    border-bottom-style: none;
    text-align: left;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

.loginView .textField:first-of-type {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.loginView .textField:last-of-type {
    border-bottom-style: solid;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.loginView .loginText {
    text-align: center;
    line-height: 1.5;
}

.loginView .loginText.smaller {
    padding-top: 1em;
    font-size: 75%
}

.loginView .smaller {
    font-size: 75%
}

.loginView h1.smaller {
    font-size: 1.7em
}

.loginView .actionOk {
    background-color: #7ccfaf
}

.inviteView {
    background-color: #fff;
}

.inviteView .loginPage:first-child {
    padding-top: 50px
}

.inviteView .inviteDetails {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.inviteView .inviteDetails img {
    height: 70px;
    width: 70px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    display: block;
    margin: 10px auto;
    border: 0;
    padding: 0
}

.inviteView .inviteButton {
    min-width: 280px;
    font-weight: bold
}

.inviteView .loginPage .loginView .loginHeading {
    display: none;
}

.inviteView .loginPage .loginView .loginHeading + p {
    margin-top: 1em
}

.inviteView:after {
    content: '';
    display: table;
    clear: both
}

.loginPage-twoColumns {
    float: left;
    margin: 0 auto;
    max-width: 380px;
    min-width: 380px;
    padding: 20px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media screen and (min-width: 761px) {
    .loginFlowPage {
        padding:200px 0 100px
    }

    .loginFlowPage .loginPage {
        max-width: 280px
    }

    .loginFlowPage .loginPage__welcome {
        max-width: 380px
    }

    .loginFlowPage .loginPage__invitation-landing-page {
        max-width: 760px
    }

    .loginPage-twoColumns + .loginPage-twoColumns {
        float: right
    }
}

@media screen and (max-width: 760px) {
    .loginFlowPage .inviteView .loginPage:first-child {
        padding-top:0
    }

    .loginFlowPage .loginPage-twoColumns {
        float: none;
        max-width: 640px;
        min-width: 100%;
        padding: 20px;
    }

    .loginFlowPage .loginPage-twoColumns:first-of-type {
        padding-bottom: 0
    }

    .loginFlowPage .loginPage-twoColumns:last-of-type {
        padding-top: 0
    }

    .loginFlowPage .loginInputs > div .textField.suggestionShowed {
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-style: solid
    }

    .loginFlowPage .loginInputs > div .textField ~ .suggestionTip:not(.notUsed) ~ .textField {
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    .loginFlowPage .loginInputs > div .suggestionTip {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .loginFlowPage .loginInputs > div .suggestionTip:after {
        left: 50%;
        top: -14px;
        margin: 0 0 0 -7px;
        border-color: transparent transparent #4f5767 transparent
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio:1.5),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi) {
    .loginView .signWithGh:before,.loginView .signWithFacebook:before, .loginView .signWithGoogle:before {
        -webkit-background-size:54px auto;
        -moz-background-size: 54px auto;
        background-size: 54px auto
    }

    .loginView .signWithGh:before {
        background-position: -32px 0
    }

    .loginView .signWithTw:before {
        background-position: -32px -50px
    }
}
