<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<!--
  <appender name="LE"
    class="com.logentries.logback.LogentriesAppender">
	<Debug>False</Debug>
    <Token>9f1d3824-14a2-4b2c-a6b2-90ff57a853a3</Token>
    <Ssl>False</Ssl>
    <facility>USER</facility>
    <layout>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
  </appender> -->
<appender name="PAPERTRAIL" class="ch.qos.logback.classic.net.SyslogAppender">
  <syslogHost><host>.papertrailapp.com</syslogHost>
  <port>XXXXX</port>
  <facility>USER</facility>
  <suffixPattern>my-app: %logger %msg</suffixPattern>  
</appender>
   <appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>/logs/access.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} %message%n</pattern>
        </encoder>
    </appender>


    <!-- additivity=false ensures access log data only goes to the access log -->
    <logger name="accesslog" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG_FILE" />
    </logger>  
<!--
  <root level="debug">
    <appender-ref ref="LE" />
  </root>-->

  
</configuration>
