.vIco {
    overflow: hidden;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.vIco:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 424px;
    content: '';
    background-color: rgba(255,255,255,0.001);
    background-image: url("/assets/images/icons-sprite-2-f90c355fa4e51812.svg");
    background-repeat: no-repeat;
}

.vAddMembers:after {
    background-position: 0 0;
}


.vGear:after {
    background-position: -100px 0;
}

.vPeople:after {
    background-position: -200px 0;
}

.vHelp:after {
    background-position: -300px 0;
}

.vSliders:after {
    background-position: -400px 0;
}

.vLocked:after {
    background-position: -500px 0;
}

.vTools:after {
    background-position: -600px 0;
}

.vArrow:after {
    background-position: -700px 0;
}

.vLogout:after {
    background-position: -800px 0;
}

.vLoupe:after {
    background-position: -900px 0;
}

.vRadio:after {
    background-position: -1000px 0;
}

.vPerson:after {
    background-position: -1100px 0;
}

.vPlusSquare:after {
    background-position: -1200px 0;
}

.vBook:after {
    background-position: -1298px 0;
}

.vSpeech:after {
    background-position: -1400px 0;
}

.vStackOverflow:after {
    background-position: -1500px 0;
}

.vAPIs:after {
    background-position: -1600px 0;
}

.vDocument:after {
    background-position: -1700px 0;
}

.vShineState:after {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.vDefaultState:after {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
}

.vDimmedState:after {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
}

.vContrastState:after {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
}

.vLight2State:after {
    -webkit-transform: translateY(-400px);
    -moz-transform: translateY(-400px);
    -o-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    transform: translateY(-400px);
}

.vIco.vEmpty:after {
    background-image: none;
}

.vIco.vBook {
    width: 24px;
}

.vIco.vStackOverflow {
    width: 21px;
    height: 26px;
}

.vIco.vStackOverflow:after {
    top: 4px;
}

a:hover .vIco.vDefaultState:after,.vIcoIn:hover .vIco.vDefaultState:after,.vIcoHover:hover .vIco.vDefaultState:after {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
}

.tipsy {
    line-height: 13px;
    font-size: 14px;
    position: absolute;
    padding: 6px;
    z-index: 100000;
    text-shadow: none;
    pointer-events: none;
    font-family: TitilliumText,'Proxima Nova',Helvetica,Arial,sans-serif;
}
.secondaryNavItem a:hover {
    text-decoration: none;
}
.tipsy-inner {
    background-color: #4f5767;
    color: #333;
    max-width: 200px;
    padding: 6px 8px 8px;
    text-align: center;
    font-weight: 800;
    pointer-events: none;
}

.tipsy-inner {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6px dashed #4f5767;
}

.tipsy-arrow-n {
    border-bottom-color: #4f5767;
}

.tipsy-arrow-s {
    border-top-color: #4f5767;
}

.tipsy-arrow-e {
    border-left-color: #4f5767;
}

.tipsy-arrow-w {
    border-right-color: #4f5767;
}

.tipsy-n .tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -6px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 12px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 12px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 12px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 12px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
    right: 0;
    top: 50%;
    margin-top: -6px;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -6px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

header.fullSize {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(250,251,252,0.001);
    min-width: 99%;
    height: 80px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.shadowRight:before,.minorityMenu .apiNameCell .apiSwitchName:before {
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    width: 1px;
    bottom: 20px;
    background-color: rgba(225,227,232,0.1);
}

.shadowLeft:before,.minorityMenu .apiNameCell:before,.minorityMenu .apiNameCell.switcherWrap:before,.minorityMenu .menuEntity:before,.minorityMenu .minMenuList.apiMenuIcons:before {
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 1px;
    bottom: 20px;
    background-color: rgba(225,227,232,0.1);
}

.minorityMenu {
    position: relative;
    min-width: 1020px;
    width: 100%;
    margin: 0 auto;
    background: #fafbfc;
    z-index: 10000;
    display: block;
    text-shadow: none;
}

.minorityMenu h1,.minorityMenu p,.minorityMenu ul,.minorityMenu li,.minorityMenu div,.minorityMenu hgroup,.minorityMenu a,.minorityMenu span {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    border: 0 none;
}

.minorityMenu .menuRow {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -o-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -o-box-lines: single;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.minorityMenu .menuCell {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.minorityMenu .menuCell.flexibleSpace {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
}

.minorityMenu .minorityLogo {
    display: inline-block;
    height: 80px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 80px;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    width: 80px;
}

.minorityMenu .apiNameCell {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-width: 150px;
    max-width: 500px;
}

.minorityMenu .apiNameCell.switcherWrap {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 250px;
    -ms-flex: 1 0 250px;
    flex: 1 0 250px;
}

.minorityMenu .createApiCell {
    vertical-align: middle;
}

.minorityMenu .plusSign,.minorityMenu .createMin {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -ms-transition-delay: 0;
    transition-delay: 0;
}

.minorityMenu .createMin {
    padding: 12px 30px 8px 57px;
    position: relative;
    line-height: 30px;
    font-weight: bold;
    background-color: #49cc90;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    text-shadow: none;
    display: block;
}

.minorityMenu .createMin .plusSign {
    position: absolute;
    top: 50%;
    left: 29px;
    margin-top: -9px;
}

.minorityMenu .createMin:hover {
    background-color: #31ad74;
    color: #fff;
}

.minorityMenu .minorityLogo {
    width: 100%;
}



.minorityMenu .minorityLogo a {
margin-top: 16px;
margin-left: 5px;
width: 71px;
height: 47px;
color: white;

}
.minorityMenu .minorityLogo a:hover {
border: none;
    }
.minorityMenu .apiSwitcher {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -ms-transition-delay: 0;
    transition-delay: 0;
}
.banner svg.svg-logo {
    width: 120px;
}

svg.svg-logo {
  width: 72px;
  height: 49px;
  margin-top: -1px;
  margin-left: 0px;
  background-color: transparent;
}
.silo path#svg_1 {
    fill: transparent;
}
.minorityLogo:hover polygon#e1_polygon {
  fill: #7FDBFF;
  transition: all .7s ease-in-out;
}
polygon#e1_polygon {
  fill: white;
}


.minorityMenu .apiSwitcher.switcherToggle {
    cursor: pointer;
}

.minorityMenu .apiSwitcher .dropdownIcon {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 15px;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    background-color: rgba(255,255,255,0.001);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -ms-transition-delay: 0;
    transition-delay: 0;
}

.minorityMenu .switcherWrap.selected .apiSwitcher,.minorityMenu .switcherWrap.selected .switcherToggle,.minorityMenu .switcherWrap:hover .switcherToggle,.minorityMenu .apiNameCell.switcherWrap .apiSwitcher:hover,.minorityMenu a.apiLines:hover {
    background-color: #e8ebf2;
}

.minorityMenu .switcherWrap.selected .switcherToggle,.minorityMenu .switcherWrap .switcherToggle:hover {
    color: #000;
}

.minorityMenu .apiSwitcher:hover .dropdownIcon {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.minorityMenu .switcherWrap.selected .apiSwitcher .dropdownIcon {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.minorityMenu .isPrivateApi .vIco {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -10px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.minorityMenu .apiLines {
    position: relative;
    vertical-align: top;
    display: block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 35px 0 30px;
    height: 80px;
}

.minorityMenu .isSelected {
    background-color: #e8ebf2;
}

.minorityMenu .apiName {
    padding-top: 24px;
    line-height: 20px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
}

.minorityMenu .apiName.oneLiner {
    line-height: 20px;
    padding-top: 30px;
}

.minorityMenu .apiOwner {
    font-size: 14px;
    line-height: 18px;
    display: block;
    font-style: normal;
    font-weight: normal;
    color: #555;
}

.minorityMenu .apiSwitcherLayer {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: auto;
    min-width: 100%;
    max-width: 500px;
    background-color: #f0f2f8;
    z-index: 10000;
}

.minorityMenu .apiSwitcherLayer .apiListItem {
    border-top: 1px solid #e1e3e8;
}

.minorityMenu .apiSwitcherLayer .apiListItem:first-child {
    border-top: none;
}

.minorityMenu .apiSwitcherLayer .apiListItem.isSelected {
    border-bottom: 1px solid #e1e3e8;
}

.minorityMenu .apiSwitcherLayer .apiLines {
    height: 70px;
}

.minorityMenu .apiSwitcherLayer .apiName {
    padding-top: 17px;
}

.minorityMenu .apiSwitcherLayer .apiName.oneLiner {
    padding-top: 25px;
}

.minorityMenu .apiSwitcherLayer .usersApisListFilter {
    background-color: #4f5767;
    color: #9098aa;
    height: 30px;
    padding: 11px 30px 9px;
    position: relative;
}

.minorityMenu .apiSwitcherLayer .magnifyGlass {
    position: absolute;
    left: 31px;
    top: 50%;
    margin-top: -9px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.minorityMenu .apiSwitcherLayer .usersApisListFilterInput {
    outline: none;
    position: relative;
    border: 0;
    background-color: rgba(0,0,0,0.001);
    color: #adb3be;
    text-shadow: none;
    text-indent: 23px;
    padding: .4em .5em .3em;
    margin: 0;
    display: block;
    font-size: 16px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.minorityMenu .apiSwitcherLayer .usersApisList {
    overflow-y: auto;
    max-height: 525px;
}

.minorityMenu .apiMenu {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 120%;
}

.minorityMenu .minMenuList.apiMenuIcons {
    display: table-row;
}

.minorityMenu .minMenuItem {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.minorityMenu .minMenuItem span {
    margin-right: 7px;
}
.minorityMenu .minMenuItem a {
    display: inline-block;
    padding: 31px 10px 29px;
    min-width: 0;
    float: left;
    height: 20px;
    line-height: 20px;
    color: #959cad;
    white-space: nowrap;
}

.minorityMenu .minMenuItem a.menuEntityLink {
    padding-right: 25px;
}
.themeDark .minorityMenu .minMenuItem a:focus {
    text-decoration: none;
}
ul.minMenuList.minMenuTexts {
  margin-left: 14px;
}

.minorityMenu .minMenuItem a.menuEntityLink .vIco {
    margin-top: -1px;
    float: left;
    margin-right: 10px;
}

.minorityMenu .minMenuItem a.selected,.minorityMenu .minMenuItem a:hover {
    color: #000;
}

.minorityMenu .apiMenuTexts .minMenuItem:first-child a {
    padding-left: 28px;
}

.minorityMenu .apiMenuTexts .minMenuItem:last-child a {
    padding-right: 28px;
}

.minorityMenu .minMenuItem .apiMenuIcons .minMenuItem a {
    float: left;
    min-width: 38px;
    padding: 30px 0;
}

.minorityMenu .minMenuItem #peopleLink {
    margin-left: 15px;
}

.minorityMenu .menuHelp {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.minorityMenu .menuHelp.selected .switcherToggle,.minorityMenu .menuHelp:hover .switcherToggle {
    background: none;
}

.minorityMenu .menuHelp .helpLinks {
    color: #959cad;
    display: block;
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 44px;
    padding: 30px 0 30px 0;
    cursor: pointer;
}

.minorityMenu .menuHelp .helpPopup {
    position: absolute;
    top: 100%;
    margin-right: 0;
    right: -1px;
    font-weight: normal;
    font-size: 16px;
    white-space: nowrap;
}

.minorityMenu .menuHelp .helpPopup a {
    display: inline-block;
    color: #959cad;
}

.minorityMenu .menuHelp .helpPopup a.hideableHelpLink {
    display: none;
}

.minorityMenu .menuHelp .helpPopup span.helpText {
    display: none;
    line-height: 1;
}

.minorityMenu .menuHelp .helpPopup .unreadCounter {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    font-size: 14px;
    margin: 0 0 0 7px;
    padding: 1px 8px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -webkit-border-radius: 9px;
    border-radius: 9px;
    font-weight: 600;
    background-color: #f0f2f8;
    color: #555;
}

.minorityMenu .menuHelp .helpPopup .unreadCounter:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f0f2f8 transparent;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    display: none;
}

.minorityMenu .menuHelp .helpPopup.visuallyhidden {
    clip: auto;
    overflow: visible;
    height: 0;
    width: 100%;
}

.minorityMenu .menuHelp .helpPopup.visuallyhidden .unreadCounter {
    position: absolute;
    left: 50%;
    right: auto;
    margin: 0 0 0 -1em;
    top: 100%;
    text-align: center;
}

.minorityMenu .menuHelp .helpPopup.visuallyhidden .unreadCounter:after {
    display: block;
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer {
    margin-top: -10px;
    margin-right: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 1px rgba(173,184,217,0.4);
    box-shadow: 0 0 1px 1px rgba(173,184,217,0.4);
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer:after,.minorityMenu .menuHelp.selected .helpPopup.switcherLayer:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    right: 2em;
    margin-right: -17px;
    margin-top: -16px;
    border: 8px solid transparent;
    border-bottom-color: rgba(173,184,217,0.6);
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer:after {
    margin: -14px -16px 0 0;
    border-width: 7px;
    border-bottom-color: #f0f2f8;
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer a,.minorityMenu .menuHelp.selected .helpPopup.switcherLayer a.hideableHelpLink {
    background-color: #f0f2f8;
    display: block;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #e1e3e8;
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer a:hover,.minorityMenu .menuHelp.selected .helpPopup.switcherLayer a.hideableHelpLink:hover {
    color: #000;
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer a:first-child,.minorityMenu .menuHelp.selected .helpPopup.switcherLayer a.hideableHelpLink:first-child {
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top: none;
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer a:last-child,.minorityMenu .menuHelp.selected .helpPopup.switcherLayer a.hideableHelpLink:last-child {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer span.helpText {
    padding: 0 20px 0 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 800;
    position: relative;
    display: inline-block;
    font-family: TitilliumText,'Proxima Nova',Helvetica,Arial,sans-serif;
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer span.helpText .vIco {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer span.helpText .vIco.vStackOverflow {
    margin-top: -14px;
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer span.helpText .vSpeech {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.minorityMenu .menuHelp.selected .helpPopup.switcherLayer span.helpText .vBook {
    margin-left: -2px;
}

.minorityMenu .secondaryNav {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    font-weight: 200;
    font-size: 16px;
    height: 80px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -ms-flex-item-align: end;
    color: #555;
}

.minorityMenu .secondaryNav .switcherLayer {
    right: 0;
    top: 100%;
    text-align: left;
    white-space: nowrap;
    left: auto;
    width: auto;
    position: absolute;
    text-shadow: none;
}

.minorityMenu .secondaryNav .secondaryNavLayer {
    background-color: #f0f2f8;
    min-width: 100%;
}

.minorityMenu .secondaryNav .secondaryNavItem {
    border-top: 1px solid #676d81;
}

.minorityMenu .secondaryNav .secondaryNavItem:last-child,.minorityMenu .secondaryNav .secondaryNavItem:first-child {
    border-top: none;
}

.minorityMenu .secondaryNav .secondaryNavItem a,.minorityMenu .secondaryNav .secondaryNavItem .logoutBtn {
    padding: 22px 20px 18px 53px;
    display: block;
    margin: 0;
    border: none;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.minorityMenu .secondaryNav .secondaryNavItem a .vIco,.minorityMenu .secondaryNav .secondaryNavItem .logoutBtn .vIco,.minorityMenu .secondaryNav .secondaryNavItem a i[class^='icon-'],.minorityMenu .secondaryNav .secondaryNavItem .logoutBtn i[class^='icon-'] {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -10px;
    color: #7376f0;
}

.minorityMenu .secondaryNav .secondaryNavItem a:hover,.minorityMenu .secondaryNav .secondaryNavItem .logoutBtn:hover {
    color: #000;
    background-color: #e8ebf2;
}

.minorityMenu .secondaryNav .secondaryNavItem .secondaryNavMenuTwoLines {
    padding-top: 12px;
    padding-bottom: 10px;
}

.minorityMenu .secondaryNav .secondaryNavItem .secondaryNavMenuDuoLine {
    display: block;
    padding: 2px 0;
    line-height: 16px;
}

.minorityMenu .secondaryNav .secondaryNavItem .secondaryNavMenuDuoLine:first-of-type {
    font-size: 14px;
    line-height: 14px;
}

.minorityMenu .secondaryNav .logoutForm {
    overflow: hidden;
    border-top: 1px solid #e1e3e8;
}

.minorityMenu .secondaryNav .logoutBtn {
    height: 61px;
    width: 100%;
}

.minorityMenu .secondaryNav .switcherToggle {
    line-height: 44px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 19px 25px 17px;
    cursor: pointer;
    background-color: rgba(232,235,242,0.001);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -ms-transition-delay: 0;
    transition-delay: 0;
}

.minorityMenu .secondaryNav.dualLine {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    white-space: nowrap;
}

.minorityMenu .secondaryNav.dualLine .switcherToggle {
    text-align: right;
    cursor: default;
    line-height: 20px;
    padding: 20px 25px 0;
}

.minorityMenu .secondaryNav .headSignInLinks {
    color: #777;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}


.minorityMenu .secondaryNav .headSignInLinks a {
    color: #959cad;
}

.minorityMenu .secondaryNav .headSignInLinks a:hover {
    color: #959cad;
}

.minorityMenu .secondaryNav .gravatar {
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 0 0 0 10px;
    overflow: hidden;
}

.minorityMenu .secondaryNav .gravatar img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: transparent;
    display: block;
}

.minorityMenu .secondaryNav .smallGravatar {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -15px;
}

.minorityMenu .secondaryNav .smallGravatar,.minorityMenu .secondaryNav .smallGravatar img {
    width: 30px;
    height: 30px;
    border: 0;
    display: block;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.headSignInLink,.headSignUpLink,.headSignUpLink em {
    font-style: normal;
    display: inline-block;
    padding: 0 10px;
}

.withRibbon .secondaryNav .switcherToggle {
    padding-right: 90px;
}

#container {
    padding-top: 81px;
}

#container #rightColumn {
    display: block;
    position: fixed;
    top: 81px;
    bottom: 0;
    right: 20px;
    width: 250px;
    padding-top: 17px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    overflow-y: auto;
}

#container #rightColumn p.title {
    padding: 10px 0 5px;
    margin: 0;
}

#container #thead {
    top: 143px;
}

#container #toolbar {
    height: 58px;
}

#container #workarea {
    background-color: #fff;
    padding-top: 26px;
}

#container .downloadedFrom {
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 13px;
}

#container #codeWrapper {
    top: 166px;
}

#container #documentationContainer {
    padding: 20px 0 15px;
}

#container #leftColumn {
    margin-left: 20px;
}

#container #rightColumn {
    right: 30px;
    width: 245px;
}

#container #traffic,#container #trafficInspector {
    position: absolute;
    top: 81px;
}

#container #traffic #upperBar,#container #trafficInspector #upperBar {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 81px;
    padding-top: 10px;
}

#container #traffic #upperBar .switchTool,#container #trafficInspector #upperBar .switchTool {
    top: 15px;
    line-height: 32px;
}

#container #traffic #stream,#container #trafficInspector #stream {
    top: 62px;
}

.themeDark .vContrastState:after {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}

.themeDark .tipsy-inner {
    background-color: #656d7e;
    color: #fff;
}

.themeDark .tipsy-arrow-n {
    border-bottom-color: #656d7e;
}

.themeDark .tipsy-arrow-s {
    border-top-color: #656d7e;
}

.themeDark .tipsy-arrow-e {
    border-left-color: #656d7e;
}

.themeDark .tipsy-arrow-w {
    border-right-color: #656d7e;
}

.themeDark header.fullSize {
    background: rgba(76,82,100,0.001);
}

.themeDark .shadowRight:before {
    background-color: rgba(193,198,209,0.1);
}

.themeDark .shadowLeft:before {
    background-color: rgba(193,198,209,0.1);
}

.themeDark .minorityMenu {
    background: #4c5264;
}

.themeDark .minorityMenu .createMin {
    background-color: #49cc90;
    color: #fff;
}

.themeDark .minorityMenu .createMin:hover {
    background-color: #37c383;
    color: #fff;
}

.themeDark .minorityMenu .switcherWrap.selected .apiSwitcher {
    background-color: #575e70;
}

.themeDark .minorityMenu .switcherWrap.selected .switcherToggle {
    background-color: #575e70;
}

.themeDark .minorityMenu .switcherWrap:hover .switcherToggle {
    background-color: #575e70;
}

.themeDark .minorityMenu .apiNameCell.switcherWrap .apiSwitcher:hover {
    background-color: #575e70;
}

.themeDark .minorityMenu a.apiLines:hover {
    background-color: #575e70;
}

.themeDark .minorityMenu .switcherWrap.selected .switcherToggle {
    color: #fff;
}

.themeDark .minorityMenu .switcherWrap .switcherToggle:hover {
    color: #fff;
}

.themeDark .minorityMenu .isSelected {
    background-color: #575e70;
}

.themeDark .minorityMenu .isSelected .apiLines .apiName {
    color: #fff;
}

.themeDark .minorityMenu .apiName {
    color: #fff;
}

.themeDark .minorityMenu .apiOwner {
    color: #959cad;
}

.themeDark .minorityMenu .apiSwitcherLayer {
    background-color: #4e5364;
}

.themeDark .minorityMenu .apiSwitcherLayer .apiListItem {
    border-top-color: rgba(193,198,209,0.1);
}

.themeDark .minorityMenu .apiSwitcherLayer .apiListItem.isSelected {
    border-bottom-color: rgba(193,198,209,0.1);
}

.themeDark .minorityMenu .apiSwitcherLayer .usersApisListFilter {
    background-color: #3a3f4f;
    color: #8f8f8f;
}

.themeDark .minorityMenu .minMenuItem a {
    color: #959cad;
    transition: all .3s ease-in-out;
}

.themeDark .minorityMenu .minMenuItem a.selected {
    color: #fff;
}

.themeDark .menuEntityLink:hover * {
    color: #7FDBFF !important;
}
.themeDark .minorityMenu .minMenuItem a:hover, .themeDark .minorityMenu .minMenuItem a.active {
    color: #7FDBFF;
    transition: all .5s ease-in-out;
}

.themeDark .minorityMenu .minMenuItem a:before, .themeDark .minorityMenu .minMenuItem a.active:before {
    border-top: 3px solid transparent;
    display: block;
    content: ' ';
    padding-top: 28px;
    margin-top: -31px;
    transition: all .3s ease-in-out;
}
.themeDark .minorityMenu .minMenuItem a:hover:before, .themeDark .minorityMenu .minMenuItem a.active:before {
    border-top: 3px solid #7FDBFF;
    display: block;
    content: ' ';
    padding-top: 28px;
    margin-top: -31px;
    transition: all .3s ease-in-out;
}
.themeDark .minorityMenu .menuHelp.selected .switcherToggle {
    background: none;
}

.themeDark .minorityMenu .menuHelp:hover .switcherToggle {
    background: none;
}

.themeDark .minorityMenu .menuHelp .helpLinks {
    color: #959cad;
}

.themeDark .minorityMenu .menuHelp .helpPopup a {
    color: #fff;
}

.themeDark .minorityMenu .menuHelp .helpPopup .unreadCounter {
    background-color: #4e5364;
    color: #ddd;
}

.themeDark .minorityMenu .menuHelp .helpPopup .unreadCounter:after {
    border-bottom-color: #4e5364;
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer {
    -webkit-box-shadow: 0 0 1px 1px rgba(107,114,137,0.4);
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer:after {
    border-bottom-color: rgba(107,114,137,0.6);
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer:before {
    border-bottom-color: rgba(107,114,137,0.6);
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer:after {
    border-bottom-color: #575e70;
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer a {
    background-color: #575e70;
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer a.hideableHelpLink {
    background-color: #575e70;
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer a:hover {
    color: #fff;
    background-color: #676d81;
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer a.hideableHelpLink:hover {
    color: #fff;
    background-color: #676d81;
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer a {
    border-top-color: rgba(193,198,209,0.1);
}

.themeDark .minorityMenu .menuHelp.selected .helpPopup.switcherLayer a.hideableHelpLink {
    border-top-color: rgba(193,198,209,0.1);
}

.themeDark .minorityMenu .secondaryNav {
    color: #ddd;
}
.secondaryNav.switcherWrap.menuCell {
    font-family: 'Proxima Nova','Helvetica',sans-serif;
}
.themeDark .minorityMenu .secondaryNav .secondaryNavLayer {
    background-color: #575e70;
}

.themeDark .minorityMenu .secondaryNav .secondaryNavItem {
    border-top-color: #676d81;
}

.themeDark .minorityMenu .secondaryNav .secondaryNavItem a {
    color: #fff;
}

.themeDark .minorityMenu .secondaryNav .secondaryNavItem .logoutBtn {
    color: #fff;
}

.themeDark .minorityMenu .secondaryNav .secondaryNavItem a .vIco {
    color: #fff;
}

.themeDark .minorityMenu .secondaryNav .secondaryNavItem .logoutBtn .vIco {
    color: #fff;
}

.themeDark .minorityMenu .secondaryNav .secondaryNavItem a i[class^='icon-'] {
    color: #fff;
}
.themeDark .minorityMenu .secondaryNav .secondaryNavItem .logoutBtn i[class^='icon-'] {
    color: #fff;
}
.themeDark .minorityMenu .secondaryNav .secondaryNavItem a:hover {
    color: #fff;
    background-color: #676d81;
}
.themeDark .minorityMenu .secondaryNav .secondaryNavItem .logoutBtn:hover {
    color: #fff;
    background-color: #676d81;
}
.themeDark .minorityMenu .secondaryNav .logoutForm {
    border-top-color: rgba(193,198,209,0.1);
    background-color: #575e70;
}
.themeDark .minorityMenu .secondaryNav .logoutBtn {
    background-color: #575e70;
}
.themeDark .minorityMenu .secondaryNav .switcherToggle {
    background-color: rgba(87,94,112,0.001);
}
.themeDark .minorityMenu .secondaryNav .headSignInLinks {
    color: #aaa;
}

.themeDark .minorityMenu .secondaryNav .headSignInLinks a {
    color: #6c9cff;
}
.themeDark .minorityMenu .secondaryNav .headSignInLinks a:hover {
    color: #4482ff;
}
