<div class="new-ref-form-activate" ng-init="$parent.element.showNewActionForm=false" ng-hide="$parent.element.showNewActionForm">
  <a ng-click="$parent.element.showNewActionForm ? $parent.element.showNewActionForm=false : $parent.element.showNewActionForm=true"
     class="btn btn-small btn-primary">Add Action</a>
</div>

<div class="new-ref-form" ng-show="$parent.element.showNewActionForm">
  <form novalidate="novalidate" class="form-horizontal form-new-ref">
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
    <div class="controls col-xs-4">
      <input type="text" id="inputTitle" class="form-control" ng-model="$parent.element.newRefElementAction.title"/>
    </div>
  </div>


  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">autostart:</label>
    <div class="controls col-xs-4">
      <input type="checkbox" ng-model="$parent.element.newRefElementAction.autostart">

    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">from_state(optinal):</label>
    <div class="controls col-xs-4">
        <input type="number" class="form-control" id="inputBusinessId" 
        ng-model="$parent.element.newRefElementAction.from_state"/>
    </div>
  </div>




  <div class="control-group form-group">
    <div class="controls col-xs-4">
      <a ng-click="createRefAction($parent.element.newRefElementAction, $parent.element, $parent.refObj)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      <a ng-click="$parent.element.showNewActionForm=false" class="btn btn-small btn-primary">Cancel</a>
    </div>
  </div>
  </form>
</div>
