<div class="new-ref-form-activate" ng-init="$parent.middleware.showNewStrategyForm=false" ng-hide="$parent.middleware.showNewStrategyForm">
  <a ng-click="$parent.middleware.showNewStrategyForm ? $parent.middleware.showNewStrategyForm=false : $parent.middleware.showNewStrategyForm=true"
     class="btn btn-small btn-primary">Add Strategy</a>
</div>

<div class="new-ref-form" ng-show="$parent.middleware.showNewStrategyForm">
  <form novalidate="novalidate" class="form-horizontal form-new-ref">

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">ident:</label>
    <div class="controls col-xs-4">
      <input type="text" class="form-control" id="inputBusinessId" ng-model="$parent.middleware.NewMiddlewareStrategy.ident"/>
    </div>
  </div>
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">isNullStrategy:</label>
    <div class="controls col-xs-4">
      <input type="checkbox" ng-model="$parent.middleware.NewMiddlewareStrategy.isNullStrategy">
    </div>
  </div>

  <div class="control-group form-group">
    <div class="controls col-xs-4">
      <a ng-click="createMiddlewareStrategy($parent.middleware.NewMiddlewareStrategy, $parent.middleware)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      <a ng-click="$parent.middleware.showNewStrategyForm=false" class="btn btn-small btn-primary">Cancel</a>
    </div>
  </div>
  </form>
</div>
