<div class="new-ref-form-activate" ng-init="$parent.refObj.showNewElementForm=false" ng-hide="$parent.refObj.showNewElementForm">
  <a ng-click="$parent.refObj.showNewElementForm ? $parent.refObj.showNewElementForm=false : $parent.refObj.showNewElementForm=true"
     class="btn btn-small btn-primary">Add Element</a>
</div>

<div class="new-ref-form" ng-show="$parent.refObj.showNewElementForm">
  <form novalidate="novalidate" class="form-horizontal form-new-ref">
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
    <div class="controls col-xs-4">
      <input type="text" id="inputTitle" class="form-control" ng-model="$parent.refObj.newRefElement.title"/>
    </div>
  </div>
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">type_title:</label>
    <div class="controls col-xs-4">
      <input type="text" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElement.type_title"/>
    </div>
  </div>
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">order:</label>
    <div class="controls col-xs-4">
      <input type="number" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElement.order"/>
    </div>
  </div>
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">b_type:</label>
    <div class="controls col-xs-4">
      <input type="text" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElement.b_type"/>
    </div>
  </div>  
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">desc:</label>
    <div class="controls col-xs-4">
      <textarea type="text" 
      class="form-control" 
      id="inputBusinessId" 
      ng-init="$parent.refObj.newRefElement.reflection = $parent.refObj.ref.id"
      ng-model="$parent.refObj.newRefElement.desc"/>
    </div>
  </div>
  <input type="number" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElement.reflection"/>


  <div class="control-group form-group">
    <div class="controls col-xs-4">
      <a ng-click="createRefElement($parent.refObj.newRefElement)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      <a ng-click="$parent.refObj.showNewElementForm=false" class="btn btn-small btn-primary">Cancel</a>
    </div>
  </div>
  </form>
</div>
