<div class="new-ref-form-activate" ng-init="$parent.refObj.showNewStateForm=false" ng-hide="$parent.refObj.showNewStateForm">
  <a ng-click="$parent.refObj.showNewStateForm ? $parent.refObj.showNewStateForm=false : $parent.refObj.showNewStateForm=true"
     class="btn btn-small btn-primary">Add State</a>
</div>

<div class="new-ref-form" ng-show="$parent.refObj.showNewStateForm">
  <form novalidate="novalidate" class="form-horizontal form-new-ref">
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
    <div class="controls col-xs-4">
      <input type="text" id="inputTitle" class="form-control" ng-model="$parent.refObj.newRefElementState.title"/>
    </div>
  </div>
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">Host:</label>
    <div class="controls col-xs-4">
      <input type="text" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.host"/>
    </div>
  </div>


  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">desc:</label>
    <div class="controls col-xs-4">
      <textarea type="text" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.desc"/>
    </div>
  </div>
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">category:</label>
    <div class="controls col-xs-4">
      <select type="text" name="newRefCategory" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.category">
        <option value="Base">Base</option>
      </select>
    </div>
  </div>

  <div class="control-group form-group">
    <div class="controls col-xs-4">
      <a ng-click="createRefElementState($parent.refObj.newRefElementState)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      <a ng-click="$parent.refObj.showNewStateForm=false" class="btn btn-small btn-primary">Cancel</a>
    </div>
  </div>
  </form>
</div>
