<div class="new-ref-form-activate" ng-init="$parent.refObj.showNewStateForm=false" ng-hide="$parent.refObj.showNewStateForm">
  <a ng-click="$parent.refObj.showNewStateForm ? $parent.refObj.showNewStateForm=false : $parent.refObj.showNewStateForm=true"
     class="btn btn-small btn-primary">Add State</a>
</div>

<div class="new-ref-form" ng-show="$parent.refObj.showNewStateForm">
  <form novalidate="novalidate" class="form-horizontal form-new-ref">
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
    <div class="controls col-xs-4">
      <input type="text" id="inputTitle" class="form-control" ng-model="$parent.refObj.newRefElementState.title"/>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">desc:</label>
    <div class="controls col-xs-4">
      <textarea type="text" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.desc"/>
    </div>
  </div>




  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">neutral:</label>
    <div class="controls col-xs-4">
      <input type="text" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.neutral"/>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">lang:</label>
    <div class="controls col-xs-4">
      <input type="text" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.lang"/>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">middleable:</label>
    <div class="controls col-xs-4">
      <input type="checkbox" ng-model="$parent.refObj.newRefElementState.middleable">
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">oposite:</label>
    <div class="controls col-xs-4">
      <input type="text" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.oposite"/>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">reflection:</label>
    <div class="controls col-xs-4">
      <input type="number" class="form-control" id="inputBusinessId" ng-init="$parent.refObj.newRefElementState.reflection = $parent.refObj.ref.id" ng-model="$parent.refObj.newRefElementState.reflection"/>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">on_rate:</label>
    <div class="controls col-xs-4">
      <input type="number" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.on_rate"/>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">front_elem_id:</label>
    <div class="controls col-xs-4">
      <input type="number" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.front_elem_id"/>

    </div>
  </div>
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">space_id:</label>
    <div class="controls col-xs-4">
      <input type="number" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.space_id"/>

    </div>
  </div>
  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">space_elem_id:</label>
    <div class="controls col-xs-4">
      <input type="number" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.space_elem_id"/>
    </div>
  </div>



  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">on:</label>
    <div class="controls col-xs-4">
      <input type="checkbox" ng-model="$parent.refObj.newRefElementState.on">
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">opositable:</label>
    <div class="controls col-xs-4">
      <input type="checkbox" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.opositable"/>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">process_state:</label>
    <div class="controls col-xs-4">
      <input type="checkbox" ng-model="$parent.refObj.newRefElementState.process_state">
    </div>
  </div>


  <div class="control-group form-group">
    <label class="control-label col-sm-1" for="inputBusinessId">middle:</label>
    <div class="controls col-xs-4">
      <input type="text" class="form-control" id="inputBusinessId" ng-model="$parent.refObj.newRefElementState.middle"/>
    </div>
  </div>

  <div class="control-group form-group">
    <div class="controls col-xs-4">
      <a ng-click="createRefElementState($parent.refObj.newRefElementState)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      <a ng-click="$parent.refObj.showNewStateForm=false" class="btn btn-small btn-primary">Cancel</a>
    </div>
  </div>
  </form>
</div>
