<form novalidate="novalidate" class="form-horizontal form-update-ref">
<div class="control-group form-group">
  <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
  <div class="controls col-xs-4">
    <input type="text" id="inputTitle" class="form-control" ng-model="refObj.ref.title"/>
  </div>
</div>

<div class="control-group form-group">
  <label class="control-label col-sm-1" for="inputBusinessId">Host:</label>
  <div class="controls col-xs-4">
    <input type="text" id="inputTitle" class="form-control" ng-model="refObj.ref.host"/>
  </div>
</div>

<div class="control-group form-group">
  <label class="control-label col-sm-1" for="inputBusinessId">Desc:</label>
  <div class="controls col-xs-4">
    <textarea type="text" class="form-control" id="inputBusinessId" ng-model="refObj.ref.desc"/>
  </div>
</div>




<div class="control-group form-group">
  <label class="control-label col-sm-1" for="inputBusinessId">Hidden:</label>
  <div class="controls col-xs-4">
    <span>{{ refObj.ref.hidden }}</span>
  </div>
</div>

<div class="control-group form-group">
  <label class="control-label col-sm-1" for="inputBusinessId">Category:</label>
  <div class="controls col-xs-4">
    <span>{{ refObj.ref.category }}</span>
  </div>
</div>




<div class="control-group form-group" ng-show="isManagerVal">
  <div class="controls col-xs-4">
    <a ng-click="updateRef(refObj.ref)" class="btn btn-small btn-primary">{{ 'UPDATE' | translate }}</a>
  </div>
</div>
</form>
