    <div class="ref-element-actions" ng-show="filteredActions.length > 0">
      <div class="ref-action" ng-repeat="action in refObj.reactions | filter: reactionByTopoUnitElement(element, refObj)">
          <h5 class="ref-action-title">{{ action.title }}</h5>
          <a ng-click="deleteReaction(action)" class="ref-obj-delete-button">Delete action</a>

          <div class="ref-action-pipes">
            <div class="ref-action-inputs">
              Inputs
            </div>
            <div class="ref-action-bases">
              Bases
            </div>
            <div class="ref-action-outputs">
              Outputs
            </div>
          </div>

          <div class="ref-action-depth">
            <div ng-include src="'assets/partials/reflections/create-ref-element-middleware.html'"></div>

            <div class="ref-action-middleware" ng-repeat="middleware in refObj.middlewares | filter:byReaction(action)">
              <span>Middleware {{middleware.title}}::{{middleware.ident}}::{{middleware.ifaceIdent}}</span>
              <a ng-click="removeMiddleware(middleware)" class="ref-obj-delete-button">Delete middleware</a>

            <div class="ref-action-strategies">
              <div ng-include src="'assets/partials/reflections/create-ref-element-strategy.html'"></div>

              <div class="ref-action-strategy-selector">
                <span class="strategy-select">*</span>
                <span class="strategy-select strategy-to-select">*</span>
                <span class="strategy-select strategy-to-select">*</span>
                <span class="strategy-select strategy-to-select">*</span>
                <span class="strategy-select strategy-to-select">*</span>
                <span class="strategy-select strategy-to-select">*</span>

              </div>
              <div class="ref-action-strategy" ng-repeat="strategy in refObj.strategies | filter:byMiddleware(middleware)">
                <h5 class="strategy-title">{{ strategy.title }}::{{ strategy.ident }}</h5>
              <a ng-click="removeStrategy(strategy)" class="ref-obj-delete-button">Delete strategy</a>
                
                <div class="ref-action-strategy-pipes">
                  <div class="ref-action-inputs">

                  </div>
                  <div class="ref-action-bases">
                    <div ng-include src="'assets/partials/reflections/create-ref-element-strategy-base.html'"></div>

                    <div class="ref-action-bases-base" ng-repeat="base in refObj.bases | filter:byStrategy(strategy)">
                      {{ base.key }}
                      <a ng-click="removeStrategyBase(base, strategy)" class="ref-obj-delete-button">Delete base</a>
                    </div>
                  </div>
                  <div class="ref-action-outputs">

                  </div>
                </div>

              </div>


            </div>
            </div>

          </div>
      </div>
    </div>