








<div class="allStations allSessionsList">
<!--<h1>{{ 'ALL_SESSIONS' | translate }}</h1>-->




<div class="active-switcher">
  <input type="checkbox" class="switch" id="switch-1" data-ng-model="onlyActive"/>
  <label for="switch-1" class="onlyActiveLabel">Active</label>
</div>
 

<div class="cd-filter">
      <form class="ng-pristine ng-valid">
        <!--<div class="cd-filter-block">
          <h4>Search</h4>
          
          <div class="cd-filter-content">
            <input type="search" placeholder="Try color-1...">
          </div> 
        </div> -->

        <div class="cd-filter-block">
          <h4>Date filtering</h4>

          <ul class="cd-filter-content cd-filters list">
            <li>
                <input date-range-picker class="form-control date-picker" type="text" placeholder="Date range" ng-model="date" />
                <!--<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">-->
            </li>
<!--
            <li>
              <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
              <label class="checkbox-label" for="checkbox2">Option 2</label>
            </li>

            <li>
              <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
              <label class="checkbox-label" for="checkbox3">Option 3</label>
            </li>-->
          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->


  <!--   <div class="cd-filter-block">
          <h4>Select</h4>
          
          <div class="cd-filter-content">
            <div class="cd-select cd-filters">
              <select class="filter" name="selectThis" id="selectThis">
                <option value="">Choose an option</option>
                <option value=".option1">Option 1</option>
                <option value=".option2">Option 2</option>
                <option value=".option3">Option 3</option>
                <option value=".option4">Option 4</option>
              </select>
            </div>           
            </div> 
        </div> 
-->
        <div class="cd-filter-block">
          <h4>Filtering by attributes</h4>

          <ul class="cd-filter-content cd-filters list">
            <li>
              <input type="checkbox" name="canceled" value="true" data-ng-model="onlyCanceled"/>
              <label class="radio-label" for="radio1">Canceled</label>
            </li>

            <li>
              <input type="checkbox" name="finished" value="true" data-ng-model="onlyFinished"/>
              <label class="radio-label" for="radio2">Finished</label>
            </li>

            <li>
              <input type="checkbox" name="listed" value="true" data-ng-model="onlyListed"/>
              <label class="radio-label" for="radio3">Listed</label>
            </li>
          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
      </form>

      <a href="#0" class="cd-close">Close</a>
</div>


<div class="station-filters">
    <a href="#0" class="cd-filter-trigger">Filters</a>
<!--
  <ul>
    <li><input date-range-picker class="form-control date-picker" type="text" placeholder="Date range" ng-model="date" /></li>
    <li><label><input type="checkbox" name="canceled" value="true" data-ng-model="onlyCanceled"/>{{ 'CANCELED' | translate }}</label></li>
    <li><label><input type="checkbox" name="finished" value="true" data-ng-model="onlyFinished"/>{{ 'FINISHED' | translate }}</label></li>
    <li><label><input type="checkbox" name="listed" value="true" data-ng-model="onlyListed"/>Listed</label>
  </ul>-->
</div>  

  
  
<script>
$('.cd-filter-trigger').click(function(event) {
  event.preventDefault()
  $('.cd-filter-trigger').toggleClass('filter-is-visible')
  $('.cd-filter').toggleClass('filter-is-visible')
})
$('.cd-close').click(function(event) {
  event.preventDefault()
  $('.cd-filter-trigger').toggleClass('filter-is-visible')
  $('.cd-filter').toggleClass('filter-is-visible')
})
</script>
<script>

document.addEventListener('touchmove', function(e){}, false);
var _switch   = document.getElementById("switch-1"),
    switchHit = false,
    hasTouch  = false;
function toggleHit(){ if(!switchHit){ switchHit = true; _switch.classList.add("hit"  ); }}
function setTouch() { if(!hasTouch) { hasTouch = true;  _switch.classList.add("touch"); }}
_switch.onclick = toggleHit;
_switch.ontouchstart = function(e){ setTouch(); e.preventDefault(); e.target.click(); }
</script>


<div class="empty-reponse" ng-show="isEmptyLaunches" ng-cloak>You have no launches. Run <a href="/a">process</a> and come back here</div>

<div class="session-process" ng-repeat="entity in sessions" ng-hide="entity.sessions < 1">

<h2><a href="/a#/bprocess/{{ entity.process.id }}/elements">{{ entity.process.title }}</a></h2>

<!--
<div class="process_content" ng-init="bprocess=entity.process">
          <div ng-include src="'assets/partials/treeThumb.html'"></div>
</div>-->
<div class="stations" ng-repeat="session in entity.sessions | orderBy:'station.paused':true | limitTo: 10 | filter:isOnlyActive" style="clear: both;">

        <div class="session__header">
              <div class="progress-button loading" ng-class="bubbleClass(session)" tooltip="{{bubbleTooltip(session)}}">
        <div class="round-progress-container">
               <progress-arc stroke="#3080E8"
                              background="#eee"
                              size="60"
                              stroke-width="2"
                              complete="session.percent / 100">
                              </progress-arc><span class="round-percent">{{ session.percent }}</span>
        </div>  
        </div>
             <div class="session_title">
              <a href="/a#/bprocess/{{ session.process.id }}/elements?launch={{ session.session.id }}">Launch {{ $index }}  
              <!- {{session.station.note }} --></a>
              <abbr class="session__header__created_at" title="{{ session.session.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="session.session.created_at"></abbr>
             </div>
        <div class="session__header session__people">
          <div class="launched-by" ng-show="session.peoples.launched_by != 'not@found.com'" ng-init="account = accFetchSessioned(session.peoples.launched_by)">
              <span class="account-pic" tooltip="{{ account.tooltip }}">
                        <img ng-src="{{ account.avatarUrl}}" alt="{{ account.tooltip }}">
              </span>
          </div>
          <div class="participators">
                  <div class="perms perm-list" ng-repeat="perm in session.peoples.participators | limitTo:3" ng-init="account = accFetchSessioned(perm)">
                    <span class="account-pic" tooltip="{{ account.tooltip }}">
                        <img ng-src="{{ account.avatarUrl}}" alt="{{ account.tooltip }}">
                    </span>
                  </div>       
          </div>                               
        </div> 
</div>  



         
<div class="progress">
    <div class="progress-lines" ng-init="bprocess=entity.process">
                <div ng-include src="'assets/partials/treeLiner.html'"></div>
    </div>    
   <div class="progress-bar" role="progressbar" aria-valuenow="{{session.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{session.percent}}%;">
    <!--<span>{{session.percent}}%</span>-->
   </div>
</div>              

<div class="session_controls">
  <ul>
    <li><span class="moicon moicon-book" ng-click="history(session)" tooltip="History"></span></li>  
    <li><span class="pin_session moicon moicon-pushpin" ng-click="pin(session)" tooltip="Pin launch to bottom bar" ng-class="isPinned(session)"></span></li>
    <li><span class="moicon icon-remove-circle" ng-click="deleteSession(session.session.id)" tooltip="Delete"></span></li>
  </ul>
</div>      
<div class="session-launches-bar minimal" ng-if="session.station.paused == true && session.station.finished == false">
    <div ng-include src="'assets/partials/launchesBar.html'" class="launches-bar"></div>
</div>




          
</div>


</div>
</div>

</div> <!-- session-process -->
