

@(id: Int, serviceForm: Form[models.DAO.resources.EmployeeDTO], user: models.User2)(implicit request: RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f)}

@main("Edit an service", user) {
<!-- Begin page content -->
<div class="container">
<div class="page-header">
<h1>Edit an service</h1>
</div>

<div class="row">
<div class="col-md-8">
@form(users.routes.EmployeeController.update_make(id)) {
<fieldset>
  @helper.CSRF.formField



@inputText(serviceForm("uid"), '_label -> "Name", 'class -> "form-control")
</fieldset>

<div class="actions">
<input type="submit" value="Update this service" class="btn btn-primary"> or
<a href="@users.routes.EmployeeController.index()" class="btn btn-default">Cancel</a>
</div>
}
</div>

</div>
</div>
}
