@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.EmployeeDTO
@import models.DAO.resources.BusinessDTO
@import models.DAO.resources.GroupDTO
@import helper._
@(currentPage: Page[EmployeeDTO], accounts: List[models.daos.DBUser], currentOrderBy: Int, currentFilter: String, businesses: List[BusinessDTO], assignedBiz: List[BusinessDTO],team: Option[BusinessDTO], aval: Int = 0)(user: models.User2)(implicit request: RequestHeader)

@****************************************
* Helper generating navigation links *
****************************************@


@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="#">@title</a>
    </th>
}


@main(Messages("businesses.members"), user) {

<div class="peopleUpMenu">
<ul>
  <li class="active"><a href="/peoples">People</a></li>
  <li><a href="/peoples/team">Workbench</a></li>
</ul>
</div>

<div class="teamInfo">
  <div class="teamInfoBlock">
    <h4 class="teamInfo">Workbench @team.map { team => <span id="teamTitle"> @team.title</span> } </h4>
    <!--<h4>Master account: <span id="masterAccountId"> master.userId</span> master.firstName master.lastName </h4>-->
</div>
  <div class="slotLimit">Slots left <span id="slotAvaliableCount">@{aval}</span> of 5</div>

<div class="users-added">
@Option(currentPage.items).filterNot(_.isEmpty).map { entities =>
        @entities.map {
         case (entity) => {
          <div class="entityBlock">@entity.uid @accounts.find(_.email == Some( entity.uid) ).flatMap(e => e.firstName )
            @accounts.find(_.email == Some( entity.uid) ).flatMap(e => e.lastName )
          </div>
         }
    }
}
</div>

</div>





}
