@import service.DemoUser
@(id: Option[String], form: Form[minority.utils.Board], user: DemoUser)

@dataForm("Edit board", user) {
  <div class="row">
  <div class="span8">
  <h2>
    @if(!id.isDefined) {
      Add
    } else {
      Edit
    } an board</h2>
  @helper.form(if(!id.isDefined) routes.BoardController.create else routes.BoardController.edit(id.get)) {
    @helper.inputText(form("title"))    
    @helper.textarea(form("content"))
    <div id="p_scents">
    <a href="#" id="addScnt" data-name="meta">Add Meta</a>
    @helper.repeat(form("meta"), min = 1) { metaField =>
        <div class="meta_fields">
        @helper.inputText(form(metaField.name.toString + ".key"))
        @helper.inputText(form(metaField.name.toString + ".value"))
        <a href="#" class="removeMeta">Remove</a>
        </div>
        
    }
    </div>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit">
    </div>
  }
  </div>

}
