@import service.DemoUser
@import controllers.employeeParams
@import models.DAO.resources.ActPermission
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import service.DemoUser

@import helper._
@(user:DemoUser, isManager: Boolean = false)(implicit request: RequestHeader, env: securesocial.core.RuntimeEnvironment[service.DemoUser])

@import securesocial.core.IdentityProvider

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import helper._


@main(Messages("page.data")(LangDet.getLang(user) ), user) {

<div class="app-container">
<div class="container app"> 
<div id="main" class="container">

<div class="tableMinListWrap">
  <a class="createMin ajaxLink cacheable" ng-click="createNewBP()" ng-show="isManagerVal"><span class="plusSign vIco vPlusSquare vShineState"></span> New Resource</a>

  <div class="tableMinListFilter search-process-input filterLayer">
    <span class="magnifyGlass vIco vLoupe vLight2State"></span>
    <input type="text" size="41" data-toggle-class="hidden" class="filterInput tableMinListFilterInput" placeholder="Search">
  </div>

<div class="panelLike organisationsGridLike">
  <ul ul id="tablemin" class="tableMinList processList">
  <div class="process">
    <div class="process-status">
    <li class="tableMinListItem">
      <h2 class="tableMinListName">
        <a class="tableMinName vIcoIn" href="/a#/bprocess/{{ bprocess.id }}/elements">Resource</a>
        <span class="tableMinVanity">Desc</span>
      </h2>
      <div class="tableMinListControls processListControls" ng-show="isManagerVal">
        <a class="tableMinControlsLink ajaxLink tableMinLinkPeople"><span class="uicon-svg98"></span> {{ 'PEOPLE' | translate }} </a>
        <!--<a class="tableMinControlsLink teamSettingsLink tableMinLinkSettings" ng-click="modalShare(bprocess.id)"><span class="minicon-share"></span> {{ 'SHARE' | translate }}</a>-->
        <a class="tableMinControlsLink teamSettingsLink tableMinLinkSettings" href="/a#/launches?process={{ bprocess.id }}"><span class="uicon-svg372"></span>{{ 'STATIONS' | translate }}</a>
        <a class="tableMinControlsLink teamSettingsLink tableMinLinkDelete"> <span class="minicon-trash"></span> {{ 'DELETE' | translate }} </a>
      </div>
    </li>
    </div>
    <div class="stations">
      <div ng-include src="'assets/partials/launchesBar.html'" class="launches-bar" ng-repeat="session in bprocess.sessions[0].sessions | filter: filterForActiveLaunch"></div>
    </div>
  </div>
  </ul>
</div>
</div>


















</div>


</div>
</div>


}