@import service.DemoUser
@import controllers.employeeParams
@import models.DAO.resources.ActPermission
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import service.DemoUser

@import helper._
@(user:DemoUser, isManager: Boolean = false, resourceForm: Form[models.DAO.ResourceDTO])(implicit request: RequestHeader, env: securesocial.core.RuntimeEnvironment[service.DemoUser])

@import securesocial.core.IdentityProvider

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import helper._


@main(Messages("page.data")(LangDet.getLang(user) ), user) {

<div class="app-container">
<div class="container app"> 
<div id="main" class="container resources-list">

<div class="tableMinListWrap">
  @form(routes.DataController.create_resources()) {

  <a class="createMin ajaxLink cacheable resource-add-btn"><span class="plusSign vIco vPlusSquare vShineState"></span>Create Resource</a>
  <div class="tableMinListFilter search-process-input add-resource-field filterLayer">
    <span class="magnifyGlass vIco vLoupe vLight2State"></span>
    <input type="text" id="title" name="title" value="" placeholder="Name" class="filterInput tableMinListFilterInput">
    <!-- <input type="text" size="71" data-toggle-class="hidden" class="filterInput tableMinListFilterInput" placeholder="Name"> -->
  </div>
}

<div class="panelLike organisationsGridLike">
  <ul ul id="tablemin" class="tableMinList processList">
  <div class="process">
    <div class="process-status">
    <li class="tableMinListItem">
      <h2 class="tableMinListName">
        <a class="tableMinName vIcoIn" href="#">Resource</a>
        <span class="tableMinVanity">Desc</span>
      </h2>
      <div class="tableMinListControls processListControls" ng-show="isManagerVal">
        <a class="tableMinControlsLink ajaxLink tableMinLinkPeople"><span class="uicon-svg98"></span>Boards</a>
        <!--<a class="tableMinControlsLink teamSettingsLink tableMinLinkSettings" ng-click="modalShare(bprocess.id)"><span class="minicon-share"></span> {{ 'SHARE' | translate }}</a>
        <a class="tableMinControlsLink teamSettingsLink tableMinLinkSettings" href="/a#/launches?process={{ bprocess.id }}"><span class="uicon-svg372"></span>{{ 'STATIONS' | translate }}</a>-->
        <a class="tableMinControlsLink teamSettingsLink tableMinLinkDelete"> <span class="minicon-trash"></span>Delete</a>
      </div>
    </li>
    </div>
    <div class="stations">
      <div ng-include src="'assets/partials/launchesBar.html'" class="launches-bar" ng-repeat="session in bprocess.sessions[0].sessions | filter: filterForActiveLaunch"></div>
    </div>
  </div>
  </ul>
</div>
</div>


















</div>


</div>
</div>


}