@import service.DemoUser
@import controllers.employeeParams
@import models.DAO.resources.ActPermission
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import service.DemoUser

@import helper._
@(user:DemoUser, isManager: Boolean = false)(implicit request: RequestHeader, env: securesocial.core.RuntimeEnvironment[service.DemoUser])

@import securesocial.core.IdentityProvider

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import helper._


@main(Messages("page.data")(LangDet.getLang(user) ), user) {

}