<div class="stations" ng-repeat="station in bpstations"style="clear: both;">
           <h3>Station #{{ $index + 1 }}</h3>
           <p>
            {{ stationByProcess(station.id).id }}
            {{ stationByProcess(station.id).title }}
           
           </p>

            <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td> station.started </td>
<td> station.finished </td>
<td> station.state </td>
<td> station.step </td>
<td> station.space </td>
<td> station.container_step </td>
<td> station.expand_step </td>
<td> station.spaces_ids </td>
<td> station.inspace </td>
<td> station.incontainer </td>
<td> station.inexpands </td>
<td> station.paused </td>
                      </tr>
                      <tr>
            <td> {{ station.started}} </td>
            <td>{{ station.finished}} </td>
            <td>{{ station.state }}</td> 
            <td> {{ station.step }}</td>
            <td> {{ station.space }}</td>
            <td>{{ station.container_step }}</td> 
            <td> {{ station.expand_step }}</td>
            <td> {{ station.spaces_ids }} </td>
            <td> {{ station.inspace }}</td>
            <td> {{ station.incontainer }}</td>
            <td> {{ station.inexpands }}</td>
            <td>    {{ station.paused }}</td>
            </tr>
                   
                        
                    
                    </tbody>
                  </table>
           <p>
          
          </p> 
          <h3>Tree</h3>

<div ng-include src="'partials/tree.html'"></div>

<div class="active">
<h3>Now active</h3>
<pre>
id:{{ elemsHash[logsByStation(station.id)[logsByStation(station.id).length-1].element].id  }} — {{ elemsHash[logsByStation(station.id)[logsByStation(station.id).length-1].element].title  }}
id:{{ spaceElemHash[logsByStation(station.id)[logsByStation(station.id).length-1].space_elem].id  }} — {{ spaceElemHash[logsByStation(station.id)[logsByStation(station.id).length-1].space_elem].title  }}
</pre>
</div>
          <h3>Logs</h3>
          <p>

          <div class="logs" ng-repeat="log in logsByStation(station.id)">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td> log.element </td>
                        <td> log.space_elem </td>
<td> log.station </td>
<td> log.invoked </td>
<td> log.expanded </td>
<td> log.container </td>
<td> log.date </td>
<td> log.step </td>
<td> log.comps </td>

                      </tr>
                      <tr>
<td> {{ elemsHash[log.element].id }} {{ elemsHash[log.element].title }} — {{ elemsHash[log.element].type_title }}  </td>                        
<td> {{ spaceElemHash[log.space_elem].id }} {{ spaceElemHash[log.space_elem].title }} — {{ spaceElemHash[log.element].type_title }}  </td>
<td> {{ log.station }} </td>
<td> {{ log.invoked }} </td>
<td> {{ log.expanded }} </td>
<td> {{ log.container }} </td>
<td> {{ log.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }} </td>
<td> {{ log.step }} </td>
<td> {{ log.comps }} </td>
            </tr>
                    </tbody>
                  </table>
          </div>
          <div ng-if="station.finished == true">
          <a ng-click="haltStation(station.id)" class="btn btn-big">Halt</a>
          </div>
          {{ bplogs }}

           <hr>
</div>


<div class="observer">
  <h3>Observer link: </h3>
  <div class="observers" ng-repeat="obs in station.obsrs">
    <h6>{{obs.name }}</h6>
    <h6>{{ obs.email }}</h6>
    <input type="text" id="inputTitle" ng-model="obs.link"/>
    <a ng-click="deleteObserver(obs)" class="btn btn-small btn-primary">Delete observer</a>
  </div>
 <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Link:</label>
      <div class="controls">
        <input type="text" id="inputTitle" ng-model="newObserver.name"/>
        <input type="text" id="inputTitle" ng-model="newObserver.email"/>
      </div>
    </div>
  
    <div class="control-group">
      <div class="controls">
        <a ng-click="generateObsLink()" class="btn btn-small btn-primary">Generate</a>
      </div>
    </div>
  </form>
</div>

</div>