<div class="container">
  <h1>Create a new BProcess</h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>

      <div class="controls">
        <input type="text" id="inputTitle" ng-model="bprocess.title" placeholder="Title" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBusinessId">Business ID:</label>

      <div class="controls">
        <input type="number" id="inputBusinessId" ng-model="bprocess.business" placeholder="Business ID" required/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="createNewBP()" class="btn btn-small btn-primary">Create</a>
      </div>
    </div>
  </form>
</div>