<div class="allStations allSessionsList">
<!--<h1>{{ 'ALL_SESSIONS' | translate }}</h1>-->

  <div class="active-switcher">
    <input type="checkbox" class="switch" id="switch-1" ng-init="onlyActive=true;" data-ng-model="onlyActive"/>
    <label for="switch-1" class="onlyActiveLabel">Active</label>
  </div>


  <div class="cd-filter">
        <form class="ng-pristine ng-valid">
          <!--<div class="cd-filter-block">
            <h4>Search</h4>
            <div class="cd-filter-content">
              <input type="search" placeholder="Try color-1...">
            </div>
          </div>
          -->
          <div class="cd-filter-block">
            <h4>Date filtering</h4>
            <ul class="cd-filter-content cd-filters list">
              <li>
                  <!-- <input date-range-picker class="form-control date-picker" type="text" placeholder="Date range" ng-model="date" />
                  -->

                  <!--<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">-->
              </li>
              <!--
              <li>
                <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                <label class="checkbox-label" for="checkbox2">Option 2</label>
              </li>
              <li>
                <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                <label class="checkbox-label" for="checkbox3">Option 3</label>
              </li>-->
            </ul> <!-- cd-filter-content -->
          </div> <!-- cd-filter-block -->


          <div class="cd-filter-block">
            <h4>Filtering by attributes</h4>

            <ul class="cd-filter-content cd-filters list">
              <li>
                <input type="checkbox" name="canceled" value="true" data-ng-model="onlyCanceled"/>
                <label class="radio-label" for="radio1">Canceled</label>
              </li>

              <li>
                <input type="checkbox" name="finished" value="true" data-ng-model="onlyFinished"/>
                <label class="radio-label" for="radio2">Finished</label>
              </li>

              <li>
                <input type="checkbox" name="listed" value="true" data-ng-model="onlyListed"/>
                <label class="radio-label" for="radio3">Listed</label>
              </li>
            </ul> <!-- cd-filter-content -->
          </div> <!-- cd-filter-block -->
        </form>

        <a href="#0" class="cd-close">Close</a>
  </div>


  <div class="station-filters">
    <!--
      <a href="#0" class="cd-filter-trigger">Filters</a>
    -->
    <!--
    <ul>
      <li><input date-range-picker class="form-control date-picker" type="text" placeholder="Date range" ng-model="date" /></li>
      <li><label><input type="checkbox" name="canceled" value="true" data-ng-model="onlyCanceled"/>{{ 'CANCELED' | translate }}</label></li>
      <li><label><input type="checkbox" name="finished" value="true" data-ng-model="onlyFinished"/>{{ 'FINISHED' | translate }}</label></li>
      <li><label><input type="checkbox" name="listed" value="true" data-ng-model="onlyListed"/>Listed</label>
    </ul>
    -->
  </div>



  <script>
  $('.cd-filter-trigger').click(function(event) {
    event.preventDefault()
    $('.cd-filter-trigger').toggleClass('filter-is-visible')
    $('.cd-filter').toggleClass('filter-is-visible')
  })
  $('.cd-close').click(function(event) {
    event.preventDefault()
    $('.cd-filter-trigger').toggleClass('filter-is-visible')
    $('.cd-filter').toggleClass('filter-is-visible')
  })
  </script>
  <script>

  document.addEventListener('touchmove', function(e){}, false);
  var _switch   = document.getElementById("switch-1"),
      switchHit = false,
      hasTouch  = false;
  function toggleHit(){ if(!switchHit){ switchHit = true; _switch.classList.add("hit"  ); }}
  function setTouch() { if(!hasTouch) { hasTouch = true;  _switch.classList.add("touch"); }}
  _switch.onclick = toggleHit;
  _switch.ontouchstart = function(e){ setTouch(); e.preventDefault(); e.target.click(); }
  </script>

  <!--
  <div class="empty-reponse" ng-cloak> {{ sessions.length }} You have no launches. Run <a href="/a">process</a> and come back here</div>
  -->


  <div class="empty-reponse" ng-show="isEmptyLaunches" ng-cloak>You have no launches. Run <a href="/a">process</a> and come back here</div>


<!--

  <div class="quick-session">
      <div class="primary-quick-session">100%</div>
    <div class="primary-quick-expand">
      <div class="primary-quick-expand-element">Element</div>
      <div class="primary-quick-expand-button">Confirming</div>
    </div>
  </div>


<div class="flat-launches">
  <div class="flat-launch-process">
    <a class="flat-launch-process-title">Process</a>
    <a class="flat-launch-process-date">Date</a>
  </div>
</div>
-->

<!--  
  <div class="session-process-dates" ng-repeat="(date, session_cn) in sessions">
-->


    


<div class="session-process" ng-repeat="entity in sessions" ng-hide="isSessionsOnlyActive(entity.sessions)">
  <div class="session-process-header">
    <h2 class="session-process-header-title">
      <a id="launchProcessTitle" href="/a#/bprocess/{{ entity.process.id }}/elements">{{ entity.process.title }}</a>
    </h2>
    <div class="session_controls">
      <ul>
        <!--
        <li class="process-history-btn" tooltip-placement="left" uib-tooltip="Process history" tooltip-side="bottom"  ng-click="processHistory(entity)"><span class="moicon moicon-book"></span></li>
        -->
      </ul>
    </div>
  </div>

  <div ng-repeat="(key, sessions) in entity.launchesByDate">
       <div class="launch-date"><span>{{ key | amDateFormat:'MMMM Do YYYY' }}</span></div>

  <div class="stations minimal-stations" 
       ng-init="session.lineDescShow=false;" 
       ng-class="{'lineDescShowed': session.lineDescShow == true }" 
       ng-repeat="session in sessions | orderBy:'station.paused':true | limitTo: 10 | filter:isOnlyActive">
       

  <div class="session__buttonInput" ng-click="showInlineLaunch(session);session.lineDescShow==true ? session.lineDescShow=false : session.lineDescShow=true;">
  <div class="content">
    <div class="device device--alt">
      <div class="device__screen">
        <div id="menu-icon-wrapper2" class="menu-icon-wrapper" style="visibility: hidden">
          <svg width="1000px" height="1000px">
            <path id="pathD" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
            <path id="pathE" d="M 300 500 L 700 500"></path>
            <path id="pathF" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
          </svg>
          <button id="menu-icon-trigger2" class="menu-icon-trigger"></button>
        </div> 
      </div>
    </div>
  </div>
  
    <button class="svg-button-input">

    <!--    
      <svg class="inline-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"      y="0px" width="21px" height="24px" fill="white" viewBox="0 0 32 22.5" 
            enable-background="new 0 0 32 22.5" xml:space="preserve">
            <title>Mobile Menu</title>
            <g class="svg-menu-toggle">

            <path class="bar" d="M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0
              c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z">
            </path>
            <path class="bar" d="M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25 h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z">
            </path>
            <path class="bar" d="M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0
              c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z">
            </path>
            <rect width="21" height="24" fill="none">
            </rect>
            </g>
      </svg>-->
    </button>
  </div>





  <div class="session__header">
          <div class="progress-button loading" ng-class="bubbleClass(session)" tooltip-placement="left" uib-tooltip="{{bubbleTooltip(session)}}" tooltip-side="left">
            <div class="round-progress-container">
                 <progress-arc stroke="#3080E8"
                                background="#eee"
                                size="60"
                                stroke-width="2"
                                complete="session.percent / 100">
                  </progress-arc><span class="round-percent">{{ session.percent }}</span>
            </div>
          </div>
               <div class="session_title">
                <a href="/a#/bprocess/{{ session.process.id }}/elements?launch={{ session.session.id }}">{{ session.station.note }}
                <!- {{session.station.note }} --></a>
                <abbr class="session__header__created_at" title="{{ session.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="session.created_at"></abbr>
               </div>

           <!--    
          <div class="session__header session__people">
            <div class="launched-by" ng-show="session.peoples.launched_by != 'not@found.com'" ng-init="account = accFetchSessioned(session.peoples.launched_by)">
                <span class="account-pic" tooltip-placement="right" uib-tooltip="{{ account.tooltip }}" tooltip-side="left">
                          <img ng-src="{{ account.avatarUrl}}" alt="{{ account.tooltip }}">
                </span>
            </div>
            <div class="participators">
                    <div class="perms perm-list" ng-repeat="perm in session.peoples.participators | limitTo:3" ng-init="account = accFetchSessioned(perm)">
                      <span class="account-pic" tooltip-placement="right" uib-tooltip="{{ account.tooltip }}" tooltip-side="left">
                          <img ng-src="{{ account.avatarUrl}}" alt="{{ account.tooltip }}">
                      </span>
                    </div>
            </div>
          </div>-->


  </div>




  <div class="session_controls">
    <div class="launch_share_link" ng-show="session.shareLink !== undefined && session.shareLink !== {}">
      <span class="share_link"><a href="/shared/launch/{{ session.shareLink.share_hash }}">Share link</a></span>
    </div>
    <ul class="session_controls_menu">
      <!--<li tooltip="History" ng-click="history(session, entity)"><span class="moicon moicon-book"></span></li>
      <li tooltip-placement="left" uib-tooltip="Share" tooltip-side="top" ng-click="shareLaunch(session, session.session.id)"><span class="moicon icon-share"></span></li>
      --><!--
      <li ng-class="isPinned(session)" tooltips tooltip-template="Pin launch to bottom bar" tooltip-side="top" ng-click="pin(session)"><span class="pin_session moicon moicon-pushpin"></span></li>
      -->
      <li tooltip-placement="left" uib-tooltip="Cancel" tooltip-side="top" ng-click="deleteSession(session.session.id)"><span class="moicon icon-trash"></span></li>
    </ul>
  </div>

  <div class="progress">
      <div class="progress-lines" ng-init="tree=session.session">
        <div ng-include src="'assets/partials/treeLiner.html'"></div>
      </div>
      <div class="tree-liner-dotted" aria-valuenow="{{session.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{session.percent}}%;"></div>
     <div class="progress-bar" role="progressbar" aria-valuenow="{{session.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{session.percent}}%;">
      <!--<span>{{session.percent}}%</span>-->
     </div>
  </div>

  <div class="session-launches-bar minimal">
      <!-- <div ng-include src="'assets/partials/launchesBar.html'" class="launches-bar"></div> -->


  <div class="launches-bar">
    <div class="automations_connected">

  <div class="dishes-list"><div class="dish-presentation"><div class="dish-details">
    <a href="/a#/bprocess/{{$parent.session.process.id }}/elements?launch={{$parent.session.session.id }}"><div class="dish-state left">
      <span class="state-sign vertical-center error"></span>
      <span class="state-percent vertical-center">{{ $parent.session.percent }}%</span>
    </div></a>


    <span class="dish-label vertical-center left">Started <abbr class="session__header__created_at" title="{{ $parent.session.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="$parent.session.created_at"></abbr></span>

    <div class="dish-delete right">
      <button class="moicon moicon-cancel-circle" tooltip-placement="left" uib-tooltip="Cancel" tooltip-side="left" ng-click="$parent.cancelSession($parent.session)"></button>
    </div>

    <div class="dish-operations-collapser right visible">
      <button class="moicon-menu moicon" ng-click="showInlineLaunch($parent.session)">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>

  </div>

  <div class="inline-launch" ng-animate="animate" show="$parent.session.inlineLaunchShow">
    <div ng-include="" src="'assets/partials/inputs/inputs_for_launch.html'"></div>
  </div>



  </div>
  </div>




  </div>

  </div>





  </div>


</div>



  </div>
  </div>

</div> <!-- session-process -->
