<div class="costs">
<!--	<h2 class="costTitle">Data</h2>-->


<div class="costs_fields" ng-repeat="costObj in $parent.sessionCosts | filter: $parent.byElement($parent.elem)">
	<div class="inputCost" ng-repeat="cost in costObj.costs">
		<div class="pipeContent">
			<div class="pipeContentTitle">{{ cost.entity.title }}</div>
			<div class="pipeContentValue">
				<a><span>{{ cost.value.sval }}</span></a>
				<!--
				<div class="pipeContentValueRefill" ng-init="slat.refill=false" ng-show="slat.refill">
					<input type="text" id="inputContentBlankValue" class="form-control" ng-model="slat.sval" required="">
					<a class="btn btn-small btn-success" ng-click="reFillValue(cost, entity, slat)">ReFill</a>
					<a class="btn btn-small" ng-click="slat.refill=false;">x</a>
				</div>-->
			</div>
			<!--
			<div class="pipeContentBlankValue" ng-show="slatFilter(entity, cost.slats).length < 1">
				<input type="text" id="inputContentBlankValue" class="form-control" ng-init="entity.newModelValue=defaultValueParser(entity.default)" ng-model="entity.newModelValue" required="">
				<a class="btn btn-small btn-success" ng-click="fillValue(cost, entity, entity.newModelValue)">Fill</a>
			</div>
			-->
		</div>
	</div>
</div>

</div>
