<div class="container">





<div class="empty-notice" ng-show="($parent.session.station | filter:filterExpression).length">
<h3>{{ 'RUN_FROM_DESC' | translate }}:</h3>
</div>
<div class="stations input-stations" style="clear: both;">
           <span class="number small {{ station.state }}">{{ $index + 1 }}</span>
           <p>
            {{ stationByProcess($parent.session.station.id).id }}
            {{ stationByProcess($parent.session.station.id).title }}
           
           </p>
            <div class=" col-md-9 col-lg-9 "> 

  <div class="station-markers">
    
  <ul class="station-states">
                      <li class="state started {{ $parent.session.station.started }}"> {{ 'STARTED' | translate }} </li>
                      <li class="state paused {{ $parent.session.station.paused }}"> {{ 'PAUSED' | translate }} </li>
                      <li class="state finished {{ $parent.session.station.finished }}"> {{ 'FINISHED' | translate }} </li>
  </ul>
  </div>
  <!--          <p> station.started — {{ station.started}} </p>
            <p> station.finished — {{ station.finished}} </p>
            <p> station.state — {{ station.state }}</p> 
            <p> station.step — {{ station.step }}</p>
            <p> station.space — {{ station.space }}</p>
            <p> station.container_step — {{ station.container_step }}</p> 
            <p> station.expand_step — {{ station.expand_step }}</p>
            <p> station.spaces_ids — {{ station.spaces_ids }} </p>
            <p> station.inspace — {{ station.inspace }}</p>
            <p> station.incontainer — {{ station.incontainer }}</p>
            <p> station.inexpands — {{ station.inexpands }}</p>
            <p> station.paused — {{ station.paused }}</p>
--> 
          <h3><a ng-click="expand = !expand">{{ 'LOGS' | translate }}</a></h3>
          <div class="slide" ng-show="expand">

          <div class="logs" ng-repeat="log in logsByStation(station.id)">



<table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td> {{ 'ELEMENT' | translate }} </td>
<td> {{ 'STATIONS' | translate }} </td>
<td> {{ 'INVOKED' | translate }} </td>
<td> {{ 'CONTAINER' | translate }} </td>
<td> {{ 'DATE' | translate }} </td>
<td> {{ 'STEP' | translate }} </td>
<td> {{ 'CV' | translate }} </td>

                      </tr>
                      <tr>
<td> {{ elemsHash[log.element].id }} {{ elemsHash[log.element].title }} — {{ elemsHash[log.element].type_title }} 
{{ spaceElemHash[log.space_elem].id }} {{ spaceElemHash[log.space_elem].title }} — {{ spaceElemHash[log.element].type_title }}  </td>
<td> {{ log.station }} </td>
<td> {{ log.invoked }} </td>
<td> {{ log.container }} </td>
<td> {{ log.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }} </td>
<td> {{ log.step }} </td>
<td> {{ log.comps }} </td>
            </tr>
                    </tbody>
                  </table>

           
          </div>
        </div>


          <div ng-if="station.paused == true">

<div ng-include src="'partials/treeInStation.html'"></div>
          <a ng-click="haltStation(station.id)" class="btn btn-big btn-danger" ng-show="isManagerVal">{{ 'TURN_DOWN' | translate }}</a>
          <div class="runFrom">
          <h3>{{ 'RUN_FROM_ANOT' | translate }}</h3>
          <div class="params">

        </div>
        
          <!-- <button ng-click="addParam(station)" class="btn btn-big btn-success">Add input params</button> -->




              <div ng-repeat="bpelem in station.proc_elems | filter:filterInputs " class="controls inputRequests">
                   <div class="request">
                    <p>{{bpelem.title}}</p>
                    <!--<div>
                     <select ng-model="bpelem.param" class="forParam" ng-options="param.name as param.name for param in params" required></select><br>
                    </div>-->
                    <div class="request-template">
                       <div ng-include src="'partials/forms/inputs/input_template.html'"></div>
                    </div>

              <div class="params" ng-repeat="cont in station.params">
                <pre>{{ cont.param }} {{ bpelem.id }}</pre>
                
              </div>
                </div>
                

              </div>
              <div ng-repeat="spaceelem in station.space_elems" class="controls inputRequests">
                   <div class="request">
                    <p>{{spaceelem.title}}</p>
                    <!--<div>
                    <select ng-model="spaceelem.param" class="forParam" ng-options="param.name as param.name for param in params" required></select><br>
                    </div>-->

                    <div class="request-template">
                       <div ng-include src="'partials/forms/inputs/input_template.html'"></div>
                    </div>

                </div>
              </div>
          <a ng-click="showAll()" class="btn btn-big btn-success">{{ 'SHOW_ALL' | translate }}</a>
          <a ng-click="runFrom(station.id, station)" class="btn btn-big btn-success">{{ 'RUN_FROM' | translate }}</a>

          </div>
          </div>
          {{ bplogs }}

           <hr>
          </div>

        
 
</div>
