<div class="container" ng-controller="BPRequestCtrl" ng-init="session=$parent.$parent.session;bpId=$parent.$parent.session.process.id">





<div class="empty-notice">
</div>

<div class="stations input-stations" style="clear: both;">

<!--
<div class="current-reaction-switcher">
  <label class="radio-label" for="reaction-flag">All</label>
  <input type="checkbox" class="switch" id="reaction-flag" data-ng-model="currentReactionFlag"/>
  <label class="radio-label" for="reaction-flag">Current</label>
</div>
-->
<!-- Completed launch info -->
<ul class="reaction_list reaction_list_launched reaction_list_finished">
  <li class="reaction_list__reaction reaction_list__reaction_preview" ng-repeat="elem in trees | orderBy:'+order'">
      <a>
      <h3>{{ elem.title }} <!-- : {{ capitalizeFirstLetter(reaction.reaction.title) }} --></h3></a>
      <a ng-click="fileSelectTab(elem);elem.dataSelectTabSelected=false;elem.fileSelectTabSelected=true;" id="fileSelectTabButton"
         class="fileSelectTabButton expandLaunchWindowTabButton"
         ng-class="elem.fileSelectTabSelected ? 'selected' : ''">Files</a>

      <div class="interaction-input-existence" ng-repeat="reaction in interactions.reactions | filter:filterReactionByElem(elem)">

        <a ng-click="reactionSelect(reaction);runFrom($parent.session.session.id, reaction)"
        id="reactionSelectButton" ng-class="selectedClass(reaction)"
        class="reactionSelectButton triangle-reaction"
        ng-show="showByStep($parent.session.station.step, reaction.reaction.elem_order.order)">
        {{ capitalizeFirstLetter(reaction.reaction.title) }}</a>

      </div>
      <a ng-click="dataSelectTab(elem);elem.fileSelectTabSelected=false;elem.dataSelectTabSelected=true;" id="dataSelectTabButton"
         class="expandLaunchWindowTabButton dataSelectTabButton" ng-class="elem.dataSelectTabSelected ? 'selected' : ''">Data</a>
  	 <a ng-click="openModalDataBoard($parent.$parent.session.process)" id="modalDataBoardButton"
		   class="modalDataButton dataSelectTabButton">More</a>         
      <div ng-include src="'assets/partials/inputs/costs.html'" class="cost-view-container" ng-init="costs = elem.costs;" ng-show="elem.dataSelectTabSelected"></div>
      <div ng-include src="'assets/partials/inputs/file_attach.html'"
           class="file-view-container" ng-init="elem.payload = []; $parent.elem.payloadNew = [];elem.fileSelectTabSelected=true;"
           ng-show="elem.fileSelectTabSelected"></div>
  </li>
</ul>








</div>

</div>


</div>



  <div class="process-thumb">
  <!--
  <button type="submit" id="inputResumeButton" class="btn btn-small btTxt submit btn lg solid-green ng-binding" ng-disabled="runFromDisabled" ng-click="runFrom($parent.session.session.id)" tooltip-placement="top" tooltip="Resume execution">Resume</button>-->
<!--
          <p class="tableMinListGithub">
            <button class="redButton ng-scope" ng-disabled="runFromDisabled" ng-click="runFrom($parent.session.session.id)" tooltip-placement="top" tooltip="{{ 'RUN_FROM' | translate }}"></button>
          </p>-->
  </div>
  <!--<a ng-click="haltSession($parent.session.session.id)" class="btn btn-big btn-danger" ng-show="isManagerVal">{{ 'TURN_DOWN' | translate }}</a>-->
</div>
<!--
<div class="stations input-stations" style="clear: both;">
           <span class="number small {{ station.state }}">{{ $index + 1 }}</span>
           <p>
            {{ stationByProcess($parent.session.station.id).id }}
            {{ stationByProcess($parent.session.station.id).title }}

           </p>
            <div class=" col-md-9 col-lg-9 ">

  <div class="station-markers">

  <ul class="station-states">
                      <li class="state started {{ $parent.session.station.started }}"> {{ 'STARTED' | translate }} </li>
                      <li class="state paused {{ $parent.session.station.paused }}"> {{ 'PAUSED' | translate }} </li>
                      <li class="state finished {{ $parent.session.station.finished }}"> {{ 'FINISHED' | translate }} </li>
  </ul>
  </div>

          <h3><a ng-click="expand = !expand">{{ 'LOGS' | translate }}</a></h3>
          <div class="slide" ng-show="expand">

          <div class="logs" ng-repeat="log in logsByStation($parent.session.station.id)">

          </div>
        </div>


          <div> ng-if="$parent.session.station.paused == true">

          <a ng-click="haltStation($parent.session.station.id)" class="btn btn-big btn-danger" ng-show="isManagerVal">{{ 'TURN_DOWN' | translate }}</a>
          <div class="runFrom">
          <h3>{{ 'RUN_FROM_ANOT' | translate }}</h3>
          <div class="params">
          </div>

           <button ng-click="addParam(station)" class="btn btn-big btn-success">Add input params</button>




              <div ng-repeat="bpelem in $parent.session.station.proc_elems | filter:currentReactionFilter " class="controls inputRequests">
                   <div class="request">
                    <p>{{bpelem.title}}</p>
                    <div>
                     <select ng-model="bpelem.param" class="forParam" ng-options="param.name as param.name for param in params" required></select><br>
                    </div>
                    <div class="request-template">
                       <div ng-include src="'assets/partials/forms/inputs/input_template.html'"></div>
                    </div>

              <div class="params" ng-repeat="cont in $parent.session.station.params">
                <pre>{{ cont.param }} {{ bpelem.id }}</pre>

              </div>
                </div>


              </div>
              <div ng-repeat="spaceelem in $parent.session.station.space_elems" class="controls inputRequests">
                   <div class="request">
                    <p>{{spaceelem.title}}</p>
                    <div>
                    <select ng-model="spaceelem.param" class="forParam" ng-options="param.name as param.name for param in params" required></select><br>
                    </div>

                    <div class="request-template">
                       <div ng-include src="'assets/partials/forms/inputs/input_template.html'"></div>
                    </div>

                </div>
              </div>
          <a ng-click="showAll()" class="btn btn-big btn-success">{{ 'SHOW_ALL' | translate }}</a>
          <a ng-click="runFrom($parent.session.station.id, $parent.session.station)" class="btn btn-big btn-success">{{ 'RUN_FROM' | translate }}</a>

          </div>
          </div>


           <hr>
          </div>



</div>
-->
