<div class="data-cost-controlls-expanded select-existed-new-data-cost">
  <form class="existed-new-data-cost form">
    <div class="form-group">
        <label for="selectExistedResource"><a href="/data">Resource</a></label>
        <select id="selectExistedResource" class="form-control" ng-init="newCost.cost = {};" ng-model="newCost.resource"
        ng-init="newCost.resource=avalCosts[0];newCost.entity=avalCosts[0].entities[0]"
        class="forResource"
        ng-options="res_cn as res_cn.resource.title for res_cn in avalCosts"></select>


    </div>
    <div class="form-group">
        <label for="selectExistedEntity">Entity</label>
        <select id="selectExistedEntity" ng-model="newCost.entities"
        class="form-control"
        ng-options="entity.id as entity.title for entity in newCost.resource.entities"></select>
    </div>
  <div class="data-cost-controlls-buttons">
  <a class="btn btn-small btn-success btn-fill" ng-click="createCostWithAssign(newCost,$parent.element.id);$parent.addExistedCostForm=false;newCost = {};">Add</a>
  <a class="btn btn-danger btn-success btn-fill" ng-click="$parent.addExistedCostForm=false">Cancel</a>
</div>
</form>
</div>
