<div class="data-cost-controlls-expanded select-existed-new-data-cost">
  <form class="existed-new-data-cost form">
    <div class="form-group">
        <label for="selectExistedResource"><a href="/data" class="resource-links">Indicator</a></label>
        <select id="selectExistedResource" class="form-control" ng-init="newCost.cost = {};" 
        ng-model="newCost.resource"
        ng-init="newCost.resource=avalCosts[0];newCost.entity=avalCosts[0].entities[0]"
        class="forResource"
        ng-options="res_cn as res_cn.resource.title for res_cn in avalCosts"
        ng-change="newCost.entities = newCost.resource.entities[0]"></select>

<!--
<ui-select ng-model="newCost.resource" reset-search-input="false" required="true" ng-maxlength="40">
  <ui-select-match placeholder="Select indicator or add new one...">
    <span>{{$select.selected.resource.title || $select.search}}</span>

  </ui-select-match>
  <ui-select-choices repeat="res_cn in (avalCosts | filter: { description: $select.search })" refresh="launchData.refreshResults($select)" refresh-delay="0">
    <span>{{res_cn.resource.title}}</span>
  </ui-select-choices>
</ui-select>
-->


    </div>
    <div class="form-group">
        <label
        for="selectExistedEntity"
        ng-hide="newCost.resource !== undefined && newCost.resource.entities.length < 1">Value</label>
        <!--
        <select id="selectExistedEntity" 
        ng-model="newCost.entities"
        class="form-control"
        ng-init="newCost.entities = newCost.resource.entities[0]"
        ng-options="entity.id as entity.title for entity in newCost.resource.entities"
        ng-hide="newCost.resource !== undefined && newCost.resource.entities.length < 1">
        </select>
        -->
        <input type="text" ng-model="newCost.value" class="form-control indicator-value-entry">

<select id="selectExistedEntity" 
        ng-model="newCost.entities"
        class="form-control hidden"
        ng-init="newCost.entities = newCost.resource.entities[0]"
        ng-hide="newCost.resource !== undefined && newCost.resource.entities.length < 1">
   <option data-ng-repeat="entity in newCost.resource.entities" 
            value="{{entity.id}}" ng-selected="entity == newCost.resource.entities[0]">{{entity.title}}</option>
</select>




        <div class="entity-empty-message" ng-show="newCost.resource !== undefined && newCost.resource.entities.length < 1">
          <span>Please add <a href="/data">entity</a></span>
        </div>
    </div>
  <div class="data-cost-controlls-buttons">
  <a class="btn btn-small btn-success btn-fill" ng-click="createCostWithAssign(newCost,$parent.elem, costObj);$parent.addExistedCostForm=false;newCost = {};">Add</a>
  <a class="btn btn-danger btn-success btn-fill" ng-click="$parent.addExistedCostForm=false">Cancel</a>
</div>
</form>
</div>
