 <form novalidate="novalidate" ng-init="" ng-submit="createNewElem();" class="form-horizontal form-new-bpelem" ng-class="newBpelem.type_title">
    <div class="form-group element-form-fields">
    <div class="control-group">
      <h3>Create element</h3>
    </div>
    <div class="form-group element-form-fields control-group clearfix">
      <div class="controls col-xs-2">
        <label class="control-label col-sm-1" for="inputTitle">Title</label>
      </div>
      <div class="controls col-xs-6">      
        <input type="text" id="inputTitle" class="form-control" ng-model="newBpelem.title" required/>
      </div>

    </div>
    <div class="form-group element-form-fields control-group clearfix">
      <div class="controls col-xs-2">
        <label class="control-label col-sm-1" for="inputBusinessId">{{ 'DESC' | translate }}</label>
      </div>
      <div class="controls col-xs-6">
        <textarea type="text" class="form-control" id="inputBusinessId" ng-model="newBpelem.desc"/>
      </div>
    </div>

    <div class="form-group element-form-fields control-group clearfix">

    <div class="controls col-xs-2">
          <label class="control-label ng-binding" for="inputTitle">Type</label>
    </div>
      <div class="controls col-xs-6">
          <span class="selectedRefType">{{ newBpelem.selectedRef.ref.title }}</span>
            <a ng-click="newBpelem.refSelectHidden=false;" ng-show="newBpelem.refSelectHidden == true;" class="expand-ref-select"><span class="moicon moicon-info expand-ref-select"></span></a>
      </div>      
    </div><!-- form-group element-form-fields -->
    </div>
    <div class="ref-select-container fadein clearfix" ng-hide="newBpelem.refSelectHidden" ng-init="newBpelem.selectedRef != undefined ? newBpelem.refSelectHidden=false : refSelectHidden=true;">
  <select style="display:none;" name="category" id="categorySelect" ng-model="newBpelem.refCategoryFilter" ng-init="newBpelem.refCategoryFilter = refCategories[0]" ng-options="option for option in refCategories" required="" class="ng-valid ng-valid-required"><option value="0" selected="selected">Base</option></select>
    <div class="templateButton form-group col-xs-4 clearfix">
      <div class="ref" ng-repeat="ref in refs | filter: { ref: {category: newBpelem.refCategoryFilter}}" ng-class="{selected: newBpelem.selectedRef.ref.id == ref.ref.id }">
        <a ng-mouseover="refElem(ref, newBpelem)" ng-click="newBpelem.refSelectHidden=true;" class="btn btn-small btn-primary container_brick" ng-class="isSelected(ref, newBpelem)">{{ ref.ref.title }}</a>
      </div>
    </div>
    <div class="ref-desc form-group col-xs-8">
      <h6>{{ newBpelem.selectedRef.ref.title }}</h6>
      <p>{{ newBpelem.selectedRef.ref.desc }}</p>
      <ul>
        <li ng-repeat="state in newBpelem.selectedRef.bpstate"><span>State: {{state.title}}</span></li>
      </ul>
    </div>   
    </div><!-- ref-select-container --> 
    <div class="control-group people-control-group">
      <div class="form-group element-form-fields">
      <div class="form-group control-group clearfix">
        <div class="controls col-xs-2">
          <label class="control-label col-sm-1" for="inputPerm">People</label>
        </div>
        <div class="controls col-xs-6" ng-init="newBpelem.perms = [];">  
          <div class="perms perm-list" ng-repeat="perm in newBpelem.perms" ng-init="perm.account = accFetch(perm)">
            <span class="account-pic" tooltip="{{ perm.account.tooltip }}">
                <img ng-src="{{ perm.account.avatarUrl}}" alt="{{ perm.account.tooltip }}">
                <a ng-click="delPermForForm(perm,newBpelem.perms)" class="btn-delete minicon"></a>
            </span>
          </div>   
          <select id="inputPerm" ng-model="newBpelem.perm" class="forUID" ng-options="employeegroup as credFetch(employeegroup) for employeegroup in employees_groups" multiple></select>
          <!--<a ng-click="createPermForForm(newBpelem.perm, newBpelem.perms, 'front')" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>-->
        </div>
      </div>
      </div>
    </div>    
    <div class="control-group cost-control-group">
      <div class="form-group element-form-fields">
      <div class="form-group control-group clearfix">
        <div class="controls col-xs-2">
          <label class="control-label col-sm-1" for="inputPerm">Cost</label>
        </div>
        <div class="controls col-xs-6" ng-init="newBpelem.costs = [];">  
          <div class="costs cost-list" ng-repeat="cost in newBpelem.costs">
            <span class="resource-block" tooltip="{{ cost.resource.title }}">
                {{ cost.resource.resource.title }} — {{ entityDecorator(cost.entities, cost.resource) }}
                <a ng-click="delElementResource(cost, newBpelem.costs)" class="btn-delete minicon"></a>
            </span>
          </div>   
          <div class="input-resource-block">
               <span class="input-resource-block-title">Resouce</span>
              <select id="inputResource" ng-init="newBpelem.cost = {};" ng-model="newBpelem.cost.resource" ng-init="newBpelem.cost.resource=resources[0];newBpelem.cost.entity=newBpelem.cost.resource.entities[0]" ng-change="newBpelem.cost.entity=newBpelem.cost.resource.entities[0]" class="forResource" ng-options="res_cn as res_cn.resource.title for res_cn in resources"></select>
          </div>
          <div class="input-entity-block">
               <span class="input-entity-block-title">Entity</span>
              <select id="inputEntity" ng-model="newBpelem.cost.entities" class="forResource" ng-options="entity.id as entity.title for entity in newBpelem.cost.resource.entities"></select>      
          </div>    
          <a ng-click="createElementResource(newBpelem.cost, newBpelem.costs)" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>
        </div>
      </div>
      </div>
    </div> 

    <input type="hidden" name="value" ng-model="newBpelem.business" value="{{ business() }}">
    <input type="hidden" name="value" ng-model="newBpelem.process" value="{{ BPid }}">
    <input type="hidden" id="input_b_type" ng-model="newBpelem.b_type"/>
    <input type="hidden" id="input_type_title" ng-model="newBpelem.type_title"/>
    <input type="hidden" id="input_space_own" ng-model="newBpelem.space_own"/>
    <input type="hidden" id="input_order" ng-model="newBpelem.order" value="{{ orderFrontGen(newBpelem) }}"/>
    <input type="hidden" id="input_ref" ng-model="newBpelem.ref"/>
    <div class="control-group form-submit form-group" style="clear:both;" ng-show="isManagerVal">
      <div class="controls">
        <button type="submit" class="btn btn-small btTxt submit btn lg solid-green ng-binding">{{ 'CREATE' | translate }}</button>
      </div>
    </div>
  </form>
