
     <!-- FOR CONTAINER TEMPLATE -->
      <div class="tab-pane active" id="edit" ng:show="bpelem.type_title == 'container_brick'">
          <div class="front-spaces" ng-repeat="space in frontSpaces[bpelem.id]">

        <div class="space-subbricks">
          <div class="space-subbrick">
            <div class="element-header">
                  <div class="primary-states">
                  </div>
                  <div class="info">
                   {{ 'SPACE' | translate }}: {{ space.index }} — <a ng:click="space.cneedit=!space.cneedit" ng-show="isManagerVal">{{ 'ADD_TO_SPACE' | translate }}</a>
                  <!--
                    <h4 class="title">Subbrick</h4> 
                  -->
                  </div>
                  </div>   
          </div>
          <div class="state" ng-class="state.on" ng-repeat="state in space.states">
            <div class="switcher" ng-repeat="switcher in state.switches">
            <span class="switcher-icon" ng-class="switcher.switch_type"></span>{{ state.title }} — {{ state.neutral }}
          </div>
          </div>
        </div>

             <div class="new-space-elem-form" ng:show="space.cneedit">




 <form novalidate="novalidate" ng-submit="createSpaceElem(space.newSpaceelem);flushEditForm(space.newSpaceelem, space);cneedit=!cneedit" class="form-horizontal form-horizontal form-new-bpelem form-edit-bpelem element-new-form form-new-spaceelem">
    <div class="form-group element-form-fields">
    <div class="form-group element-form-fields control-group clearfix">
      <div class="controls col-xs-2">
        <label class="control-label col-sm-1" for="inputNewSpaceElemTitle">Title</label>
      </div>
      <div class="controls col-xs-6">      
        <input type="text" id="inputNewSpaceElemTitle" class="form-control" ng-model="space.newSpaceelem.title" required/>
      </div>

    </div>
    <div class="form-group element-form-fields control-group clearfix">
      <div class="controls col-xs-2">
        <label class="control-label col-sm-1" for="inputNewSpaceElemDesc">{{ 'DESC' | translate }}</label>
      </div>
      <div class="controls col-xs-6">
        <textarea type="text" class="form-control" id="inputNewSpaceElemDesc" ng-model="space.newSpaceelem.desc"/>
      </div>
    </div>

    <div class="form-group element-form-fields control-group clearfix">

    <div class="controls col-xs-2">
          <label class="control-label ng-binding" for="inputNewSpaceElemType">Type</label>
    </div>
      <div class="controls col-xs-6">
          <span class="selectedRefType">{{ space.newSpaceelem.selectedRef.ref.title }}</span>
            <a ng-click="space.newSpaceelem.refSelectHidden=false;" ng-show="space.newSpaceelem.refSelectHidden == true;" class="expand-ref-select"><span class="moicon moicon-info expand-ref-select"></span></a>
      </div>      
    </div><!-- form-group element-form-fields -->
    </div>
    <div class="ref-select-container clearfix" ng-hide="space.newSpaceelem.refSelectHidden" ng-init="space.newSpaceelem.selectedRef != undefined ? space.newSpaceelem.refSelectHidden=false : refSelectHidden=true;">
  <select style="display:none;" name="category" id="categorySelect" ng-model="space.newSpaceelem.refCategoryFilter" ng-init="space.newSpaceelem.refCategoryFilter = 'Base'" ng-options="option for option in refCategories" required="" class="ng-valid ng-valid-required"><option value="0" selected="selected">Base</option></select>
    <div class="templateButton form-group col-xs-4 clearfix">
      <div class="ref" ng-repeat="ref in refs | filter: nestedContainerRestriction | filter: { ref: {category: space.newSpaceelem.refCategoryFilter}}" ng-class="{selected: space.newSpaceelem.selectedRef.ref.id == ref.ref.id }">
        <a ng-mouseover="refElem(ref, space.newSpaceelem)" ng-click="space.newSpaceelem.refSelectHidden=true;" class="btn btn-small btn-primary container_brick" ng-class="isSelected(ref, space.newSpaceelem)">{{ ref.ref.title }}</a>
      </div>
    </div>
    <div class="ref-desc form-group col-xs-8">
      <h6>{{ space.newSpaceelem.selectedRef.ref.title }}</h6>
      <p>{{ space.newSpaceelem.selectedRef.ref.desc }}</p>
      <ul>
        <li ng-repeat="state in space.newSpaceelem.selectedRef.bpstate"><span>State: {{state.title}}</span></li>
      </ul>
    </div>   
    </div><!-- ref-select-container --> 
    <div class="control-group">
      <div class="form-group element-form-fields">
      <div class="form-group control-group clearfix">
        <div class="controls col-xs-2">
          <label class="control-label col-sm-1" for="inputNewSpaceelemPerm">People</label>
        </div>
        <div class="controls col-xs-6" ng-init="space.newSpaceelem.perms = [];">  
          <div class="perms perm-list" ng-repeat="perm in space.newSpaceelem.perms" ng-init="perm.account = accFetch(perm)">
            <span class="account-pic" tooltip="{{ perm.account.tooltip }}">
                <img ng-src="{{ perm.account.avatarUrl}}" alt="{{ perm.account.tooltip }}">
                <button ng-click="delPermForForm(perm,space.newSpaceelem.perms)" class="btn-delete minicon"></button>
            </span>
          </div>   
          <select id="inputPerm" ng-model="space.newSpaceelem.perm" class="forUID" ng-options="employeegroup as credFetch(employeegroup) for employeegroup in employees_groups"></select>
          <a ng-click="createPermForForm(space.newSpaceelem.perm, space.newSpaceelem.perms, 'nested')" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>
        </div>
      </div>
      </div>
    </div>    
<input type="hidden" name="value" ng-model="space.newSpaceelem.business" ng-init="business" >
<input type="hidden" name="value" ng-model="space.newSpaceelem.process" ng-init="parseInt(BPid)">
<input type="hidden" id="newSpaceelem_b_type" ng-model="space.newSpaceelem.b_type"/>
<input type="hidden" id="newSpaceelem_type_title" ng-model="space.newSpaceelem.type_title"/>
<input type="hidden" id="newSpaceelem_space_owned" ng-model="space.newSpaceelem.space_owned" ng-init="space.newSpaceelem.space_owned=space.id" value="{{ space.id }}"/>
<input type="hidden" id="newSpaceelem_space_role" ng-model="space.newSpaceelem.space_role" ng-init="space.newSpaceelem.space_role" value="container"/>
<input type="hidden" id="newSpaceelem_order" ng-model="space.newSpaceelem.order" value="{{ orderNestedGen(space.newSpaceelem) }}"/>
    <div class="control-group form-submit form-group" style="clear:both;" ng-show="isManagerVal">
      <div class="controls">
        <button type="submit" class="btn btn-small btTxt submit btn lg solid-green ng-binding">{{ 'CREATE' | translate }}</button>
      </div>
    </div>
  </form>

              </div>



              <div class="front-space-elems space-elements">
                <div class="space-blocks space-element" ng-repeat="spaceelem in spaceelems | filter:{space_owned: space.id} | orderBy:'order'">
                  <div class="element-header">
                    <div class="primary-states">
                    </div>
                    <div class="info">
                      <div class="type" ng-class="spaceelem.type_title">{{ type_short[spaceelem.type_title] }}

<ul class="type-tabs" ng-init="spaceelem.hovered=false" role="tablist" ng-mouseover="spaceelem.hovered == true ? bpelspaceelemem.hovered=false : spaceelem.hovered=true" ng-show="(isManagerVal && !inSession && selected == 2) || (spaceelem.hovered == true && inSession)">
           <li><a role="tab" data-toggle="tab" ng:init="selected=1" ng:click="selected == 1 ? selected=2 : selected=1">
           <span class="glyphicon glyphicon-edit"></span></a></li>
           <li><a ng-click="deleteSpaceElem(spaceelem)"><span class="glyphicon glyphicon-remove"></span></a></li>
           <li><a ng:click="moveUpSpaceElem(spaceelem)"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
           <li><a ng:click="moveDownSpaceElem(spaceelem)"><span class="glyphicon glyphicon-arrow-down"></span></a></li>
         </ul>
                      </div>
                    <h4 class="title">{{ spaceelem.title }}</h4>
                    <h6 class="desc">{{ spaceelem.desc }}</h6>
                    </div>
<ul class="elem-control elem-tabs" role="tablist" ng-show="inSession">
      <p ng-show="spaceelem.states.length > 0">
        <abbr class="session__header__created_at" title="{{ spaceelem.states[0].updated_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}" am-time-ago="spaceelem.states[0].updated_at"></abbr>
      </p>
    </ul>
    <ul class="elem-control elem-tabs input-logs" ng-show="inSession && spaceelem.ilogs.length > 0">
      <li ng-repeat="ilog in spaceelem.ilogs">{{ ilog.uid }}</li>
    </ul>

                  </div><!-- element header -->

                  <div class="tab-pane active" id="edit" ng:show="selected == 2">
                    <div ng-include src="'assets/partials/bp_elements/spelem-edit.html'"></div>
                  </div>

                  <div class="tab-content">
                   




    <div class="right-bar" ng:init="exp=false" ng-class="stateClass(masterState(spaceelem))" ng-class="exp == active ? 'exp-active' : 'exp-disabled'">
      <div class="states-row">
        <div class="state-row">
          <div class="row-top">
            <div class="state">
              <div class="switcher" ng-repeat="switcher in spaceelem.states | limitTo: 1">
              <div class="state-thumbnail" ng-class="stateActiveClass(masterState(spaceelem))">
                  <span class="switcher-icon" ng-class="switcher.switch_type"></span>
                  <div class="neutral">{{ masterState(spaceelem).neutral }}</div>
                  <div class="middleable">{{ masterState(spaceelem).middle }}</div>
                  <div class="oposite">{{ masterState(spaceelem).oposite }}</div>
                  <div class="ended">{{ masterState(spaceelem).title }}</div>
              </div>
            </div>
            </div>
            
          </div>
          <div class="row-bottom">
           
          </div>
        </div>
      </div>
      <div class="expanded-element" ng:show="exp == active">
            <div class="reactions">
              <div class="reaction" ng-repeat="reaction in spaceelem.reactions">
                <span class="reaction-icon minicon minicon-gear-fill-right"></span>
                <div class="reaction-title">{{ capitalizeFirstLetter(reaction.reaction.title) }}</div>
                  <span class="reaction_list__reaction__state_outs" ng-repeat="state_out in reaction.reaction_state_outs">
                  {{ stateOutAct(state_out) }} {{ stateByStateRef(state_out.state_ref) }} 
                  </span>
              </div>
            </div>
            <div class="state" ng-class="stateClass(state)" ng-repeat="state in spaceelem.states">
              <div class="switcher" ng-repeat="switcher in state.switches">
                <div class="state-thumbnail" ng-class="stateActiveClass(state)">
                  <div class="neutral">{{ state.neutral }}</div>
                  <div class="middleable">{{ state.middle }}</div>
                  <div class="oposite">{{ state.oposite }}</div>
                  <div class="ended">{{ state.title }}</div>
                  <!--- {{ stateDecoration(state) }} {{ switcherDecoration(switcher) }} -->
                  <span class="switcher-icon" ng-class="switcher.switch_type"></span>
                </div>
            </div>
            </div>      
      </div>
      <div class="row-selector"></div>
      <div class="elem-expander" ng:click="exp == false ? exp=active : exp=false"><span class="uicon-svg93"></span>
      </div>
    </div><!-- right bar -->




                   
                      <div class="tab-pane active" ng:show="spaceelem.type_title == 'container_brick'">
                          <div class="nested-spaces" ng-repeat="space in nestedSpaces[spaceelem.id]">
                              <div ng-include src="'assets/partials/bp_elements/nested_cn.html'"></div>
                              <div ng-include src="'assets/partials/bp_elements/nested_cn_elems.html'"></div>
                          </div>
                      </div>


                    </div>
                    </div>
              </div>

          </div>

      </div>
