Space: {{ space.index }} — 
<a ng:click="space.cneedit=!space.cneedit" ng-show="isManagerVal">{{ 'ADD_TO_SPACE' | translate }}</a>

<div class="state" ng-class="state.on" ng-repeat="state in space.states">
  <div class="switcher" ng-repeat="switcher in state.switches">
  <span class="switcher-icon" ng-class="switcher.switch_type"></span>{{ state.title }} — {{ state.neutral }}
</div>
</div>
<div class="elem-desc" ng:show="(space.cneedit == false || space.cnedit == undefined) && mySpaceElems(spaceelems, space.id).length < 1 && isManagerVal">
<div class="confirm-desc">
<h3>{{ 'CONFIRM' | translate }}</h3>
<p>{{ 'CONFDESCFULL' | translate }}</p>
</div>
<div class="container-desc">
<h3>{{ 'CONTAINER' | translate }}</h3>
<p>{{ 'CONTDESCFULL' | translate }}</p>
</div>

</div>

<div ng:show="space.cneedit">
 <!--<form novalidate="novalidate" ng-submit="createSpaceElemFromSpace(space.newSpaceelem);flushEditForm(space.newSpaceelem, space);cneedit=!cneedit" class="form-horizontal form-new-spaceelem" ng-class="space.newSpaceelem.type_title">
     <div class="control-group form-group">
       <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
       <div class="controls col-xs-4">
         <input type="text" class="form-control" id="inputTitle" ng-model="space.newSpaceelem.title" required/>
       </div>
     </div>
     <div class="control-group form-group">
       <label class="control-label col-sm-1" for="inputBusinessId">{{ 'DESC' | translate }}:</label>
       <div class="controls col-xs-4">
         <textarea type="text" class="form-control" id="inputBusinessId" ng-model="space.newSpaceelem.desc"/>
       </div>
     </div>



     <div class="control-group form-group">
       <div class="controls col-xs-8">
          <div class="templateButton">
              <div class="ref" ng-repeat="ref in refs">
                <a ng-click="refElem(ref, space.newSpaceelem)" class="btn btn-small btn-primary container_brick">{{ ref.ref.title }} <span tooltip="{{ 'CONTDESC' | translate }}" tooltip-placement="bottom" class="glyphicon glyphicon-info-sign"></span></a>
              </div>
          </div>
         <button type="submit" class="btn btn-small btn-primary">{{ 'NEW' | translate }}</button>
       </div>
     </div>
   </form>-->



 <form novalidate="novalidate" ng-submit="createSpaceElemFromSpace(space.newSpaceelem);flushEditForm(space.newSpaceelem, space);cneedit=!cneedit" class="form-horizontal form-new-bpelem form-edit-bpelem element-new-form form-new-spaceelem">
    <div class="form-group element-form-fields">
    <div class="form-group element-form-fields control-group clearfix">
      <div class="controls col-xs-2">
        <label class="control-label col-sm-1" for="inputTitle">Title</label>
      </div>
      <div class="controls col-xs-6">      
        <input type="text" id="inputTitle" class="form-control" ng-model="space.newSpaceelem.title" required/>
      </div>

    </div>
    <div class="form-group element-form-fields control-group clearfix">
      <div class="controls col-xs-2">
        <label class="control-label col-sm-1" for="inputBusinessId">{{ 'DESC' | translate }}</label>
      </div>
      <div class="controls col-xs-6">
        <textarea type="text" class="form-control" id="inputBusinessId" ng-model="space.newSpaceelem.desc"/>
      </div>
    </div>

    <div class="form-group element-form-fields control-group clearfix">

    <div class="controls col-xs-2">
          <label class="control-label ng-binding" for="inputTitle">Type</label>
    </div>
      <div class="controls col-xs-6">
          <span class="selectedRefType">{{ space.newSpaceelem.selectedRef.ref.title }}</span>
            <button href="" ng-click="space.newSpaceelem.refSelectHidden=false;" ng-show="space.newSpaceelem.refSelectHidden == true;" class="expand-ref-select"><span class="moicon moicon-info expand-ref-select"></span></button>
      </div>      
    </div><!-- form-group element-form-fields -->
    </div>
    <div class="ref-select-container fadein fadeout clearfix" ng-hide="space.newSpaceelem.refSelectHidden" ng-init="space.newSpaceelem.selectedRef != undefined ? space.newSpaceelem.refSelectHidden=false : refSelectHidden=true;">
  <select style="display:none;" name="category" id="categorySelect" ng-model="space.newSpaceelem.refCategoryFilter" ng-init="space.newSpaceelem.refCategoryFilter = refCategories[0]" ng-options="option for option in refCategories" required="" class="ng-valid ng-valid-required"><option value="0" selected="selected">Base</option></select>
    <div class="templateButton form-group col-xs-4 clearfix">
      <div class="ref" ng-repeat="ref in refs | filter: { ref: {category: space.newSpaceelem.refCategoryFilter}}" ng-class="{selected: space.newSpaceelem.selectedRef.ref.id == ref.ref.id }">
        <a ng-mouseover="refElem(ref, space.newSpaceelem)" ng-click="space.newSpaceelem.refSelectHidden=true;" class="btn btn-small btn-primary container_brick" ng-class="isSelected(ref, space.newSpaceelem)">{{ ref.ref.title }}</a>
      </div>
    </div>
    <div class="ref-desc form-group col-xs-8">
      <h6>{{ space.newSpaceelem.selectedRef.ref.title }}</h6>
      <p>{{ space.newSpaceelem.selectedRef.ref.desc }}</p>
      <ul>
        <li ng-repeat="state in space.newSpaceelem.selectedRef.bpstate"><span>State: {{state.title}}</span></li>
      </ul>
    </div>   
    </div><!-- ref-select-container --> 
    <div class="control-group">
      <div class="form-group element-form-fields">
      <div class="form-group control-group clearfix">
        <div class="controls col-xs-2">
          <label class="control-label col-sm-1" for="inputPerm">People</label>
        </div>
        <div class="controls col-xs-6" ng-init="space.newSpaceelem.perms = [];">  
          <div class="perms perm-list" ng-repeat="perm in space.newSpaceelem.perms" ng-init="perm.account = accFetch(perm)">
            <span class="account-pic" tooltip="{{ perm.account.tooltip }}">
                <img ng-src="{{ perm.account.avatarUrl}}" alt="{{ perm.account.tooltip }}">
                <button ng-click="delPermForForm(perm,space.newSpaceelem.perms)" class="btn-delete minicon"></button>
            </span>
          </div>   
          <select id="inputPerm" ng-model="space.newSpaceelem.perm" class="forUID" ng-options="employeegroup as credFetch(employeegroup) for employeegroup in employees_groups"></select>
          <a ng-click="createPermForForm(space.newSpaceelem.perm, space.newSpaceelem.perms, 'nested')" class="btn btn-big btn-success">{{ 'ADD' | translate }}</a>
        </div>
      </div>
      </div>
    </div>    
   <input type="hidden" name="value" ng-model="space.newSpaceelem.business" value="{{ business }}">
   <input type="hidden" name="value" ng-model="space.newSpaceelem.process" value="{{ BPid }}">
   <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.b_type"/>
   <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.type_title"/>
   <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.space_owned" ng-init="space.newSpaceelem.space_owned=space.id" value="{{ space.id }}"/>
   <input type="hidden" id="inputBusinessId" ng-model="space.newSpaceelem.space_role" ng-init="space.newSpaceelem.space_role" value="container"/>

    <div class="control-group form-submit form-group" style="clear:both;" ng-show="isManagerVal">
      <div class="controls">
        <button type="submit" class="btn btn-small btTxt submit btn lg solid-green ng-binding">{{ 'CREATE' | translate }}</button>
      </div>
    </div>
  </form>

 </div>
