<!-- STATES -->
<ul>
 <!-- STATE CREATION -->
 <form novalidate="novalidate" class="form-horizontal form-new-bpelem">
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
      <div class="controls col-xs-4">
        <input type="text" id="inputTitle" class="form-control" ng-model="bpelem.newState.title"/>
      </div>
    </div>
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputBusinessId">OPOSITE:</label>
      <div class="controls col-xs-4">
        <textarea type="text" class="form-control" id="inputBusinessId" ng-model="bpelem.newState.opposite"/>
      </div>
    </div>
        <input type="hidden" name="value" ng-model="bpelem.newState.reflection" value="{{ bpelem.reflection }}">
        <input type="hidden" name="value" ng-model="bpelem.newState.lang" ng-init="bpelem.newState.lang = 'en'">
        <input type="hidden" name="value" ng-model="bpelem.newState.front_elem_id" ng-init="bpelem.newState.front_elem_id = bpelem.id">
        
        <input type="number" id="inputBusinessId" ng-model="bpelem.newState.on_rate"/>
        <input type="checkbox" id="inputBusinessId" ng-model="bpelem.newState.on"/>
        <input type="checkbox" id="inputBusinessId" ng-model="bpelem.newState.process_state"/>
    <div class="control-group form-group" ng-show="isManagerVal">
      <div class="controls col-xs-4">
        <a ng-click="createNewState(bpelem.newState)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      </div>
    </div>
  </form>


  <li ng-repeat="state in bpelem.states">
 			{{ state.title }} - {{ state.oposite}}
 			<a ng-click="deleteState(state)">delete</a>
 			<a ng-click="state.newStateForm ? state.newStateForm=false : state.newStateForm=true">new switcher</a>
      <!-- UPDATE STATE -->
 <form novalidate="novalidate" class="form-horizontal form-new-bpelem">
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputTitle">{{ 'TITLE' | translate }}:</label>
      <div class="controls col-xs-4">
        <input type="text" id="inputTitle" class="form-control" ng-model="state.title"/>
      </div>
    </div>
    <div class="control-group form-group">
      <label class="control-label col-sm-1" for="inputBusinessId">OPOSITE:</label>
      <div class="controls col-xs-4">
        <textarea type="text" class="form-control" id="inputBusinessId" ng-model="state.opposite"/>
      </div>
    </div>
        <input type="hidden" name="value" ng-model="state.reflection" value="{{ bpelem.reflection }}">
        <input type="hidden" name="value" ng-model="state.lang">
        <input type="hidden" name="value" ng-model="state.front_elem_id">
        
        <input type="number" id="inputBusinessId" ng-model="state.on_rate"/>
        <input type="checkbox" id="inputBusinessId" ng-model="state.on"/>
        <input type="checkbox" id="inputBusinessId" ng-model="state.process_state"/>
    <div class="control-group form-group" ng-show="isManagerVal">
      <div class="controls col-xs-4">
        <a ng-click="updateState(state)" class="btn btn-small btn-primary">{{ 'CREATE' | translate }}</a>
      </div>
    </div>
  </form>
<div ng-include src="'partials/reflections/elem_switchers.html'"></div>

         </li>
       </ul>