@import decorators._
@import models.DAO._
@(sessions: List[SessionContainer])
	
  <div class="teamChangeBox teamPaddedBox">
    <div class="session_header__top_bar">
	    <h2>Active sessions</h2>
	    <div class="session_header__top_bar__all_sessions">
	    	<a href="/a#/sessions">All sessions</a>
	    </div>
    </div>
    <div class="session_list">
    	@sessions.map { session => 
    	<div class="session_list__session">
    		<div class="session_list__session__process">
    			<a href="/a#/bprocess/@{session.process.id.getOrElse(0)}">Process — @session.process.title</a>
    		</div>
            @session.sessions.map { session =>
    		<div class="session_list__session__process_session">
    			<div class="session_list__session__process_session__session_label">
    				<label><a href="/a#/bprocess/@{session.process.id.getOrElse(0)}?session=@session.session.id">Session # @session.session.id — @session.station match {
                    case Some(station) => { station.note }
                    case _ => { "" }
                    }
                    </a></label>
    			</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="@{session.percent}" aria-valuemin="0" aria-valuemax="100" style="width: @{session.percent}%;">
				    @{session.percent}%
				  </div>
				</div>
    		</div>
            }
    	</div>
    	}
    </div>
  </div>
