@import decorators._
@import models.DAO._
@(sessions: List[SessionContainer], currentReactionCN: List[CurrentSessionReactionContainer])
	
  <div class="teamChangeBox teamPaddedBox">
    <div class="session_header__top_bar">
	    <header class="panel-heading head-border">Active launches</header>
    </div>
    <div class="session_list">
    	@sessions.map { session_cn => 
          @if(session_cn.sessions.length > 0) {
          <div class="session_list__session">
    		  <div class="session_list__session__process">
    		  	<a href="/a#/bprocess/@{session_cn.process.id.getOrElse(0)}">@session_cn.process.title</a>
    		  </div>
          
            
                @session_cn.sessions.take(3).map { session =>
                <div class="session-container">
                <div class="active-sessions">
                                                <div class="info">
                                                    <div class="desc pull-left"><a href="/a#/bprocess/@{session.process.id.getOrElse(0)}/elements?session=@session.session.id"> 
                                                    @session.station match {
                                                      case Some(station) => {
                                                            @station.note match {
                                                                case Some(note) => { @{"—" + note} }
                                                                case _ => {  }
                                                            }
                                                            <time class="updated" itemprop="dateModified" datetime="@station.created_at"></time></a></div>
                                                      }
                                                      case _ => {
                                                            <time class="updated" itemprop="dateModified" datetime="station.created_at"></time></a></div>
                                                      }
                                                    }
                                                    <div class="percent pull-right">@{session.percent}%</div>
                                                </div>
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: @{session.percent}%">
                                                        <span class="sr-only">@{session.percent}% </span>
                                                    </div>
                                                </div>
</div>

@currentReactionCN.filter(cn => Some(cn.session_id) == session.session.id).map { currentReaction =>
<div class="instant-input">
    <span class="element-thumb">@currentReaction.title</span>
    <button class="confirm-btn reaction_id @{currentReaction.reaction.id.getOrElse(0)}" data-session-id="@session.session.id" data-process-id="@session.process.id" data-reaction-id="@currentReaction.reaction.id.getOrElse(0)">@currentReaction.reaction.title</button>
    <div class="instant-input-attachment" data-session-id="@session.session.id"><span class="moicon moicon-paste"></span></div>

</div>
}


</div>
}
    	</div>
      }  
      }
    </div>
    <a href="/a#/launches" class="single-mail text-center">View All Sessions</a>
  </div>

