@import service.DemoUser
@import helpers._
@import controllers.employeeParams
@import controllers.managerParams
@import controllers.planInfo
@import models.DAO.resources.ActPermission
@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@import controllers.BusinessServiceForms._
@import securesocial.core.IdentityProvider
@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import play.api.Play
@import html5.tags.html._

@import models.DAO.resources.BusinessServiceDTO
@import models.DAO.resources.BusinessDTO
@(user: DemoUser, currentPage: Page[BusinessServiceDTO])(implicit request: RequestHeader, env: securesocial.core.RuntimeEnvironment[service.DemoUser])
@header_table(orderBy: Int, title: String) = {
    <th class="headerSortDown">
        @title
    </th>
}
  @if(user.isManager) {
    <div class="teamSettingsCheckbox">
      <header class="panel-heading head-border">@Messages("page.services")(LangDet.getLang(user) )</header>
      <p class="teamSettingsAbout">@Messages("page.servicesDesc")(LangDet.getLang(user) )</p>
    </div> 

  

  <div class="teamChangeBox teamPaddedBox servicePaddedTable">
      @Option(currentPage.items).filterNot(_.isEmpty).map { entities =>
        <table class="zebra-striped">
            <thead>
                <!--<tr>
                    @header_table(1, Messages("page.title")(LangDet.getLang(user) ) )
                    @header_table(2, "")
                    @header_table(3, "")
                </tr>-->
            </thead>
            <tbody>
                @entities.map {
                 case (entity) => {
                        <tr>
                            <td>
                                <a href="@routes.Application.app()#/bprocesses?service=@entity.id">@entity.title</a></td>
                            <td>
                                <a href="@routes.BusinessServiceController.update(entity.id.get)">@Messages("page.rename")(LangDet.getLang(user) )</a>

                            </td>
                            <td>
                              @form(routes.BusinessServiceController.destroy(entity.id.get), 'class -> "topRight") {
                                  <input type="submit" value="Delete" class="btn danger">
                              }
                            </td>
                        </tr>
                     }
                }
            </tbody>
        </table>
    }

  </div>
  <!-- <h2 class="teamBoxHeading">@Messages("page.managerBoard")(LangDet.getLang(user) ) </h2> -->
  <div class="showServiceForm">
    <span class="moicon moicon-plus"></span>
  </div>
  <div class="teamSettingsCheckbox serviceForm" style="display:none;">
    <div id="actions">
      <!--<a class="btn success" id="add" href="@routes.BusinessServiceController.create()">Add a service</a>-->
        @form(routes.BusinessServiceController.create_new()) {
        <fieldset>
        @text(serviceForm("title"), '_label -> Messages("page.title")(LangDet.getLang(user) ), 'class -> "form-control", 'placeholder -> Messages("page.title")(LangDet.getLang(user) ))
        </fieldset>

        <div class="actions">
          <input type="submit" value="Add" class="btn btn-primary"> 
        </div>
        }
    </div>
  </div>

  }
<script>
$('.showServiceForm span.moicon.moicon-plus').first().click(function(event) {
  event.preventDefault();
  $('.serviceForm').toggle();  
})
</script>