@import _root_.main.scala.simple_parts.process._
@import service.DemoUser
@import models.DAO.resources.{BusinessDAO, BusinessDTO}
@import models.DAO._
@import builders._
@import controllers._

@(title: String = "", sessionContainerOpt: Option[SessionContainer] = None, tree:Option[ElementTree]=None)(implicit lang: Lang)

<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">

  <title>Minority | @title</title>

  <meta name="viewport" content="width=device-width">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="author" content="Minority">

  <!-- Styles -->
  <link rel="stylesheet" href='@routes.Assets.versioned("css/auth/fonts.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("css/auth/footer.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("css/auth/website.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("css/auth/loginflow.css")' />
  <!-- /Styles -->
  <script src='@routes.Assets.versioned("javascripts/ssl.js")' type="text/javascript"></script>
  <link rel="shortcut icon" href="/assets/favicon.ico">
</head>
<body class="website loginFlow">

<!-- website-header -->
  <header id="websiteHeader"><div class="positioning">
<a class="headerLogotypeLink" href="//minorityapp.com/"><h1 class="visuallyhidden" title="Minority">Minority</h1><svg version="1.1" id="header_logotype" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 640 480" enable-background="new 0 0 640 480" xml:space="preserve">
<rect id="svgEditorBackground" y="28.2" fill="none" width="640" height="423.5" style="
"></rect>
<g id="workspace">
</g>
<g id="outerLayer" transform="matrix(1 0 0 1 -7.105427357601002e-15 -1.7763568394002505e-15)" style="
    fill: white;
">
<g id="_x23_fafafaff">
<path id="svg_1" d="M-0.4,28.7h640v423.5h-640V28.7 M88,196.4v181.2l122.9-99l-71.4-69.8l180.8,142.7l182.3-141.7l-71.4,70.8
l123.5,94.8V191.6l-116.2-91.2l-118.8,90.6l-116.2-90.1L88,196.4L88,196.4z"></path>
</g>
<g id="_x23_77787c">
</g>
</g>
<polygon id="e1_polygon" fill="#F0E68C" points="88,377.6 88,196.3 203.6,100.9 319.8,191.1 438.6,100.4 554.8,191.6 554.8,375.5
431.3,280.7 502.7,209.8 320.3,351.5 139.6,208.8 210.9,278.6 "></polygon>
</svg><div class="logo_title">Minority</div></a>
    <a class="to_nav" href="#navigation"><span class="visuallyhidden">Go to Navigation</span></a>
  </div></header>
<!-- /website-header -->

<div class="loginFlowPage">
Test:
  @sessionContainerOpt.map { sess =>
  @sess.sessions.length
    @sess.sessions.headOption.map { session_status =>
      <div class="shared_session">
        <div classs="shared_session_percent">@{session_status.percent}%</div>  
        <div class="shared_session_process_title">@{session_status.process.title}</div>
        @session_status.around.map { arr =>
          <div class="shared_session_elem_around">@{arr}</div>       
          <div class="shared_session_tree">
             @arr.tree.map { t => 
              <div class="shared_session_fronts">@t.variety.map { el => 
                  <p class="shared_session_elem el_tree_title">@el.b_type
                    @el.type_title @el.title</p>                  

               }</div>
              <div class="shared_session_spaces">@t.spaces</div>
              <div class="shared_session_nesteds">@t.varietySpaces.map { el => 
                  <p class="shared_session_nelem el_tree_title">@el.b_type
                    @el.type_title @el.title</p>
               }</div>                            
             } 
          </div> 
        }
      </div>
    
    }
  }
</div>

<script src='@routes.Assets.versioned("/js/jquery.js")'></script>
<script src='@routes.Assets.versioned("/js/auth/auth-hooker.js")'></script>

<!-- website-navigation -->
  <div id="navigation">
    <nav class="websiteNav positioning">
      <ul class="clearAfter websiteNavMenu">
        <!--<li class="websiteNavItem"><a class="websiteNavLink" target="_blank" href="http://minorityapp.com/#features">How It Works</a></li>-->
        <li class="websiteNavItem"><a class="websiteNavLink" target="_blank" href="https://minorityapp.com/">Product</a></li>
        <li class="websiteNavItem"><a class="websiteNavLink" target="_blank" href="https://minorityapp.com/contact">Support</a></li>
              </ul>
    </nav>
  </div>
<!-- /website-navigation -->

<!-- website-footer -->

<footer class="applicationFooter">

  <div class="applicationFooterRow">
    <div class="applicationFooterColumns">
    <div class="applicationFooterColumn">
    </div>
    <!--<div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Platform</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/#features">How It Works</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/">Product</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="min.ority.us/plans">Pricing</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/contacts">Help</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Company</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/blog">Blog</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/team">Team</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/jobs">Jobs</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/contacts">Contact</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/press">Press Kit</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Company</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/blog">Blog</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/team">Team</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/jobs">Jobs</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/contacts">Contact</a></li>
        <li><a class="applicationFooterListLink" target="_blank" href="minorityapp.com/press">Press Kit</a></li>
      </ul>
    </div></div>-->
  </div>

  <div class="applicationFooterRow">
    <p class="applicationFooterCopyright">2014—2016 &copy; Empire InCloud Inc. All rights reserved. <span class="applicationFooterCopyrightLinks">• <a href="http://minorityapp.com/tos" class="applicationFooterCopyrightLink">Terms</a> • <a href="https://www.iubenda.com/privacy-policy/" class="applicationFooterCopyrightLink">Privacy</a></span></p>
  </div>
</footer>
<!-- /website-footer -->


<script src='@routes.Assets.versioned("js/website-scroll.js")'></script>
<script src="/jsroutes.js"></script>
<script>
  websiteScroll();
  document.documentElement.className += ' js';
</script>
<script>
  window.intercomSettings = {
    app_id: "ckuh178p"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ckuh178p';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-13037685-4', 'auto');ga('send', 'pageview');</script>
<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter30361447 = new Ya.Metrika({ id:30361447, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/30361447" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>  

